<div class="d-flex flex-wrap gap-2">
	<HxButton Color="ThemeColor.Primary" CssClass="btn-styled" Text="Primary" />
	<HxButton Color="ThemeColor.Secondary" CssClass="btn-styled" Text="Secondary" />
	<HxButton Color="ThemeColor.Success" CssClass="btn-styled" Text="Success" />
	<HxButton Color="ThemeColor.Danger" CssClass="btn-styled" Text="Danger" />
	<HxButton Color="ThemeColor.Warning" CssClass="btn-styled" Text="Warning" />
	<HxButton Color="ThemeColor.Info" CssClass="btn-styled" Text="Info" />
	<HxButton Color="ThemeColor.Accent" CssClass="btn-styled" Text="Accent" />
	<HxButton Color="ThemeColor.Inverse" CssClass="btn-styled" Text="Inverse" />
</div>
