<div class="d-flex flex-wrap align-items-center gap-2">
	<HxButton Icon="BootstrapIcon.Check2" Color="ThemeColor.Primary" Size="ButtonSize.ExtraSmall" CssClass="btn-icon" AriaLabel="Confirm" />
	<HxButton Icon="BootstrapIcon.Check2" Color="ThemeColor.Primary" Size="ButtonSize.Small" CssClass="btn-icon" AriaLabel="Confirm" />
	<HxButton Icon="BootstrapIcon.Check2" Color="ThemeColor.Primary" CssClass="btn-icon" AriaLabel="Confirm" />
	<HxButton Icon="BootstrapIcon.Check2" Color="ThemeColor.Primary" Size="ButtonSize.Large" CssClass="btn-icon" AriaLabel="Confirm" />
</div>
