@attribute [Route("/components/" + nameof(HxSearchBox<TItem>))]

<ComponentApiDoc Type="typeof(HxSearchBox<TItem>)">
    <DocAlert Type="DocAlertType.Warning">
        Although <code>HxSearchBox</code> supports <a href="/components/Inputs#InputGroups">input groups</a>, ending input groups conflict with the search icon, therefore, when <code>InputGroupEndText</code> or <code>InputGroupEndTemplate</code> are set, the search icon is not displayed.
    </DocAlert>
    <ComponentApiDocCssVariable Name="--hx-search-box-item-icon-margin" Default="0 .5rem 0 0">
		Item icon margin.
	</ComponentApiDocCssVariable>
    <ComponentApiDocCssVariable Name="--hx-search-box-item-icon-font-size" Default="inherit">
		Item icon font-size.
	</ComponentApiDocCssVariable>
    <ComponentApiDocCssVariable Name="--hx-search-box-item-title-font-size" Default="inherit">
		Item title font-size.
	</ComponentApiDocCssVariable>
    <ComponentApiDocCssVariable Name="--hx-search-box-item-title-color" Default="inherit">
		Item title color.
	</ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-search-box-item-subtitle-font-size" Default=".75rem">
		Item subtitle font-size.
	</ComponentApiDocCssVariable>
    <ComponentApiDocCssVariable Name="--hx-search-box-item-subtitle-color" Default="var(--bs-secondary)">
		Item subtitle color.
	</ComponentApiDocCssVariable>
    <Demo Type="typeof(HxSearchBox_Demo)" />
</ComponentApiDoc>
