@page "/components/formstate"
@layout ComponentsLayout
	
<div class="components col-md-10">
	<h1>Form State</h1>
	<p class="lead">
		Allows to propagate form state as cascadint value &amp; parameter.
	</p>

	Nested components can consume forms state, ie. it can disable input. See sample.


</div>
