<svg class="d-block w-100" height="200" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
	<title>Placeholder</title>
	<rect width="100%" height="100%" fill="@Color" />
	<text x="50%" y="50%" fill="#ddd" dominant-baseline="middle" text-anchor="middle" font-size="30px">@Text</text>
</svg>

@code
{
	[Parameter] public string Text { get; set; }

	[Parameter] public string Color { get; set; } = "#666";
}