@attribute [Route("/components/" + nameof(HxCarousel))]

<ComponentApiDoc Type="typeof(HxCarousel)">

	<DocAlert>
		Always set one of the items as <code>Active="true"</code>, otherwise the carousel won't show at all.
	</DocAlert>

	<DocHeading Title="Slides only" />
	<Demo Type="typeof(HxCarousel_Demo_SlidesOnly)" />

    <DocHeading Title="Controls" />
	<Demo Type="typeof(HxCarousel_Demo_Controls)" />

    <DocHeading Title="Indicators" />
	<Demo Type="typeof(HxCarousel_Demo_Indicators)" />

    <DocHeading Title="Captions" />
	<Demo Type="typeof(HxCarousel_Demo_Captions)" />

    <DocHeading Title="Crossfade" />
	<Demo Type="typeof(HxCarousel_Demo_Crossfade)" />

	<DocHeading Title="Individual interval" />
	<p>With <code>Interval</code> parameter you can set the amount of time to delay (ms) between automatically cycling to the next item.</p>
	<Demo Type="typeof(HxCarousel_Demo_Intervals)" />

    <DocHeading Title="Disable automatic sliding" Id="automatic-sliding" />
	<p>If you want to disable automatic sliding, set the parameter <code>Ride="CarouselRide.False"</code>.</p>
	<Demo Type="typeof(HxCarousel_Demo_NoAutoSliding)" />

    <DocHeading Title="Disable touch swiping" Id="touch-swiping"/>
	<Demo Type="typeof(HxCarousel_Demo_TouchSwiping)" />

    <DocHeading Title="Disable pausing on hover" Id="slide-on-hover" />
	<p>
        Set <code>@nameof(HxCarousel.Pause)="@nameof(CarouselPause).@nameof(CarouselPause.False)"</code> to disable pausing the carousel on <code>mouseenter</code>.
        By default (<code>@nameof(HxCarousel.Pause)="@nameof(CarouselPause).@nameof(CarouselPause.Hover)"</code>), the carousel pauses the cycling on <code>mouseenter</code> and resumes the cycling on <code>mouseleave</code>.
    </p>
	<Demo Type="typeof(HxCarousel_Demo_Pause)" />

    <DocHeading Title="Dark variant" />
	<Demo Type="typeof(HxCarousel_Demo_Dark)" />

    <DocHeading Title="Events" />
	<Demo Type="typeof(HxCarousel_Demo_Events)" />

    <DocHeading Title="Programatic control" />
	<Demo Type="typeof(HxCarousel_Demo_ProgramaticControl)" />
</ComponentApiDoc>