@attribute [Route("/components/" + nameof(HxCarousel))]

<ComponentApiDoc Type="typeof(HxCarousel)">

	<DocAlert>
		Always set one of the items as <code>Active="true"</code>, otherwise the carousel won't show at all.
	</DocAlert>

	<SectionTitle Id="SlidesOnly" />
	<Demo Type="typeof(HxCarousel_Demo_SlidesOnly)" />

	<SectionTitle Id="Controls" />
	<Demo Type="typeof(HxCarousel_Demo_Controls)" />

	<SectionTitle Id="Indicators" />
	<Demo Type="typeof(HxCarousel_Demo_Indicators)" />

	<SectionTitle Id="Captions" />
	<Demo Type="typeof(HxCarousel_Demo_Captions)" />

	<SectionTitle Id="Crossfade" />
	<Demo Type="typeof(HxCarousel_Demo_Crossfade)" />

	<SectionTitle Id="IndividualInterval">Individual <code>HxCarouselItem</code> interval</SectionTitle>
	<p>With <code>Interval</code> parameter you can set the amount of time to delay (ms) between automatically cycling to the next item.</p>
	<Demo Type="typeof(HxCarousel_Demo_Intervals)" />

	<SectionTitle Id="AutomaticSliding">Disable automatic sliding</SectionTitle>
	<p>If you want to disable automatic sliding, set the parameter <code>Interval</code> to <code>null</code>.</p>
	<Demo Type="typeof(HxCarousel_Demo_NoAutoSliding)" />

	<SectionTitle Id="TouchSwiping">Disable touch swiping</SectionTitle>
	<Demo Type="typeof(HxCarousel_Demo_TouchSwiping)" />

	<SectionTitle Id="SlideOnHover">Disable pausing on hover</SectionTitle>
	<p>
        Set <code>@nameof(HxCarousel.Pause)="@nameof(CarouselPause).@nameof(CarouselPause.False)"</code> to disable pausing the carousel on <code>mouseenter</code>.
        By default (<code>@nameof(HxCarousel.Pause)="@nameof(CarouselPause).@nameof(CarouselPause.Hover)"</code>), the carousel pauses the cycling on <code>mouseenter</code> and resumes the cycling on <code>mouseleave</code>.
    </p>
	<Demo Type="typeof(HxCarousel_Demo_Pause)" />

	<SectionTitle Id="DarkVariant" />
	<Demo Type="typeof(HxCarousel_Demo_Dark)" />

	<SectionTitle Id="Events" />
	<Demo Type="typeof(HxCarousel_Demo_Events)" />

	<SectionTitle Id="ProgramaticControl" />
	<Demo Type="typeof(HxCarousel_Demo_ProgramaticControl)" />
</ComponentApiDoc>