<HxCarousel Controls="true" TouchSwiping="false">
    <HxCarouselItem Active="true">
        <div class="d-flex justify-content-center">Carousel Item 1</div>
    </HxCarouselItem>
    <HxCarouselItem>
        <div class="d-flex justify-content-center">Carousel Item 2</div>
    </HxCarouselItem>
    <HxCarouselItem>
        <div class="d-flex justify-content-center">Carousel Item 3</div>
    </HxCarouselItem>
</HxCarousel>
