@attribute [Route("/components/" + nameof(HxCarousel))]

<ComponentApiDoc Type="typeof(HxCarousel)">

	<DocAlert>
		Always set one of the items as <code>Active="true"</code>, otherwise the carousel won't show at all.
	</DocAlert>

	<h3 id="SlidesOnly">Slides only</h3>
	<Demo Type="typeof(HxCarousel_Demo_SlidesOnly)" />

	<h3 id="Controls">Controls</h3>
	<Demo Type="typeof(HxCarousel_Demo_Controls)" />

	<h3 id="Indicators">Indicators</h3>
	<Demo Type="typeof(HxCarousel_Demo_Indicators)" />

	<h3 id="Captions">Captions</h3>
	<Demo Type="typeof(HxCarousel_Demo_Captions)" />

	<h3 id="Crossfade">Crossfade</h3>
	<Demo Type="typeof(HxCarousel_Demo_Crossfade)" />

	<h3 id="IndividualInterval">Individual <code>HxCarouselItem</code> interval</h3>
	<p>With <code>Interval</code> parameter you can set the amount of time to delay (ms) between automatically cycling to the next item.</p>
	<Demo Type="typeof(HxCarousel_Demo_Intervals)" />

	<h3 id="AutomaticSliding">Disable automatic sliding</h3>
	<p>If you want to disable automatic sliding, set the parameter <code>Interval</code> to <code>null</code>.</p>
	<Demo Type="typeof(HxCarousel_Demo_NoAutoSliding)" />

	<h3 id="TouchSwiping">Disable touch swiping</h3>
	<Demo Type="typeof(HxCarousel_Demo_TouchSwiping)" />

	<h3 id="SlideOnHover">Disable pausing on hover</h3>
	<p>If set to <code>@CarouselPause.Hover.ToString()</code>, pauses the cycling of the carousel on <code>mouseenter</code> and resumes the cycling of the carousel on <code>mouseleave</code>. If set to <code>@CarouselPause.False.ToString()</code>, hovering over the carousel won't pause it.</p>
	<Demo Type="typeof(HxCarousel_Demo_SlideOnHover)" />

	<h3 id="DarkVariant">Dark variant</h3>
	<Demo Type="typeof(HxCarousel_Demo_Dark)" />

	<h3 id="Events">Events</h3>
	<Demo Type="typeof(HxCarousel_Demo_Events)" />

	<h3 id="ProgramaticControl">Programatic control</h3>
	<Demo Type="typeof(HxCarousel_Demo_ProgramaticControl)" />
</ComponentApiDoc>