<HxCarousel Controls="true">
    <HxCarouselItem Active="true" Interval="2000">
        <div class="d-flex justify-content-center">Carousel Item 1</div>
    </HxCarouselItem>
    <HxCarouselItem Interval="1000">
        <div class="d-flex justify-content-center">Carousel Item 2</div>
    </HxCarouselItem>
    <HxCarouselItem Interval="500">
        <div class="d-flex justify-content-center">Carousel Item 3</div>
    </HxCarouselItem>
</HxCarousel>
