<HxCarousel Controls="true" Indicators="true" @ref="carousel">
    <HxCarouselItem Active="true">
        <div class="d-flex justify-content-center">Carousel Item 1</div>
    </HxCarouselItem>
    <HxCarouselItem>
        <div class="d-flex justify-content-center">Carousel Item 2</div>
    </HxCarouselItem>
    <HxCarouselItem>
        <div class="d-flex justify-content-center">Carousel Item 3</div>
    </HxCarouselItem>
</HxCarousel>

<HxButton Color="ThemeColor.Primary" OnClick="() => carousel.Initialize()" CssClass="mt-2" Text="Initialize" />

@code {
    private HxCarousel carousel;
}