@attribute [Route("/components/" + nameof(HxSidebar))]
@attribute [Route("/components/" + nameof(HxSidebarItem))]
@attribute [Route("/components/" + nameof(HxSidebarBrand))]

<ComponentApiDoc Type="typeof(HxSidebar)">
	<MainContent>
		<DocHeading Title="Basic usage" />
		<Demo Type="typeof(HxSidebar_Demo)" />

        <DocHeading Title="Logo" />
		<p>Use your own custom logo in the sidebar header by setting the <code>LogoTemplate</code> parameter (<code>RenderFragment</code>) on the <code>HxSidebarBrand</code> component.</p>
		<Demo Type="typeof(HxSidebar_Demo_Logo)" />

        <DocHeading Title="Custom content for items" />
		<p>If you'd like to include more than just an icon and text in the <code>HxSidebarItem</code>, you can do so with the <code>ContentTemplate</code> parameter.</p>
		<Demo Type="typeof(HxSidebar_Demo_ItemCustomContent)" />

        <DocHeading Title="Multiple items expansion" />
		<p>If you set <code>MultipleItemsExpansion="false"</code>, upon item expansion, all other items are collapsed. If <code>true</code> (default), multiple items can be expanded at one time.</p>
		<Demo Type="typeof(HxSidebar_Demo_MultipleItemsExpansion)" />

        <DocHeading Title="Expand & collapse from code" Id="expand-collapse" />
		<p>Use bindable <code>Collapsed</code> parameter to set or track sidebar state.</p>
		<Demo Type="typeof(HxSidebar_Demo_ProgramaticallyExpandCollapse)" />

		<DocHeading Title="Custom toggler" />
		<p>With <code>TogglerTemplate</code> you can set a custom toggler for the desktop version to be rendered instead of the default <a href="/HxSidebar#ExpandIcon">ExpandIcon</a> and <a href="/HxSidebar#CollapseIcon">CollapseIcon</a>. Render varying content based on the <a href="/types/SidebarTogglerTemplateContext">SidebarTogglerTemplateContext</a>.</p>
		<Demo Type="typeof(HxSidebar_Demo_TogglerTemplate)" />

		<DocHeading Title="Responsive layout sample" />
		<p>
			To achieve responsiveness of the sidebar (such as this documentation site has) you need to adjust application layout.
			The main layout might look like:
		</p>
		<CodeSnippet File="~\Pages\Components\HxSidebarDoc\HxSidebar_Layout.CodeSnippet.razor" />
		<DocAlert Type="DocAlertType.Warning">
			If you are using standard Blazor application template, you need to remove all the unnecessary CSS rules from <code>site.css</code>.
		</DocAlert>
		<p>You don't need any other layout-related CSS in <code>site.css</code>:</p>
		<CodeSnippet File="~\Pages\Components\HxSidebarDoc\HxSidebar_Setup.CodeSnippet.css" />
	</MainContent>
	<CssVariables>
		<ComponentApiDocCssVariable Name="--hx-sidebar-background-color" Default="transparent">
			Background color.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-collapsed-width" Default="72px">
			Width of collapsed sidebar.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-width" Default="250px">
			Width of the sidebar.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-toggler-border" Default="1px solid var(--bs-border-color)">
			Toggler border.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-toggler-background" Default="var(--bs-body-bg)">
			Toggler background.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-toggler-color" Default="var(--bs-body-color)">
			Toggler color.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-font-size" Default="1rem">
			Font size of the items.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-padding" Default=".75rem">
			Padding of the items.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-color" Default="var(--bs-body-color)">
			Color of the items.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-icon-color" Default="var(--bs-primary)">
			Color of the items icons.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-hover-color" Default="var(--bs-primary)">
			Color of the items on hover.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-hover-icon-color" Default="var(--bs-primary)">
			Color of the items icon on hover.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-border-radius" Default="var(--bs-border-radius-lg)">
			Border radius of the items.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-hover-background-color" Default="var(--bs-primary-rgb)">
			Background color of the items on hover.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-hover-background-opacity" Default=".05">
			Background opacity of the items on hover.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-item-margin" Default="0 0 .25rem 0">
			Margin of the items.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-subitem-font-size" Default=".875rem">
			Font size of the subitems.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-subitem-padding" Default=".5rem">
			Padding of the subitems.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-subitem-margin" Default="0 0 .25rem 2rem">
			Margin of the subitems.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-header-padding" Default="1rem">
			Padding of the sidebar header.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-body-padding" Default="0 1rem">
			Padding of the sidebar body.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-padding" Default="1rem">
			Padding of the sidebar footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-shortname-background-color" Default="var(--bs-primary)">
			Background color of the brand short name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-shortname-border-radius" Default=".625rem">
			Border radius of the brand short name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-shortname-color" Default="var(--bs-white)">
			Color of the brand short name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-shortname-width" Default="2.5rem">
			Width of the brand short name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-shortname-height" Default="2.5rem">
			Height of the brand short name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-shortname-font-weight" Default="600">
			Font weight of the brand short name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-logo-width" Default="2.5rem">
			Width of the brand logo.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-logo-height" Default="2.5rem">
			Height of the brand logo.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-name-color" Default="var(--bs-body-color)">
			Color of the brand name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-brand-name-font-weight" Default="600">
			Font weight of the brand name.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-padding" Default=".75rem">
			Padding of the items in the footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-margin" Default="0">
			Margin of the items in the footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-font-size" Default="1rem">
			Font size of the items in the footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-color" Default="unset">
			Color of the items in the footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-radius" Default="unset">
			Radius of the items in the footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-hover-background-color" Default="unset">
			Background color on hover of the items in the footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-hover-background-opacity" Default="unset">
			Background opacity on hover of the items in the footer.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-sidebar-footer-item-hover-color" Default="unset">
			Color on hover of the items in the footer.
		</ComponentApiDocCssVariable>

	</CssVariables>
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxSidebarItem)" />
<ComponentApiDoc Type="typeof(HxSidebarBrand)" />