<HxSidebar>
	<HeaderTemplate>
        <HxSidebarBrand BrandName="Brand name" BrandNameShort="BN"/>
    </HeaderTemplate>

    <ItemsTemplate>
        <HxSidebarItem Text="Dashboard" Href="TODO" Icon="BootstrapIcon.Columns"/>
        <HxSidebarItem Text="Employees (plain)" Icon="BootstrapIcon.People">
            <HxSidebarItem Text="Overview" Href="/HxSidebarTest#x1" Match="NavLinkMatch.All"/>
            <HxSidebarItem Text="Absences" Href="TODO"/>
        </HxSidebarItem>
        <HxSidebarItem Text="Mine (with icons)" Href="TODO" Icon="BootstrapIcon.Person">
            <HxSidebarItem Text="Overview" Icon="BootstrapIcon.Wallet2" Href="#"/>
            <HxSidebarItem Text="Timesheets" Icon="BootstrapIcon.Clock"Href="TODO"/>
            <HxSidebarItem Text="Absences" Icon="BootstrapIcon.Exclamation" Href="TODO"/>
        </HxSidebarItem>
        <HxSidebarItem Text="Administration" Href="TODO" Icon="BootstrapIcon.Gear"/>
    </ItemsTemplate>

    <TogglerTemplate>
		<div class="d-flex">
			@if (context.SidebarCollapsed)
			{
				<span style="transform: translateX(10px) rotate(-90deg); font-size: 0.5rem;">
					OPEN
				</span>
				<HxIcon Icon="BootstrapIcon.CaretRight" />
			}
			else
			{
				<HxIcon Icon="BootstrapIcon.CaretLeft" />
				<span style="transform: translateX(-10px) rotate(90deg); font-size: 0.5rem;">
					CLOSE
				</span>
			}
		</div>
	</TogglerTemplate>
	<FooterTemplate>
        <HxSidebarFooter Href="https://github.com/havit/Havit.Blazor" Icon="BootstrapIcon.Github" Text="Login"/>
    </FooterTemplate>
</HxSidebar>

