@attribute [Route("/components/" + nameof(HxGoogleTagManager))]
@attribute [Route("/components/" + nameof(HxGoogleTagManagerPageViewTracker))]
@using Havit.Blazor.GoogleTagManager

<ComponentApiDoc Type="typeof(HxGoogleTagManager)">
    <DocAlert Type="DocAlertType.Warning">
        <code>HxGoogleTagManager</code> and related components are distributed in separate NuGet package: <a href="https://www.nuget.org/packages/Havit.Blazor.GoogleTagManager">Havit.Blazor.GoogleTagManager</a>.
    </DocAlert>

	<DocHeading Title="Basic usage" />
	<p>Install GTM support through application statup:</p>
	<CodeSnippet File="~\Pages\Components\HxGoogleTagManagerDoc\HxGoogleTagManager_ServiceRegistration.CodeSnippet.cs" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxGoogleTagManagerPageViewTracker)">
    <DocHeading Title="Basic usage" Id="HxGoogleTagManagerPageViewTracker-basic-usage" />
	<p>Install GTM support through application statup (see above) and add <code>HxGoogleTagManagerPageViewTracker</code> to <code>App.razor</code> or <code>MainLayout.razor</code></p>
	<CodeSnippet Language="html">@("<HxGoogleTagManagerPageViewTracker />")</CodeSnippet>
</ComponentApiDoc>