@attribute [Route("/components/" + nameof(HxDrawer))]

<ApiDoc Type="typeof(HxDrawer)">
    <MainContent>
        <DocAlert Type="DocAlertType.Warning">
            Similar to modals, only one drawer can be shown at a time.<br />
            (We hide the current drawer if you show a new one.)
        </DocAlert>

        <DocHeading Title="Basic usage" />
        <Demo Type="typeof(HxDrawer_Demo)" Tabs="false" />

        <DocHeading Title="Custom close-button icon" />
        <Demo Type="typeof(HxDrawer_Demo_CustomCloseButtonIcon)" />

        <DocHeading Title="Placement" />
        <p>Choose the placement of the Drawer by setting the <code>Placement</code> parameter.</p>
        <Demo Type="typeof(HxDrawer_Demo_Placement)" />

        <DocHeading Title="Backdrop" />
        <p>By default, the backdrop is enabled (<code>DrawerBackdrop.True</code>). You can disable it with <code>Backdrop="DrawerBackdrop.False"</code>.</p>
        <Demo Type="typeof(HxDrawer_Demo_Backdrop)" />

        <DocHeading Title="Static backdrop" />
        <p>When the backdrop is set to <code>DrawerBackdrop.Static</code>, the drawer will not close when clicking outside of it.</p>
        <Demo Type="typeof(HxDrawer_Demo_StaticBackdrop)" />

        <DocHeading Title="Responsive" />
        <p>When a value is supplied to the <code>ResponsiveBreakpoint</code> parameter, the content is displayed using the drawer when below the selected breakpoint.</p>
        <Demo Type="typeof(HxDrawer_Demo_Responsive)" />

        <DocHeading Title="Size" />
        <p>Set the size of the <code>HxDrawer</code> with the <code>Size</code> parameter. The default value is <code>DrawerSize.Regular</code>.</p>
        <Demo Type="typeof(HxDrawer_Demo_Size)" />

        <DocHeading Title="Sheet" />
        <p>Set <code>Sheet="true"</code> to render the drawer as a flush-to-edge sheet (no inset, border radius, or shadow) using the <code>drawer-sheet</code> variant.</p>
        <Demo Type="typeof(HxDrawer_Demo_Sheet)" />
    </MainContent>
    <CssVariables>
        <ApiDocCssVariable Name="--hx-drawer-close-icon-font-size" Default="2rem">
            Drawer close icon font size.
        </ApiDocCssVariable>
        <ApiDocCssVariable Name="--hx-drawer-footer-padding-x" Default="1rem">
            Horizontal padding of the footer.
        </ApiDocCssVariable>
        <ApiDocCssVariable Name="--hx-drawer-footer-padding-y" Default="1rem">
            Vertical padding of the footer.
        </ApiDocCssVariable>
        <ApiDocCssVariable Name="--hx-drawer-horizontal-width-sm" Default="400px">
            Horizontal width on a small screen size.
        </ApiDocCssVariable>
        <ApiDocCssVariable Name="--hx-drawer-horizontal-width-lg" Default="600px">
            Horizontal width on a large screen size.
        </ApiDocCssVariable>

    </CssVariables>
</ApiDoc>
