@namespace Havit.Blazor.Documentation.Server.Pages
@using System.Diagnostics;
@using System.Reflection;
@using System.Web;
@using Havit.Blazor.Documentation
@using Havit.Blazor.Documentation.Shared.Components.DocColorMode;
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IDocColorModeResolver DocColorModeResolver

<!doctype html>
<html lang="en" data-bs-theme="@DocColorModeResolver.GetColorMode().ToString("g").ToLowerInvariant()">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="~/" />

	<script src="/js/color-mode-auto.js" asp-append-version="true"></script>

	@Html.Raw(HxSetup.RenderBootstrapCssReference())
	<link href="_content/Havit.Blazor.Components.Web.Bootstrap/defaults.css" rel="stylesheet" asp-append-version="true" />
	<link href="Havit.Blazor.Documentation.styles.css" rel="stylesheet" asp-append-version="true" /> @* CSS Isolation *@
	<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet" /> @* Prism: Syntax Highlighting *@
	<link href="https://cdn.jsdelivr.net/npm/prism-themes@1.8.0/themes/prism-vs.css" rel="stylesheet" /> @* Prism: Syntax Highlighting *@
	<link rel="stylesheet" href="_content/Havit.Blazor.Components.Web.Bootstrap.Smart/smart.css">@* TODO: Integrate into Blazor CSS bundle *@
	<link href="/css/site.css" rel="stylesheet" asp-append-version="true" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JWLD6SQ66F"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-JWLD6SQ66F');
	</script>
    <component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered" />
</head>
<body>
	<div>
		<app>
			@RenderBody()
		</app>

		<!--googleoff: index-->
		<div id="blazor-error-ui">
			An unhandled error has occurred.
			<a href="" class="reload">Reload</a>
			<a class="dismiss">🗙</a>
		</div>
		<!--googleon: index-->
	</div>

	<script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version="true"></script>
	@Html.Raw(HxSetup.RenderBootstrapJavaScriptReference())

	@* Prism: Syntax Highlighting *@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
	<script src="/js/app.js" asp-append-version="true"></script>
	<script>
		Blazor.start({
			applicationCulture: 'en-US'
		});
	</script>
	<persist-component-state />
</body>
</html>
