@namespace Havit.Blazor.Components.Web.Bootstrap
<span class="@CssClassHelper.Combine("badge", ColorEffective.ToBackgroundColorCss(), GetTypeCss(), TextColorEffective.ToTextColorCss(), CssClassEffective)" @attributes="AdditionalAttributes">@ChildContent</span>