@namespace Havit.Blazor.Components.Web.Bootstrap
<span class="@CssClassHelper.Combine("badge", GetBackgroundColorCss(), GetTypeCss(), TextColorEffective.ToTextColorCss(), CssClassEffective)" @attributes="AdditionalAttributes">@ChildContent</span>