@namespace Havit.Blazor.Components.Web.Bootstrap
<span class="@CssClassHelper.Combine("badge", GetVariantCss(), ColorEffective.ToThemeCss(), GetTypeCss(), CssClassEffective)" @attributes="AdditionalAttributes">@ChildContent</span>