@namespace Havit.Blazor.Components.Web.Bootstrap
<span class="@CssClassHelper.Combine("badge", Color.ToBackgroundColorCss(), GetTypeCss(), TextColor.ToTextColorCss(), this.CssClass)" @attributes="AdditionalAttributes">@ChildContent</span>