@attribute [Route("/components/" + nameof(HxNamedViewList<string>))]

<ComponentApiDoc Type="typeof(HxNamedViewList<string>)">
    <DocAlert>Use <code>HxNamedViewList</code> inside of <a href="/components/HxListLayout">HxListLayout</a>.</DocAlert>
</ComponentApiDoc>