@attribute [Route("/components/" + nameof(HxNamedViewList<string>))]

<ComponentApiDoc Type="typeof(HxNamedViewList<string>)">
    <HxAlert Color="ThemeColor.Info"><HxIcon Icon="@BootstrapIcon.InfoCircleFill" /> Use <code>HxNamedViewList</code> inside of <a href="/components/HxListLayout">HxListLayout</a>.</HxAlert>
</ComponentApiDoc>