@attribute [Route("/components/" + nameof(HxNamedViewList<TModel>))]

<ComponentApiDoc Type="typeof(HxNamedViewList<TModel>)">
    <DocAlert>Use <code>HxNamedViewList</code> inside of <a href="/components/HxListLayout">HxListLayout</a>.</DocAlert>
</ComponentApiDoc>