@attribute [Route("/components/" + nameof(HxInputCheckbox))]

<ComponentApiDoc Type="typeof(HxInputCheckbox)">
    <Demo Type="typeof(HxInputCheckbox_Demo)" Tabs="false" />

    <DocAlert Type="DocAlertType.Info"><code>HxInputCheckbox</code> can be used within <a href="/components/HxButtonGroup#CheckboxGroup">HxButtonGroup</a>.</DocAlert>
</ComponentApiDoc>