@attribute [Route("/components/" + nameof(HxListGroup))]

<ComponentApiDoc Type="typeof(HxListGroup)">
    <h3>Example</h3>
    <Demo Type="typeof(HxListGroup_Demo)" Tabs="false" />

    <h3>Colors</h3>
    <Demo Type="typeof(HxListGroup_Demo_Colors)" />

    <h3>Active and disabled items</h3>
    <Demo Type="typeof(HxListGroup_Demo_ActiveAndDisabled)" />

    <h3>Buttons</h3>
    <Demo Type="typeof(HxListGroup_Demo_Buttons)" />

    <h3>Flush</h3>
    <p>Use flush to remove some borders and rounded corners to render list group items edge-to-edge in a parent container (e.g., <a href="/components/HxCard">HxCard</a>).</p>
    <Demo Type="typeof(HxListGroup_Demo_Flush)" />

    <h3>Numbered</h3>
    <Demo Type="typeof(HxListGroup_Demo_Numbered)" />

    <h3>Horizontal</h3>
    <Demo Type="typeof(HxListGroup_Demo_Horizontal)" />

    <p>Set <code>EqualWidthItems="true"</code>, if you want all the items to have the same width when horizontal.</p>
    <Demo Type="typeof(HxListGroup_Demo_EqualWidthItems)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxListGroupItem)" />