<HxListGroup>
    <HxListGroupItem OnClick="() => SetLastButtonClicked(1)">An item</HxListGroupItem>
    <HxListGroupItem OnClick="() => SetLastButtonClicked(2)">A second item</HxListGroupItem>
    <HxListGroupItem OnClick="() => SetLastButtonClicked(3)">A third item</HxListGroupItem>
    <HxListGroupItem OnClick="() => SetLastButtonClicked(4)">A fourth item</HxListGroupItem>
    <HxListGroupItem OnClick="() => SetLastButtonClicked(5)">And a fifth one</HxListGroupItem>
</HxListGroup>

<br />
<div>@lastButtonClicked</div>

@code {
    private string lastButtonClicked = "An item is yet to be clicked.";

    private void SetLastButtonClicked(int number)
    {
        lastButtonClicked = $"Item number {number} has been clicked!";
        InvokeAsync(StateHasChanged);
    }
}
