@attribute [Route("/components/" + nameof(HxListGroup))]

<div>@* CSS isolation support *@
	<ComponentApiDoc Type="typeof(HxListGroup)">
		<DocHeading Title="Basic usage" />
		<Demo Type="typeof(HxListGroup_Demo)" Tabs="false" />

        <DocHeading Title="Active and disabled items" />
		<p>
			Set <code>Active="true"</code> to the list-group item to indicate the current active selection.
			Set <code>Enabled="false"</code> to the list-group item to make it <i>appear</i> disabled.
		</p>
		<Demo Type="typeof(HxListGroup_Demo_ActiveAndDisabled)" />

        <DocHeading Title="Links" />
		<p>Use <code>&lt;HxListGroupItemNavLink /&gt;</code> component to create a link item in list-group.</p>
		<Demo Type="typeof(HxListGroup_Demo_Links)" />

        <DocHeading Title="Buttons" />
		<p>Add <code>OnClick</code> parameter to make the list-group item behave like a button.</p>
		<Demo Type="typeof(HxListGroup_Demo_Buttons)" />

        <DocHeading Title="Flush" />
		<p>Use flush to remove some borders and rounded corners to render list group items edge-to-edge in a parent container (e.g., <a href="/components/HxCard">HxCard</a>).</p>
		<Demo Type="typeof(HxListGroup_Demo_Flush)" />

        <DocHeading Title="Numbered" />
		<p>Add the <code>Numbered="true"</code> parameter to opt into numbered list group items.</p>
		<Demo Type="typeof(HxListGroup_Demo_Numbered)" />
		<p>These work great with custom content as well.</p>
		<Demo Type="typeof(HxListGroup_Demo_NumberedCustomContent)" />

        <DocHeading Title="Horizontal" />
		<p>Use <code>Horizontal</code> parameter to change the layout of the list group items from vertical to horizontal (incl. responsive breakpoint).</p>
		<Demo Type="typeof(HxListGroup_Demo_Horizontal)" />

        <DocHeading Title="Colors" />
		<p>Use <code>Color</code> parameter to set contextual color for list-group item.</p>
		<Demo Type="typeof(HxListGroup_Demo_Colors)" />

        <DocHeading Title="With badges" />
        <p>Add badges to any list group item to show unread counts, activity, and more.</p>
		<Demo Type="typeof(HxListGroup_Demo_Badges)" />

        <DocHeading Title="Custom content" />
		<p>Add nearly any component or element within.</p>
		<Demo Type="typeof(HxListGroup_Demo_CustomContent)" />
	</ComponentApiDoc>

	<ComponentApiDoc Type="typeof(HxListGroupItem)" />
</div>