@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="text-center text-secondary my-5">
    <div class="fs-3"><HxIcon Icon="@BootstrapIcon.Inbox" /></div>
    <div>@HxGridLocalizer["NoData"]</div>

    @if (ChildContent != null)
    {
        <div class="my-3">
            @ChildContent
        </div>
    }
</div>
