<ul role="button" class="pagination">

	@if (showFirstLast)
	{
		<li class="page-item">
			<a class="page-link" @onclick="() => ChangeCurrentPageIndexTo(0)">
				<svg class="bi bi-chevron-double-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
					<path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
				</svg>
			</a>
		</li>
	}

	@for (int i = pageFromInclusive; i < pageToExclusive; i++)
	{
		int j = i;
		if (i == CurrentPageIndex)
		{
			<li class="page-item active">
				<a class="page-link">@((j + 1).ToString())</a>
			</li>
		}
		else
		{
			<li class="page-item"><a class="page-link" @onclick="() => ChangeCurrentPageIndexTo(j)">@((j + 1).ToString("N0"))</a></li>
		}
	}

	@if (showFirstLast)
	{
		<li class="page-item">
			<a class="page-link" @onclick="() => ChangeCurrentPageIndexTo(TotalPages - 1)">
				<svg class="bi bi-chevron-double-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
					<path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
				</svg>
			</a>
		</li>
	}

	@if (ShowAllButton)
	{
		<li class="page-item">
			<a class="page-link" @onclick="ShowAllButtonClick">
				<span>all</span>
			</a>
		</li>
	}
</ul>
