@namespace  Havit.Blazor.Components.Web.Bootstrap
@{
	int pageFromInclusive = ((this.CurrentPageIndex / this.DisplayNumberCount) * this.DisplayNumberCount);
	int pageToExclusive = Math.Min(TotalPages, pageFromInclusive + this.DisplayNumberCount);
	bool showFirstLast = true; // always
}

<ul role="button" class="pagination">

	@if (showFirstLast)
	{
		<li class="page-item">
			<a class="page-link" @onclick="async () => await SetCurrentPageIndexTo(0)">
				<HxIcon Icon="@BootstrapIcon.ChevronDoubleLeft" />
			</a>
		</li>
	}

	@if (pageFromInclusive > 0)
	{
		<li class="page-item"><a class="page-link" @onclick="async () => await SetCurrentPageIndexTo(pageFromInclusive - 1)">...</a></li>
	}

	@for (int i = pageFromInclusive; i < pageToExclusive; i++)
	{
		int j = i;
		if (i == CurrentPageIndex)
		{
			<li class="page-item active">
				<a class="page-link">@((j + 1).ToString())</a>
			</li>
		}
		else
		{
			<li class="page-item"><a class="page-link" @onclick="async () => await SetCurrentPageIndexTo(j)">@((j + 1).ToString("N0"))</a></li>
		}
	}

	@if (pageToExclusive < (this.TotalPages - 1))
	{
		<li class="page-item"><a class="page-link" @onclick="async () => await SetCurrentPageIndexTo(pageToExclusive)">...</a></li>
	}

	@if (showFirstLast)
	{
		<li class="page-item">
			<a class="page-link" @onclick="async () => await SetCurrentPageIndexTo(TotalPages - 1)">
				<HxIcon Icon="@BootstrapIcon.ChevronDoubleRight" />
			</a>
		</li>
	}
</ul>
