@attribute [Route("/components/" + nameof(HxAccordion))]
@attribute [Route("/components/" + nameof(HxAccordionItem))]

<ComponentApiDoc Type="typeof(HxAccordion)">
	<div class="alert alert-info">
		Do not use constant value for <code>@nameof(HxAccordion.ExpandedItemId)</code> as it reverts the accordion to that item on every roundtrip. Use <code>@nameof(HxAccordion.InitialExpandedItemId)</code> to set the initial state.
	</div>

	<h2>Examples</h2>
	
	<h3>Plain, No IDs</h3>
	<Demo Type="typeof(HxAccordion_PlainDemo)" />
	
	<h3>Complex demo</h3>
	<Demo Type="typeof(HxAccordion_ComplexDemo)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxAccordionItem)" />