@page "/components/HxSpinner"

<ComponentApiDoc Type="typeof(HxSpinner)" DisplayBootstrapLink="false">
    <p class="lead">
        Bootstrap Spinner (usually indicates operation in progress).
        <a href="https://getbootstrap.com/docs/5.0/components/spinners/">https://getbootstrap.com/docs/5.0/components/spinners/</a>
    </p>

    <Demo Type="typeof(HxSpinner_Demo)" />
</ComponentApiDoc>
