@page "/components/HxSpinner"

<ComponentApiDoc Type="typeof(HxSpinner)">
    <DocHeading Title="Border spinner" />
    <p>Use the border spinners for a lightweight loading indicator.</p>
    <Demo Type="typeof(HxSpinner_Demo_Border)" Tabs="false" />

    <DocHeading Title="Colors" />
    <p>You can customize the color of the spinner with the <code>Color</code> parameter.</p>
    <Demo Type="typeof(HxSpinner_Demo_Colors)" />

    <DocHeading Title="Growing spinner" />
    <p>If you don’t fancy a border spinner, switch to the grow spinner. While it doesn’t technically spin, it does repeatedly grow!</p>
    <Demo Type="typeof(HxSpinner_Demo_Growing)" Tabs="false" />

    <p>Once again, you can customize the color of the spinner with the <code>Color</code> parameter.</p>
    <Demo Type="typeof(HxSpinner_Demo_GrowingColors)" />

    <DocHeading Title="Size" />
    <Demo Type="typeof(HxSpinner_Demo_Size)" Tabs="false" />
</ComponentApiDoc>
