@attribute [Route("/components/" + nameof(HxBreadcrumb))]
@attribute [Route("/components/" + nameof(HxBreadcrumbItem))]

<ApiDoc Type="typeof(HxBreadcrumb)">
    <DocHeading Title="Basic usage" />
    <p>Set <code>HxBreadcrumbItem.Active</code> to <code>true</code> to indicate the current page the user is on.</p>
    <Demo Type="typeof(HxBreadcrumb_Demo)" Tabs="false" />

    <DocHeading Title="Dividers" />
    <p>Dividers are rendered automatically between items. By default, Bootstrap 6 renders a built-in chevron (a CSS <code>mask-image</code> tinted with <code>currentcolor</code>); use <code>DividerTemplate</code> to provide custom separator content.</p>
    <Demo Type="typeof(HxBreadcrumb_Demo_Dividers)" />

    <p>It is also possible to use an embedded SVG icon in the <code>DividerTemplate</code> as shown below.</p>
    <Demo Type="typeof(HxBreadcrumb_Demo_SVGIcon)" />
</ApiDoc>

<ApiDoc Type="typeof(HxBreadcrumbItem)" />