@attribute [Route("/components/" + nameof(HxBreadcrumb))]
@attribute [Route("/components/" + nameof(HxBreadcrumbItem))]

<ComponentApiDoc Type="typeof(HxBreadcrumb)">
	<DocHeading Title="Basic usage" />
	<p>Set <code>HxBreadcrumbItem.Active</code> to <code>true</code> to indicate what page the user is currently on.</p>
	<Demo Type="typeof(HxBreadcrumb_Demo)" Tabs="false" />

	<DocHeading Title="Dividers" />
	<p>Dividers are automatically added. They can be changed by modifying the <code>Divider</code> parameter. Default is <code>/</code>.</p>
	<Demo Type="typeof(HxBreadcrumb_Demo_Dividers)" />

	<p>It’s also possible to use an embedded SVG icon. Apply it via the <code>Divider</code> parameter as shown below.</p>
	<Demo Type="typeof(HxBreadcrumb_Demo_SVGIcon)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxBreadcrumbItem)" />