@inherits HxFilterBase<DateRange>
<HxFilter Label="@Label">
	<LabelTemplate>@LabelTemplate</LabelTemplate>
	<FilterTemplate>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Od</span>
			</div>
			<input type="date" class="form-control">
		</div>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Do</span>
			</div>
			<input type="date" class="form-control">
		</div>
	</FilterTemplate>
	<ChipTemplate></ChipTemplate>
</HxFilter>