@inherits HxFilterBase<DateRange>
<HxFilter Label="@Label">
	<LabelTemplate>@LabelTemplate</LabelTemplate>
	<FilterTemplate>
		<div class="row">
			<div class="col">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Od</span>
					</div>
					@*Extrahovat do samostatného inputu*@
					<input type="date" class="form-control" value="@(Value?.StartDate?.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture))" @onchange="StartDateChanged" format-value="yyyy-MM-dd" placeholder="" />
				</div>
			</div>
			<div class="col">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Do</span>
					</div>
					@*Reusovat ze samostatného inputu*@
					<input type="date" class="form-control" value="@(Value?.EndDate?.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture))" @onchange="EndDateChanged" format-value="yyyy-MM-dd" placeholder="" />
				</div>
			</div>
		</div>
	</FilterTemplate>
	<ChipTemplate></ChipTemplate>
</HxFilter>