@inherits HxFilterBase<DateRange>
<HxFilter Label="@Label">
	<LabelTemplate>@LabelTemplate</LabelTemplate>
	<FilterTemplate>
		<div class="row">
			<div class="col">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Od</span>
					</div>
					<input type="date" class="form-control" value="Value?.StartDate" @onchange="StartDateChanged" />
				</div>
			</div>
			<div class="col">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Do</span>
					</div>
					<input type="date" class="form-control" value="Value?.EndDate" @onchange="EndDateChanged" />
				</div>
			</div>
		</div>
	</FilterTemplate>
	<ChipTemplate></ChipTemplate>
</HxFilter>