
@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="hx-progress-overlay">
	@if (progressIndicatorVisible)
	{
		<div class="hx-progress-indicator position-absolute top-50 start-50 translate-middle bg-white rounded-circle shadow-sm d-flex justify-content-center align-items-center">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden"></span>
			</div>
		</div>
	}
	@ChildContent
</div>
