@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine(GetSpinnerTypeCssClass(), GetSpinnerSizeCssClass(), GetSpinnerColorCssClass(), this.CssClass)" role="status" aria-hidden="true">
	<span class="visually-hidden">@Localizer["HiddenText"]</span>
</div>