@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine(GetSpinnerTypeCssClass(), GetSpinnerSizeCssClass(), Color.ToTextColorCss(), CssClass)" role="status">
	<span class="visually-hidden">@Localizer["HiddenText"]</span>
</div>