@attribute [Route("/components/" + nameof(HxInputNumber))]

<ComponentApiDoc Type="typeof(HxInputNumber<TValue>)">

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxInputNumber_Demo)" Tabs="false" />

    <DocHeading Title="Input modes" />
    <p><code>InputMode</code> is a hint to browsers as to the type of virtual keyboard configuration to use when editing.</p>
    <p>
        If not set (neither with parameter, <code>Settings</code> nor <code>HxInputNumber.Defaults</code>),
        the <code>InputMode.Numeric</code> will be used for inputs with <code>Decimals</code> equal to <code>0</code>.
    </p>
    <DocAlert Type="DocAlertType.Info">
        Note: We are not defaulting to <code>InputMode.Decimal</code> for inputs with <code>Decimals</code> greater that <code>0</code>
        as the users with keyboard locale not matching the application locale won't be able to enter decimal point
        (is <kbd>,</kbd> in some locales and <kbd>.</kbd> in others). Feel free to set the <code>InputMode</code> on your own as needed.
    </DocAlert>
    <Demo Type="typeof(HxInputNumber_Demo_InputMode)" />

</ComponentApiDoc>