* text=auto

# 
*.ascx text
*.aspx text
*.cd text
*.cmd text
*.coffee text
*.config text
*.cs text diff=csharp 
*.csproj text
*.cshtml text
*.css text
*.dtd text
*.edmx text
*.htm text diff=html
*.html text diff=html
*.js text
*.json text
*.msbuild text
*.nuspec text
*.resx text
*.ruleset text
*.StyleCop text
*.targets text
*.tt text
*.txt text
*.vb text
*.vbhtml text
*.vbproj text
*.vbs text
*.wsf text
*.xml text
*.xunit text

# Project files
*.sln text
*.csproj text
*.vbproj text
*.vcxproj text
*.vcproj text
*.dbproj text
*.fsproj text
*.lsproj text
*.wixproj text
*.modelproj text
*.sqlproj text
*.wmaproj text

*.xproj text
*.props text
*.filters text
*.vcxitems text
