@namespace Havit.Blazor.Components.Web.Bootstrap
@{ 
	if (!steps.Any(item => item.IsActive) && steps.Any())
	{
		steps[0].Activate();
	}
}

<CascadingValue Value="stepsRegistration" Name="WizardStepsRegistration" IsFixed="true"> @*TODO: konstanta*@
	<div class="hx-wizard d-flex flex-column flex-grow-1">
		@*<ul class="nav nav-pills nav-justified">
			@foreach (var step in Steps)
			{
				<li id="step-@(StepsIndex(step) + 1)" class="nav-item">
					<a class="nav-link @((ActiveStep == step) ? "active" : "")" href="javascript: void(0)"
					   @onclick="@(e=> SetActive(step))">@step.Name</a>
				</li>
			}
		</ul>*@
		<div>
			@Steps
		</div>
		<div class="d-grid gap-2 d-md-block">
			@if (CanGoBack())
			{
				<HxButton Text="Back" Color="ThemeColor.Secondary" OnClick="GoBackClick" />@* TODO: Localization *@
			}

			@if (CanGoNext())
			{
				<HxButton Text="Next" Color="ThemeColor.Primary" OnClick="GoNextClick" />@* TODO: Localization *@
			}
		</div>
	</div>
</CascadingValue>
