@namespace Havit.Blazor.Components.Web.Bootstrap
@{ 
	if (!steps.Any(item => item.IsActive) && steps.Any())
	{
		steps[0].Activate();
	}
}

<CascadingValue Value="stepsRegistration" Name="WizardStepsRegistration" IsFixed="true"> @*TODO: konstanta*@
	<div class="wizard d-flex flex-column flex-grow-1">
		@*<ul class="nav nav-pills nav-justified">
			@foreach (var step in Steps)
			{
				<li id="step-@(StepsIndex(step) + 1)" class="nav-item">
					<a class="nav-link @((ActiveStep == step) ? "active" : "")" href="javascript: void(0)"
					   @onclick="@(e=> SetActive(step))">@step.Name</a>
				</li>
			}
		</ul>*@
		<div>
			@Steps
		</div>
		<div class="mt-auto row">
			@if (CanGoBack())
			{
				<div class="col">
					<button class="btn btn-lg btn-light btn-block" @onclick="GoBackClick">Back</button>
				</div>
			}

			@if (CanGoNext())
			{
				<div class="col">
					<button class="btn btn-primary btn-lg btn-block" @onclick="GoNextClick">Next</button>
				</div>
			}
		</div>
	</div>
</CascadingValue>
