@page "/HxAutosuggestTest"
@using System.Globalization

<h1>HxAutosuggest</h1>

<HxAutosuggest TItemType="CultureInfo" TValueType="int" @bind-Value="@value" DataProvider="ProvideSuggestions" ValueSelector="(CultureInfo c) => c.LCID" TextSelector="c => c.EnglishName" TextFromValueAsyncSelector="(int lcid) => Task.FromResult(CultureInfo.GetCultureInfo(lcid).EnglishName)" />

<p>Value: @value</p>

@code
{
	private int value = 1029; // default value to display

	private Task<AutosuggestDataProviderResult<CultureInfo>> ProvideSuggestions(AutosuggestDataProviderRequest request)
	{
		return Task.FromResult(new AutosuggestDataProviderResult<CultureInfo>
		{
			Items = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
			.Where(c => c.LCID != 4096) // see Remarks: https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.lcid?view=net-5.0#System_Globalization_CultureInfo_LCID
			.Where(c => c.EnglishName?.Contains(request.UserInput, StringComparison.CurrentCultureIgnoreCase) ?? false)
			.OrderBy(c => c.EnglishName)
			.Take(10)
			.ToList()
		});
	}
}