@page "/HxButtonTest"

<h1>HxButton</h1>

<HxButton Skin="@ButtonSkins.OK" />
<HxButton Skin="@ButtonSkins.Cancel" />
<HxButton Skin="@ButtonSkins.Save" />

<HxButton Text="Click me..." Color="ThemeColor.Warning" />
<HxButton Text="Outline..." Color="ThemeColor.Danger" Outline="true" />
