@page "/HxButtonTest"

<h1>HxButton</h1>

<HxButton Text="OK" Color="ThemeColor.Primary" Icon="BootstrapIcon.Bicycle" OnClick="HandleOKClick" />
<HxButton Text="Cancel" Color="ThemeColor.Secondary" Size="ButtonSize.Large" OnClick="HandleCancelClick" />
<HxButton Icon="BootstrapIcon.X" Text="Save" Color="ThemeColor.Primary" />
<HxButton Icon="BootstrapIcon.Filter" Color="ThemeColor.Light" />

<HxButton Text="Click me..." Color="ThemeColor.Warning" />
<HxButton Text="Outline..." Color="ThemeColor.Danger" Outline="true" />
<HxButton Icon="BootstrapIcon.X" Color="ThemeColor.Warning" />
<HxButton Text="With Tooltip" Icon="BootstrapIcon.ClockHistory" Color="ThemeColor.Warning" Tooltip="This is a tooltip with  very very long text. Is this tooltip text length enought? No. So let's make it even longer. And is the tooltip text long enought now? OK..." />

<h3>HxButtonGroup</h3>
<HxButtonGroup>
	<HxButton Text="Button 1" Color="ThemeColor.Secondary" />
	<HxButton Text="Button 2" Color="ThemeColor.Secondary" />
	<HxButton Text="Button 3" Color="ThemeColor.Secondary" />
</HxButtonGroup>

<h3>OnClickStopPropagation</h3>
<div class="card mt-4" @onclick="HandleCardClick">
	<div class="card-header">OnClickStopPropagationTest</div>
	<div class="card-body">
		<HxButton Text="OnClickStopPropagation=true (default)" Color="ThemeColor.Secondary" />
		<HxButton Text="OnClickStopPropagation=false" Color="ThemeColor.Secondary" OnClickStopPropagation="false" />
	</div>
	<div class="card-footer">
		Last captured click: @lastCapturedClick
	</div>
</div>

<h3>EditForm</h3>
<EditForm Model="testModel">
	@testModel.Text
	<HxSubmit Text="Submit" Color="ThemeColor.Primary" OnValidClick="async () => await Task.Delay(2000)" />
</EditForm>

<h3>EditContext</h3>
<EditForm EditContext="editContext">
	@testModel.Text
</EditForm>
<HxButton EditContext="editContext" Text="Submit" Color="ThemeColor.Primary" OnValidClick="async () => await Task.Delay(2000)" />

<h3>Spinner manual override</h3>
<HxButton Text="OnClick + Spinner" Spinner="inProgress" OnClick="HandleProgressClick" Color="ThemeColor.Light" />
<HxButton Text="Spinner = true" OnClick="() => inProgress = true" Color="ThemeColor.Success" />
<HxButton Text="Spinner = false" OnClick="() => inProgress = false" Color="ThemeColor.Danger" />
inProgress = @inProgress

<h3>Spinner disabled</h3>
<HxButton Text="Spinner=false" Spinner="false" OnClick="async () => await Task.Delay(2000)" Color="ThemeColor.Light" />


@code
{
	private DateTime? lastCapturedClick = null;
	private bool inProgress;

	private TestModel testModel = new TestModel() { Text = "init" };
	private EditContext editContext;

	protected override void OnInitialized()
	{
		editContext = new EditContext(testModel);
	}

	private Task HandleCardClick()
	{
		lastCapturedClick = DateTime.Now;
		return Task.CompletedTask;
	}

	private void HandleOKClick()
	{
		Thread.Sleep(3000);
	}

	private async Task HandleCancelClick()
	{
		await Task.Delay(3000);
		StateHasChanged();
		await Task.Delay(3000);
	}

	private async Task HandleProgressClick()
	{
		inProgress = true;
		await Task.Delay(3000);
		inProgress = false;
	}

	public class TestModel
	{
		public string Text { get; set; }
	}
}
