@page "/HxButtonTest"

<h1>HxButton</h1>

<HxButton Skin="@ButtonSkins.OK" />
<HxButton Skin="@ButtonSkins.Cancel" />
<HxButton Skin="@ButtonSkins.Save" />

<HxButton Text="Click me..." Style="ButtonStyle.Warning" />
<HxButton Text="Outline..." Style="ButtonStyle.Danger" Outline="true" />
