@page "/HxCarouselTest" 

<HxCarousel @ref="carousel" Dark="true" OnSlide="IncrementSlideCount" Interval="1000">
    <HxCarouselItem Active="true">
        <div class="d-flex justify-content-center">Carousel Item 0</div>
    </HxCarouselItem>
    <HxCarouselItem>
        <div class="d-flex justify-content-center">Carousel Item 1</div>
    </HxCarouselItem>
    <HxCarouselItem>
        <div class="d-flex justify-content-center">Carousel Item 2</div>
    </HxCarouselItem>
</HxCarousel>

<HxButton Color="ThemeColor.Success" OnClick="() => carousel.CycleAsync()" Text="Cycle" />
<HxButton Color="ThemeColor.Dark" OnClick="() => carousel.SlideToAsync(1)" Text="Slide to item 1" />

<h3>Slide count: @slideCount</h3>

@code {
    private HxCarousel carousel;
    private int slideCount;

    private void IncrementSlideCount()
    {
        slideCount++;
    }
}