@page "/HxDropdownTest"

<h1>HxDropdown</h1>

<HxDropdown>
	<HxDropdownToggle Color="ThemeColor.Primary" Text="Dropdown toggle"/>
    <HxDropdownContent>
        <HxDropdownHeader>Header</HxDropdownHeader>
        <HxDropdownItemNavLink Href="#">Action</HxDropdownItemNavLink>
        <HxDropdownItemNavLink Href="#">Another action</HxDropdownItemNavLink>
        <HxDropdownDivider />
        <HxDropdownItemNavLink Href="#">Something else here</HxDropdownItemNavLink>
    </HxDropdownContent>
</HxDropdown>