@page "/HxDropdownTest"

<h1>HxDropdown</h1>

<HxDropdown>
	<HxDropdownToggle Color="ThemeColor.Primary" Text="Dropdown toggle"/>
    <HxDropdownContent>
        <HxDropdownHeader>Header</HxDropdownHeader>
        <HxDropdownItem Href="#">Action</HxDropdownItem>
        <HxDropdownItem Href="#">Another action</HxDropdownItem>
        <HxDropdownDivider />
        <HxDropdownItem Href="#">Something else here</HxDropdownItem>
    </HxDropdownContent>
</HxDropdown>