@page "/HxDrawerTest"

<h1>HxDrawer</h1>

<HxDrawer @bind-IsOpen="drawerOpen">
	<TitleSection>Title</TitleSection>
	<BodySection>Body</BodySection>
</HxDrawer>

<div>
	<HxButton OnClick="() => drawerOpen = true" Text="Open" Color="ThemeColor.Primary" />
</div>
<div>
	IsOpen: @drawerOpen
</div>

@code
{
	private bool drawerOpen = false;
}