@page "/HxDrawerTest"

<h1>HxDrawer</h1>

<HxDrawer @bind-IsOpen="drawerOpen">
	<HeaderTemplate>Title</HeaderTemplate>
	<BodyTemplate>Body</BodyTemplate>
</HxDrawer>

<div>
	<HxButton OnClick="() => drawerOpen = true" Text="Open" Color="ThemeColor.Primary" />
</div>
<div>
	IsOpen: @drawerOpen
</div>

@code
{
	private bool drawerOpen = false;
}