@page "/HxDrawer_OnHiding_Test"

<h1>HxDrawer OnHiding</h1>

<HxDrawer @ref="drawerComponent" Size="DrawerSize.Regular" OnHiding="HandleDrawerHiding">
	<HeaderTemplate>Title</HeaderTemplate>
	<BodyTemplate>
		<HxSwitch Label="Allow hiding" @bind-Value="_allowHiding" />
	</BodyTemplate>
	<FooterTemplate>
		<HxButton OnClick="HandleHide" Text="Close" Color="ThemeColor.Secondary" />
		<HxButton OnClick="@(() => secondDrawerComponent.ShowAsync())" Text="Second" Color="ThemeColor.Danger" />
	</FooterTemplate>
</HxDrawer>

<HxDrawer @ref="secondDrawerComponent" Backdrop="DrawerBackdrop.Static">
	<HeaderTemplate>
		Second
	</HeaderTemplate>
</HxDrawer>

<HxButton OnClick="HandleOpen" Text="Open" Color="ThemeColor.Primary" />
<HxButton OnClick="HandleHide" Text="Hide" Color="ThemeColor.Secondary" />

@code
{
	private HxDrawer drawerComponent;
	private HxDrawer secondDrawerComponent;
	private bool _allowHiding = false;

	private async Task HandleOpen()
	{
		await drawerComponent.ShowAsync();
	}

	private async Task HandleHide()
	{
		await drawerComponent.HideAsync();
	}

	private void HandleDrawerHiding(DrawerHidingEventArgs args)
	{
		if (!_allowHiding)
		{
			args.Cancel = true;
		}
	}
}