@page "/HxDropdownTest"

<h1>HxDropdown</h1>

<HxDropdownButtonGroup AutoClose="DropdownAutoClose.Outside">
	<HxDropdownToggleButton @ref="dropdownToggleComponent" Color="ThemeColor.Primary" CssClass="@(IsBold ? "fw-bold" : null)">Show dropdown</HxDropdownToggleButton>
	<HxDropdownContent CssClass="@(IsBold ? "bg-light" : null)">
		<div class="row m-3" style="min-width: 100px;">
			<div class="col">
				<div>
					<HxCheckbox @bind-Value="IsBold" Text="Toggle button text bold" />
				</div>
			</div>
		</div>
	</HxDropdownContent>
</HxDropdownButtonGroup>

<HxButton OnClick="() => dropdownToggleComponent.ShowAsync()">Show</HxButton>
<HxButton OnClick="() => dropdownToggleComponent.HideAsync()">Hide</HxButton>

@code {
	private HxDropdownToggleButton dropdownToggleComponent;
	private bool IsBold { get; set; } = false;
}