@page "/HxInputDateRangeTest"
@namespace System.ComponentModel.DataAnnotations

<EditForm Model="@model">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<Havit.Blazor.Components.Web.Bootstrap.Internal.HxInputDateRangeInternal @bind-Value="@model.DateTimeRange" />
	<button type="submit">Submit</button>
</EditForm>

@code {
	private FormModel model = new FormModel();

	private class FormModel : IValidatableObject
	{
		public DateTimeRange DateTimeRange { get; set; } = new DateTimeRange
		{
			StartDate = new DateTime(2020, 1, 1),
			EndDate = DateTime.Today
		};

		public IEnumerable<ValidationResult> Validate(ValidationContext validationContext)
		{
			if (DateTimeRange.StartDate == null)
			{
				yield return new ValidationResult("Zadejte start date.", new string[] { nameof(DateTimeRange) });
			}
			else
			{
				if (DateTimeRange.StartDate.Value.Year != 2021)
				{
					yield return new ValidationResult("Start date musí být v roce 2021.", new string[] { nameof(DateTimeRange) });
				}
			}
		}
	}
}