@page "/HxInputFileDropZoneTest"

<h1>HxInputFileDropZone</h1>

<h3>Single</h3>
<HxInputFileDropZone />

<h3>Multiple</h3>
<HxInputFileDropZone @ref="component" Multiple />
<HxButton Text="Clear" OnClick="@(async () => await component.ResetAsync())" Color="ThemeColor.Secondary" />

<h3>Enabled="false"</h3>
<HxInputFileDropZone Enabled="false" />

<h3>HxFormState</h3>
<HxSwitch Text="Enabled" @bind-Value="@enabled" />
<HxFormState Enabled="@enabled">
	<HxInputFileDropZone />
</HxFormState>

<h3>Custom NoFilesTemplate</h3>
<HxInputFileDropZone Multiple>
	<NoFilesTemplate>
		<div class="display-3 text-center"><HxIcon Icon="BootstrapIcon.CloudUpload" /></div>
        <div>Bla bla bla tady upload, drag sem.</div>
	</NoFilesTemplate>
</HxInputFileDropZone>

@code
{
	private bool enabled = true;
	private HxInputFileDropZone component;
}