@page "/HxInputDateRangeTest"
@namespace System.ComponentModel.DataAnnotations

<EditForm Model="@model">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<Havit.Blazor.Components.Web.Bootstrap.Internal.HxInputDateRangeInternal @bind-Value="@model.DateTimeRange" />
	<Havit.Blazor.Components.Web.Bootstrap.Internal.HxInputDateRangeInternal @bind-Value="@model.DateTimeRange" DateRanges="@GetDateRanges()" />
	<button type="submit">Submit</button>
</EditForm>

@code {
	private FormModel model = new FormModel();

	private IEnumerable<DateRangeItem> GetDateRanges()
	{
		yield return new DateRangeItem { Label = "Dnes", DateRange = new DateTimeRange { StartDate = DateTime.Today, EndDate = DateTime.Today } };
		yield return new DateRangeItem { Label = "Celý rok", DateRange = new DateTimeRange { StartDate = new DateTime(DateTime.Today.Year, 1, 1), EndDate = new DateTime(DateTime.Today.Year, 12, 31) } };
	}

	private class FormModel : IValidatableObject
	{
		public DateTimeRange DateTimeRange { get; set; } = new DateTimeRange
		{
			StartDate = new DateTime(2021, 1, 1),
			EndDate = DateTime.Today
		};

		public IEnumerable<ValidationResult> Validate(ValidationContext validationContext)
		{
			if (DateTimeRange.StartDate == null)
			{
				yield return new ValidationResult("Zadejte start date.", new string[] { nameof(DateTimeRange) });
			}
			else
			{
				if (DateTimeRange.StartDate.Value.Year != 2020)
				{
					yield return new ValidationResult("Start date musí být v roce 2020.", new string[] { nameof(DateTimeRange) });
				}
			}
		}
	}
}