@page "/HxMessageBoxHostTest"
@* <HxMessageBoxHost /> iteself is in MainLayout.razor *@

<h1>HxMessageBoxHost</h1>

<p>
	<HxButton Text="MessageBox.ShowAsync() 1..." OnClick="OpenMessageBox1" Color="ThemeColor.Primary" />
	<HxButton Text="MessageBox.ShowAsync() 2..." OnClick="OpenMessageBox2" Color="ThemeColor.Primary" />
	<HxButton Text="MessageBox.Confirm()..." OnClick="OpenConfirm" Color="ThemeColor.Primary" />
</p>

<p>
	Last result: @result.ToString("g")<br />
	Confirm result: @confirmResult
</p>

@code{
	[Inject] protected IHxMessageBoxService MessageBox { get; set; }

	private MessageBoxButtons result;
	private bool? confirmResult;

	private async Task OpenMessageBox1()
	{
		result = await MessageBox.ShowAsync("Info", "OK jednička?", MessageBoxButtons.OkCancel);
	}

	private async Task OpenMessageBox2()
	{
		result = await MessageBox.ShowAsync("Dotaz", "Chceš to dvojka?", MessageBoxButtons.YesNo);
	}

	private async Task OpenConfirm()
	{
		confirmResult = await MessageBox.ConfirmAsync("Chceš to?");
	}
}
