@page "/HxMessengerTest"

@* <HxMessenger /> itself is in MainLayout.razor *@

<h1>HxMessenger</h1>

<HxButton Text="Add information" OnClick="HandleAddInformationButtonClick" Color="ThemeColor.Primary" />
<HxButton Text="Add warning" OnClick="HandleAddWarningButtonClick" Color="ThemeColor.Warning" />
<HxButton Text="Add error" OnClick="HandleAddErrorButtonClick" Color="ThemeColor.Danger" />
<HxButton Text="With redirect" OnClick="HandleWithRedirect" Color="ThemeColor.Info" />
<br/>
<HxButton Text="Clear" OnClick="Messenger.Clear" Color="ThemeColor.Secondary" />

@code{
	[Inject] protected IHxMessengerService Messenger { get; set; }
	[Inject] protected NavigationManager NavigationManager { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			Messenger.AddInformation("Setup", "services.AddHxMessenger(); in Startup.cs!\n<HxMessenger /> in MainLayout.razor");
		}
	}

	private void HandleAddInformationButtonClick()
	{
		Messenger.AddInformation("Information\nmultiline", "Information button clicked.\n<b>1</b>\n2");
	}

	private void HandleAddWarningButtonClick()
	{
		Messenger.AddWarning("Warning", "Warning button clicked.");
	}

	private void HandleAddErrorButtonClick()
	{
		Messenger.AddError("Error", "Error button clicked.");
	}

	private void HandleWithRedirect()
	{
		Messenger.AddError("Messenger with redirect", "Content.");
		NavigationManager.NavigateTo("/");
	}
}

