@page "/HxMessengerTest"

@* <HxMessenger /> iteself is in MainLayout.razor *@

<h1>HxMessenger</h1>

<HxButton Text="Add information" OnClick="HandleAddInformationButtonClick" Color="ThemeColor.Primary" />
<HxButton Text="Add warning" OnClick="HandleAddWarningButtonClick" Color="ThemeColor.Warning" />
<HxButton Text="Add error" OnClick="HandleAddErrorButtonClick" Color="ThemeColor.Danger" />

@code{
	[Inject] protected IHxMessengerService Messenger { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			Messenger.AddInformation("Setup", "services.AddHxMessenger(); in Startup.cs!\n<HxMessenger /> in MainLayout.razor");
		}
	}

	private void HandleAddInformationButtonClick()
	{
		Messenger.AddInformation("Information", "Information button clicked.");
	}

	private void HandleAddWarningButtonClick()
	{
		Messenger.AddWarning("Warning", "Warning button clicked.");
	}

	private void HandleAddErrorButtonClick()
	{
		Messenger.AddError("Error", "Error button clicked.");
	}
}

