@page "/HxModalTest"

<h1>HxModal</h1>

<HxButton OnClick="HandleShowClick" Color="ThemeColor.Primary">Show</HxButton>

<HxModal @ref="myModal" Title="Modal title">
	<BodyTemplate>
		Body
		<HxButton OnClick="HandleShowSecondClick" Color="ThemeColor.Danger">Show second</HxButton>
	</BodyTemplate>
	<FooterTemplate>
		<HxButton Text="Close" OnClick="HandleHideClick" Color="ThemeColor.Secondary" />
	</FooterTemplate>
</HxModal>

<HxModal @ref="mySecondModal" Title="A very balanced close icon" CloseButtonIcon="BootstrapIcon.YinYang">
	<BodyTemplate>
		Second
	</BodyTemplate>
	<FooterTemplate>
		<HxButton Text="Close" OnClick="HandleHideSecondClick" Color="ThemeColor.Secondary" />
	</FooterTemplate>
</HxModal>


@code
{
	private HxModal myModal;
	private HxModal mySecondModal;

	private async Task HandleShowClick()
	{
		await myModal.ShowAsync();
	}

	private async Task HandleHideClick()
	{
		await myModal.HideAsync();
	}

	private async Task HandleHideSecondClick()
	{
		await mySecondModal.HideAsync();
	}


	private async Task HandleShowSecondClick()
	{
		await mySecondModal.ShowAsync();
	}
}