@page "/HxModalTest"

<h1>HxModal</h1>

<HxButton OnClick="HandleShowClick">Show</HxButton>

<HxModal @ref="myModal" Header="Header">
	<BodyTemplate>Body</BodyTemplate>
	<FooterTemplate><HxButton Skin="ButtonSkins.Close" OnClick="HandleHideClick" /></FooterTemplate>
</HxModal>

@code
{
	private HxModal myModal;

	private async Task HandleShowClick()
	{
		await myModal.ShowAsync();
	}

	private async Task HandleHideClick()
	{
		await myModal.HideAsync();
	}
}