@page "/HxModalTest"

<h1>HxModal</h1>

<HxButton OnClick="HandleShowClick" Style="ButtonStyle.Primary">Show</HxButton>

<HxModal @ref="myModal" Header="Header">
	<BodyTemplate>Body</BodyTemplate>
	<FooterTemplate><HxButton Skin="ButtonSkins.Close" OnClick="HandleHideClick" Style="ButtonStyle.Primary"/></FooterTemplate>
</HxModal>

@code
{
	private HxModal myModal;

	private async Task HandleShowClick()
	{
		await myModal.ShowAsync();
	}

	private async Task HandleHideClick()
	{
		await myModal.HideAsync();
	}
}