@page "/HxModalTest"

<h1>HxModal</h1>

<HxButton OnClick="HandleShowClick" Color="ThemeColor.Primary">Show</HxButton>

<HxModal @ref="myModal" Title="Modal title">
	<BodyTemplate>
		Body
		<HxButton OnClick="HandleShowNestedClick" Color="ThemeColor.Danger">Show nested (exception expected)</HxButton>

		<HxModal @ref="myNestedModal" />
	</BodyTemplate>
	<FooterTemplate><HxButton Skin="ButtonSkins.Close" OnClick="HandleHideClick" Color="ThemeColor.Primary" /></FooterTemplate>
</HxModal>

@code
{
	private HxModal myModal;
	private HxModal myNestedModal;

	private async Task HandleShowClick()
	{
		await myModal.ShowAsync();
	}

	private async Task HandleHideClick()
	{
		await myModal.HideAsync();
	}

	private async Task HandleShowNestedClick()
	{
		await myNestedModal.ShowAsync();
	}


}