@page "/hxnavmenutest"
<h3>HxNavMenuTest</h3>
<div>
	<HxNavMenu BrandName="Goran" BrandNameShort="G3">
		<ChildContent>
			<HxNavMenuItem Text="Osobní" Icon="BootstrapIcon.Person">
				<HxNavMenuItem Text="Timesheety" Href="TODO" />
				<HxNavMenuItem Text="Dovolené" Href="TODO" />
				<HxNavMenuItem Text="Fond pracovní doby" Href="TODO" />
				<HxNavMenuItem Text="Tray Utilita" Href="TODO"/>
			</HxNavMenuItem>
			<HxNavMenuItem Text="Timesheety" Href="TODO" Icon="BootstrapIcon.Clock" />
			<HxNavMenuItem Text="Finance" Href="TODO" Icon="BootstrapIcon.Wallet2" />
			<HxNavMenuItem Text="Reporting" Href="TODO" Icon="BootstrapIcon.ClipboardData" />
		</ChildContent>
	
		<LoginDisplayContent>
			<span><HxIcon Icon="BootstrapIcon.Person" />login</span>
		</LoginDisplayContent>
	</HxNavMenu>
</div>


@code {

}
