@page "/HxProgressOverlayTest"
<h3>HxProgressOverlay</h3>

<HxProgressState InProgress="@inProgress">
	<HxProgressOverlay>
		<div>Content...</div>
		<HxButton Text="3sec progress" Color="ThemeColor.Primary" OnClick="HandleToggleProgressClick" Spinner="true" />
	</HxProgressOverlay>
</HxProgressState>

<p>inProgress:  @inProgress</p>

@code
{
	private bool inProgress = false;
	private async Task HandleToggleProgressClick()
	{
		inProgress = true;
		await Task.Delay(3000);
		inProgress = false;
	}
}