@page "/HxSelectTest"

<h1>HxSelect</h1>

<HxSelect TItem="int" TValue="int?" Data="@data" @bind-Value="selectedNumber" NullDataText="Loading numbers..." NullText="-all-" ValueSelector="(v => v)" />

@code
{
	private List<int> data;
	private int? selectedNumber;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await Task.Delay(3000);
		data = Enumerable.Range(0, 10).ToList();
	}
}
