@page "/HxSearchBoxTest"

<HxSearchBox DataProvider="ProvideSearchResults" TItem="SearchBoxItem" />

@code {
    List<SearchBoxItem> Data { get; set; } = new()
    {
        new()
        {
            Title = "Table",
            Subtitle = "$5000",
            Icon = BootstrapIcon.Table
        },
        new()
        {
            Title = "Mouse",
            Subtitle = "$40",
            Icon = BootstrapIcon.Mouse
        },
        new()
        {
            Title = "Door",
            Subtitle = "$100",
            Icon = BootstrapIcon.DoorClosed
        }
    };

    Task<SearchBoxDataProviderResult<SearchBoxItem>> ProvideSearchResults(SearchBoxDataProviderRequest request)
    {
        SearchBoxDataProviderResult<SearchBoxItem> result = new()
        {
            Data = Data.Where(i => i.Title.Contains(request.UserInput)).ToArray()
        };

        return Task.FromResult(result);
    }

    class SearchBoxItem
    {
        public string Title { get; set; }
        public string Subtitle { get; set; }
        public BootstrapIcon Icon { get; set; }
    }
}

@*<HxSearchBox TItem="typ"
    DataProvider=""
    ClearIcon
    SearchIcon
    CssClass
    Delay
    xxx Label zatím ne
    MinimumLength
    StartupContentTemplate
    OnItemSelected="..."
    OnFreetextSelected="..."
    ShowFreetextItem="true|false"
    FreetextEnabled="true|false"
    Freetext, FreetextChanged
    TitleSelector, SubtitleSelector, IconSelector
    ItemCssClass
    Placeholder>
    <EmptyDataTemplate>
         zobrazuje se, pokud DataProvider nevrátí žádná data
    </EmptyDataTemplate>
    <ItemTemplate Context="item">
        <div>@item.Icon</div>
        <div>@item.Text</div>
    </Item>
    <FreetextItemTemplate Context="freetext">
        @freetext je string, který je zadán
        Když je zadáno FreetextItemTemplate, tak nerenderovat standardní podobu FreetextItem, ale jen dle Template
    </FreetextItemTemplate>
    <EmptyInputTemplate>
        zobrazuje se, pokud je searchbox prázdný (než začně uživatel typovat vstupn, nebo když ho umaže na prázdný)
    </EmptyInputTemplate>

* nepotřebujeme Value, ValueChanged, ValueExpression, ...
    * ItemFromValueResolver
*@