@page "/HxSelectTest"

<h1>HxSelect</h1>

<HxSelect TItem="int" TValue="int?" Data="@data" Value="@selectedValue" ValueExpression="@(() => selectedValue)" ValueChanged="HandleChange" NullText="-all-" ValueSelector="(v => v)" />
<p>Selected Value: @selectedValue</p>

@code
{
	List<int> data;
	int? selectedValue;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		data = GetData(null); //0..9
	}

	private void HandleChange(int? newSelectedValue)
	{
		// Do not set selectedValue = Let it has always null value!
		data = GetData(newSelectedValue); // 0..9 except newSelectedValue
	}

	private List<int> GetData(int? newSelectedValue)
	{
		return Enumerable.Range(0, 10).Except(new int[] { newSelectedValue ?? -1 }).ToList();	
	}

}