@page "/HxSidebarTest"
<h1>HxSidebarTest</h1>

<div class="border d-inline-block">
	<HxSidebar>
		<HeaderTemplate>
			<HxSidebarBrand BrandName="Brand name" BrandNameShort="BN" />
		</HeaderTemplate>

		<ItemsTemplate>
			<HxSidebarItem Text="Match Test 1" Icon="BootstrapIcon.Person" Href="/HxSidebarTest" Match="NavLinkMatch.Prefix">
				<HxSidebarItem Text="Item 1" Href="/HxSidebarTest#x1" Match="NavLinkMatch.All" />
				<HxSidebarItem Text="Another item" Href="TEST" />
				<HxSidebarItem Text="Item 3" Href="TEST" />
				<HxSidebarItem Text="Another item 4" Href="TEST" />
			</HxSidebarItem>
			<HxSidebarItem Text="Plain section" Icon="BootstrapIcon.Person">
				<HxSidebarItem Text="Item 1" Href="/HxSidebarTest#x1" Match="NavLinkMatch.All" />
				<HxSidebarItem Text="Another item" Href="TEST" />
				<HxSidebarItem Text="Item 3" Href="TEST" />
				<HxSidebarItem Text="Another item 4" Href="TEST" />
			</HxSidebarItem>
			<HxSidebarItem Text="Subitems with icons" Href="TEST" Icon="BootstrapIcon.Clock">
				<HxSidebarItem Text="Item 1" Icon="BootstrapIcon.Person" Href="#" />
				<HxSidebarItem Text="Another item" Icon="BootstrapIcon.Clock" Href="TEST" />
				<HxSidebarItem Text="Item 3" Icon="BootstrapIcon.Wallet2"Href="TEST" />
				<HxSidebarItem Text="Another item 4" Icon="BootstrapIcon.ClipboardData" Href="TEST" />
			</HxSidebarItem>
			<HxSidebarItem Text="First-level item 1" Href="TEST" Icon="BootstrapIcon.Wallet2" />
			<HxSidebarItem Text="First-level item 2" Href="TEST" Icon="BootstrapIcon.ClipboardData" />
		</ItemsTemplate>

		<FooterTemplate>
			<HxSidebarFooter Href="https://github.com/havit/Havit.Blazor" Icon="BootstrapIcon.Github" Text="GitHub repository" />
		</FooterTemplate>
	</HxSidebar>
</div>
