@page "/HxSidebarTest"
@page "/HxSidebarTest/Test1"
@page "/HxSidebarTest/Test2"
@page "/HxSidebarTest/Test3"
@page "/HxSidebarTest/Test4"
@page "/HxSidebarTest/Test5"
@page "/HxSidebarTest/Test6"
@page "/HxSidebarTest/Test7"
@page "/HxSidebarTest/Test8"
@page "/HxSidebarTest/Test9"
@page "/HxSidebarTest/Test10"
@page "/HxSidebarTest/Test11"
@page "/HxSidebarTest/Test12"

<div> @* div for CSS isolation *@
	<h1>HxSidebarTest</h1>

	<div class="border d-inline-block">
		<HxSidebar>
			<HeaderTemplate>
				<HxSidebarBrand BrandName="Brand name" BrandNameShort="BN"/>
			</HeaderTemplate>

			<ItemsTemplate>
				<HxSidebarItem Text="Match Test 1" Icon="BootstrapIcon.Person" Href="/HxSidebarTest" Match="NavLinkMatch.Prefix">
					<HxSidebarItem Text="Item 1" Href="/HxSidebarTest#x1" Match="NavLinkMatch.All"/>
					<HxSidebarItem Text="Another item" Href="/HxSidebarTest/Test1"/>
					<HxSidebarItem Text="Item 3" Href="/HxSidebarTest/Test2"/>
					<HxSidebarItem Text="Another item 4" Href="/HxSidebarTest/Test3"/>
				</HxSidebarItem>
				<HxSidebarItem Text="Plain section" Icon="BootstrapIcon.Person">
					<HxSidebarItem Text="Item 1" Href="/HxSidebarTest#x1" Match="NavLinkMatch.All"/>
					<HxSidebarItem Text="Another item" Href="/HxSidebarTest/Test4"/>
					<HxSidebarItem Text="Item 3" Href="/HxSidebarTest/Test5"/>
					<HxSidebarItem Text="Another item 4" Href="/HxSidebarTest/Test6"/>
				</HxSidebarItem>
				<HxSidebarItem Text="Subitems with icons" Href="/HxSidebarTest/Test7" Icon="BootstrapIcon.Clock" TooltipText="Subitems with icons">
					<HxSidebarItem Text="Item 1" Icon="BootstrapIcon.Person" Href="#"/>
					<HxSidebarItem Text="Another item" Icon="BootstrapIcon.Clock" Href="/HxSidebarTest/Test8"/>
					<HxSidebarItem Text="Item 3" Icon="BootstrapIcon.Wallet2"Href="/HxSidebarTest/Test9"/>
					<HxSidebarItem Text="Another item 4" Icon="BootstrapIcon.ClipboardData" Href="/HxSidebarTest/Test10"/>
				</HxSidebarItem>
				<HxSidebarItem Text="First-level item 1" Href="/HxSidebarTest/Test11" Icon="BootstrapIcon.Wallet2"/>
				<HxSidebarItem Text="First-level item 2" Href="/HxSidebarTest/Test12" Icon="BootstrapIcon.ClipboardData"/>
			</ItemsTemplate>

			<FooterTemplate>
				<HxSidebarFooter Href="https://github.com/havit/Havit.Blazor" Icon="BootstrapIcon.Github" Text="GitHub repository"/>
			</FooterTemplate>
		</HxSidebar>
	</div>
</div>