@page "/HxSpinnerTest"

<h1>HxSpinner</h1>

<HxSpinner />
<HxSpinner Size="SpinnerSize.Small" />

<HxSpinner Type="SpinnerType.Grow" />

<HxSpinner Type="SpinnerType.Grow" Size="SpinnerSize.Small" />

<HxSpinner Color="ThemeColor.Danger" CssClass="m-3" />

<HxButton Color="ThemeColor.Primary">
	<HxSpinner Size="SpinnerSize.Small" /> Button ChildContent
</HxButton>