@page "/HxWizardTest"

<h1>HxWizard</h1>

<HxWizard>
	<HxWizardStep Name="Name 1">
		Step 1
	</HxWizardStep>
	<HxWizardStep Name="Name 2">
		Step 2
	</HxWizardStep>
	<HxWizardStep Name="Name 3">
		Step 3
	</HxWizardStep>
</HxWizard>