@page "/HxWizardTest"

<h1>HxWizard</h1>

<HxWizard>
	<Steps>
		<HxWizardStep>
			<Content>Step 1</Content>
		</HxWizardStep>
		<HxWizardStep>
			<Content>Step 2</Content>
		</HxWizardStep>
		<HxWizardStep>
			<Content>Step 3</Content>
		</HxWizardStep>
	</Steps>
</HxWizard>