@page "/all-tests"
@using BlazorAppTest.Pages

@GetComponentTestLinks()

<h3 class="invisible" id="HxAccordionTest">HxAccordionTest</h3>
<HxAccordionTest />

<h3 class="invisible" id="HxAlertTest">HxAlertTest</h3>
<HxAlertTest />

<h3 class="invisible" id="HxAutosuggestTest">HxAutosuggestTest</h3>
<HxAutosuggestTest />

<h3 class="invisible" id="HxBadgeTest">HxBadgeTest</h3>
<HxBadgeTest />

<h3 class="invisible" id="HxBreadcrumbTest">HxBreadcrumbTest</h3>
<HxBreadcrumbTest />

<h3 class="invisible" id="HxButtonTest">HxButtonTest</h3>
<HxButtonTest />

<h3 class="invisible" id="HxButtonToolbarTest">HxButtonToolbarTest</h3>
<HxButtonToolbarTest />

<h3 class="invisible" id="HxCalendarTest">HxCalendarTest</h3>
<HxCalendarTest />

<h3 class="invisible" id="HxCarouselTest">HxCarouselTest</h3>
<HxCarouselTest />

<h3 class="invisible" id="HxCheckboxListTest">HxCheckboxListTest</h3>
<HxCheckboxListTest />

<h3 class="invisible" id="HxDialogBaseTest">HxDialogBaseTest</h3>
<HxDialogBaseTest />

<h3 class="invisible" id="HxDropdownTest">HxDropdownTest</h3>
<HxDropdownTest />

<h3 class="invisible" id="HxFilterFormTest">HxFilterFormTest</h3>
<HxFilterFormTest />

@*<h3 class="invisible" id="HxGoogleTagManagerTest">HxGoogleTagManagerTest</h3>
<HxGoogleTagManagerTest />
*@
<h3 class="invisible" id="HxGrid_InfiniteScroll_Test">HxGrid_InfiniteScroll_Test</h3>
<HxGrid_InfiniteScroll_Test />

<h3 class="invisible" id="HxGridTest">HxGridTest</h3>
<HxGridTest />

<h3 class="invisible" id="HxIconTest">HxIconTest</h3>
<HxIconTest />

@*<h3 class="invisible" id="HxInputDateRangeTest">HxInputDateRangeTest</h3>
<HxInputDateRangeTest />

<h3 class="invisible" id="HxInputDateTest">HxInputDateTest</h3>
<HxInputDateTest />*@

<h3 class="invisible" id="HxInputFile2Test">HxInputFile2Test</h3>
<HxInputFile2Test />

<h3 class="invisible" id="HxInputFileDropZoneTest">HxInputFileDropZoneTest</h3>
<HxInputFileDropZoneTest />

<h3 class="invisible" id="HxInputFileTest">HxInputFileTest</h3>
<HxInputFileTest />

<h3 class="invisible" id="HxInputPercentTest">HxInputPercentTest</h3>
<HxInputPercentTest />

<h3 class="invisible" id="HxInputTagsTest">HxInputTagsTest</h3>
<HxInputTagsTest />

<h3 class="invisible" id="HxInputTextAreaTest">HxInputTextAreaTest</h3>
<HxInputTextAreaTest />

<h3 class="invisible" id="HxInputTextTests">HxInputTextTests</h3>
<HxInputTextTests />

<h3 class="invisible" id="HxListLayoutTest">HxListLayoutTest</h3>
<HxListLayoutTest />

<h3 class="invisible" id="HxListLayoutWithoutFilterTest">HxListLayoutWithoutFilterTest</h3>
<HxListLayoutWithoutFilterTest />

<h3 class="invisible" id="HxMessageBoxHostTest">HxMessageBoxHostTest</h3>
<HxMessageBoxHostTest />

<h3 class="invisible" id="HxMessageBoxTest">HxMessageBoxTest</h3>
<HxMessageBoxTest />

<h3 class="invisible" id="HxMessengerTest">HxMessengerTest</h3>
<HxMessengerTest />

<h3 class="invisible" id="HxModalTest">HxModalTest</h3>
<HxModalTest />

<h3 class="invisible" id="HxModelEditFormTest">HxModelEditFormTest</h3>
<HxModelEditFormTest />

<h3 class="invisible" id="HxMultiSelectTest">HxMultiSelectTest</h3>
<HxMultiSelectTest />

<h3 class="invisible" id="HxOffcanvasTest">HxOffcanvasTest</h3>
<HxOffcanvasTest />

<h3 class="invisible" id="HxPagerTest">HxPagerTest</h3>
<HxPagerTest />

<h3 class="invisible" id="HxProgressIndicatorTest">HxProgressIndicatorTest</h3>
<HxProgressIndicatorTest />

<h3 class="invisible" id="HxProgressTest">HxProgressTest</h3>
<HxProgressTest />

<h3 class="invisible" id="HxRadioButtonListTest">HxRadioButtonListTest</h3>
<HxRadioButtonListTest />

<h3 class="invisible" id="HxRepeaterTest">HxRepeaterTest</h3>
<HxRepeaterTest />

<h3 class="invisible" id="HxScrollspyTest">HxScrollspyTest</h3>
<HxScrollspyTest />

<h3 class="invisible" id="HxSearchBoxTest">HxSearchBoxTest</h3>
<HxSearchBoxTest />

<h3 class="invisible" id="HxSelectPickerTest">HxSelectPickerTest</h3>
<HxSelectPickerTest />

<h3 class="invisible" id="HxSelectTest">HxSelectTest</h3>
<HxSelectTest />

<h3 class="invisible" id="HxSidebarTest">HxSidebarTest</h3>
<HxSidebarTest />

<h3 class="invisible" id="HxSpinnerTest">HxSpinnerTest</h3>
<HxSpinnerTest />

<h3 class="invisible" id="HxTabPanelTest">HxTabPanelTest</h3>
<HxTabPanelTest />

<h3 class="invisible" id="HxToastTest">HxToastTest</h3>
<HxToastTest />

<h3 class="invisible" id="HxTooltipTest">HxTooltipTest</h3>
<HxTooltipTest />

<h3 class="invisible" id="InputsTest">InputsTest</h3>
<InputsTest />

<h3 class="invisible" id="InputsWithFloatingLabelsTest">InputsWithFloatingLabelsTest</h3>
<InputsWithFloatingLabelsTest />

<h3 class="invisible" id="InputsWithoutEditContextTest">InputsWithoutEditContextTest</h3>
<InputsWithoutEditContextTest />

@*<h3 class="invisible" id="StrongApiStringLocalizerTest">StrongApiStringLocalizerTest</h3>
<StrongApiStringLocalizerTest />
*@
