@attribute [Route("/components/" + nameof(HxBadge))]

<ComponentApiDoc Type="typeof(HxBadge)">
    <p>Badges scale to match the size of the immediate parent element by using relative font sizing and <code>em</code> units. As of Bootstrap v5, badges no longer have focus or hover styles for links.</p>
    
    <DocHeading Title="Headings" />
    <Demo Type="typeof(HxBadge_Demo_Headings)" Tabs="false" />

    <DocHeading Title="Buttons" />
    <p>Badges can be used as part of links or buttons to provide a counter.</p>
    <Demo Type="typeof(HxBadge_Demo_Buttons)" Tabs="false" />

    <DocHeading Title="Positioned" />
    <p>Use utilities to modify a <code>HxBadge</code> and position it in the corner of a link or button.</p>
    <Demo Type="typeof(HxBadge_Demo_Positioned)" Tabs="false" />

    @*<p>you can add the <code>rounded-circle</code> class and leave the content empty for a more generic indicator.</p>
    <demo type="typeof(hxbadge_demo_positined2)" tabs="false" />*@

    <DocHeading Title="Background colors" />
    <p>Use our background utility classes to quickly change the appearance of a badge. Please note that when using Bootstrap’s default <code>.bg-light</code>, you’ll likely need a text color utility like <code>.text-dark</code> for proper styling. This is because background utilities do not set anything but <code>background-color</code>.</p>
    <Demo Type="typeof(HxBadge_Demo_Colors)" />

    <DocHeading Title="Pill badges" />
    <p>Use the <code>Type="BadgeType.RoundedPill"</code> to make badges more rounded with a larger <code>border-radius</code>.</p>
    <Demo Type="typeof(HxBadge_Demo_Pills)" />
</ComponentApiDoc>
