@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItemType

<div class="dropdown-menu w-100">
	@if (Items != null)
	{
		@foreach (TItemType item in Items)
		{
			TItemType currentItem = item;
			string text = TextSelector.Invoke(currentItem);
			<HxAutosuggestItem Text="@text" OnClick="async () => await HandleItemClick(currentItem)" />
		}
	}
</div>