<button class="btn btn-primary" type="button" disabled>
	<HxSpinner Size="SpinnerSize.Small" />
	<span role="status">Loading...</span>
</button>

<button class="btn btn-primary" type="button" disabled>
	<HxSpinner Size="SpinnerSize.Small" Type="SpinnerType.Grow" />
	<span role="status">Loading...</span>
</button>
