@inherits LayoutComponentBase

<div class="container">
	<div class="d-flex">
		<h1 class="my-4">Blazor Debug App</h1>
		<ColorModeToggle />
	</div>
	<div class="row">
		<div class="col-3">
			<ul class="nav flex-column">
				@foreach (var demo in GetDemos())
				{
					string url = "/" + demo;
					<li @key="@demo" class="nav-item"><a href="@url">@demo</a></li>
				}
			</ul>
		</div>
		<div class="col-9">
			<HxCard>
				<BodyTemplate>
					<HxMessenger Position="ToastContainerPosition.TopCenter" />
					<HxMessageBoxHost />
					@Body
				</BodyTemplate>
			</HxCard>
		</div>
	</div>
</div>

@code
{
	private IEnumerable<string> GetDemos()
	{
		// local debug-only implementation
		var files = Directory.GetFiles(Path.Combine(Environment.CurrentDirectory, "Pages"), "*Test*razor");
		return files.Select(item => Path.GetFileNameWithoutExtension(item)).OrderBy(item => item).ToList();
	}
}
