@page "/HxButton_TooltipDrawerOverlay"
@rendermode InteractiveAuto

<div id="123" style="isolation: isolate;">
	<HxButton Text="Show drawer" Tooltip="Show drawer" TooltipContainer="#123" OnClick="HandleShow" />
</div>
<HxDrawer @ref="drawerComponent" Title="Drawer title">
	<BodyTemplate>
		<p>Some content for the drawer.</p>
	</BodyTemplate>
</HxDrawer>

@code {
	private HxDrawer drawerComponent;

	private async Task HandleShow()
	{
		await drawerComponent.ShowAsync();
	}

	private async Task HandleHide()
	{
		await drawerComponent.HideAsync();
	}
}
