<EditForm Model="@model">
    <HxButtonGroup>
        <InputRadioGroup @bind-Value="model.selectedRadio">
            <InputRadio id="radio1"  class="btn-check" Value="@("Radio1 ")" />
            <label class="btn btn-outline-primary" for="radio1">Radio 1</label>

            <InputRadio id="radio2" class="btn-check" Value="@("Radio 2")" />
            <label class="btn btn-outline-primary" for="radio2">Radio 2</label>

            <InputRadio id="radio3" class="btn-check" Value="@("Radio 3")" />
            <label class="btn btn-outline-primary" for="radio3">Radio 3</label>
        </InputRadioGroup>
    </HxButtonGroup>
</EditForm>

@code {
    private DemoModel model = new();

    class DemoModel
    {
        public string selectedRadio = "Radio 1";
    }
}
