@namespace Havit.Blazor.Documentation.Shared.Components
@using System.Globalization

<HxAutosuggest Placeholder="Search"
                TItem="SearchItem"
                TValue="SearchItem"
                @bind-Value="@SelectedResult"
                MinimumLength="1"
                Delay="1"               
                CssClass="sidebar-search mb-3 pt-1"
                DataProvider="ProvideSuggestions"
                @ref="_autosuggest">
    <ItemTemplate Context="searchItem"><span class="small">@searchItem.Title</span></ItemTemplate>
    <EmptyTemplate>
        <span class="p-2">No matches found</span>
    </EmptyTemplate>
</HxAutosuggest>
