@attribute [Route(NavigationRoutes.PageViewTracking.AutoRouteTrackingPage2)]
@rendermode InteractiveServerWithoutPrerendering
@inject IBlazorApplicationInsights AppInsights

@if (_done)
{
	<span id="done">done</span>
}

@code
{
	private bool _done;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await AppInsights.FlushAsync();
			_done = true;
			StateHasChanged();
		}
	}
}
