@attribute [Route(NavigationRoutes.PageViewTracking.AutoRouteTrackingPage1)]
@rendermode InteractiveServerWithoutPrerendering

<HxApplicationInsightsScript />

<a id="goto-page2" href="@NavigationRoutes.PageViewTracking.AutoRouteTrackingPage2">Go to Page 2</a>
