@namespace  Havit.Blazor.Components.Web.Bootstrap
<div class=@($"drawer {(this.IsOpen ? "show" : "hide")}")>
	@if (IsOpen || PreRenderContent)
	{
		<div class="drawer-header pt-4 px-4">
			@if (TitleSection != null)
			{
				@TitleSection
			}
			else if (!String.IsNullOrEmpty(Title))
			{
				@Title
			}
			<button class="btn-close" @onclick="() => SetState(isOpen: false)" @onclick:stopPropagation />
		</div>
		@if (BodySection != null)
		{
			<div class="drawer-body d-flex p-4">@BodySection</div>
		}
		@if (CommandsSection != null)
		{
			<div class="drawer-footer pb-4 px-4">@CommandsSection</div>
		}
	}
</div>
