@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("hx-drawer", GetSizeCssClass(), GetOpenCssClass())">
	@if (IsOpen || (RenderMode == DrawerRenderMode.Always))
	{
		<div class="hx-drawer-header pt-4 px-4 d-flex align-items-center">
			<div class="fs-4">
                @HeaderText
			    @HeaderTemplate
            </div>
			<button class="btn-close ms-auto" @onclick="() => SetState(isOpen: false)" @onclick:stopPropagation />
		</div>
		@if (BodyTemplate != null)
		{
			<div class="hx-drawer-body p-4">@BodyTemplate</div>
		}
		@if (FooterTemplate != null)
		{
			<div class="hx-drawer-footer pb-4 px-4">@FooterTemplate</div>
		}
	}
</div>
