@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("drawer", GetSizeCssClass(), GetOpenCssClass())">
	@if (IsOpen || PreRenderContent)
	{
		<div class="drawer-header pt-4 px-4 d-flex align-items-center">
			<div class="fs-4">
                @Title
			    @TitleSection
            </div>
			<button class="btn-close ms-auto" @onclick="() => SetState(isOpen: false)" @onclick:stopPropagation />
		</div>
		@if (BodySection != null)
		{
			<div class="drawer-body p-4">@BodySection</div>
		}
		@if (CommandsSection != null)
		{
			<div class="drawer-footer pb-4 px-4">@CommandsSection</div>
		}
	}
</div>
