@namespace  Havit.Blazor.Components.Web.Bootstrap
<div class=@($"drawer {(this.IsOpen ? "show" : "hide")}")>
	@if (IsOpen || PreRenderContent)
	{
		<div class="drawer-header pt-4 px-4">
			@if (TitleSection != null)
			{
				@TitleSection
			}
			else if (!String.IsNullOrEmpty(Title))
			{
				@Title
			}
			<button class="close" @onclick="OnCloseClickCallback">
				<svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd" />
					<path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd" />
				</svg>
			</button>
		</div>
		@if (BodySection != null)
		{
			<div class="drawer-body d-flex p-4">@BodySection</div>
		}
		@if (CommandsSection != null)
		{
			<div class="drawer-footer pb-4 px-4">@CommandsSection</div>
		}
	}
</div>
