@namespace Havit.Blazor.Components.Web.Bootstrap
<div @ref="offcanvasElement" class="@CssClassHelper.Combine("offcanvas", GetPlacementCssClass(), GetSizeCssClass(), this.CssClass)"  tabindex="-1">
	@if (opened || (this.RenderMode == OffcanvasRenderMode.Always))
	{
	<div class="@CssClassHelper.Combine("offcanvas-header", this.HeaderCssClass)">
		@if (HeaderText != null)
		{
			<h5 class="offcanvas-title">
				@HeaderText
			</h5>
		}
		@HeaderTemplate
		
		@if (CloseIcon != null)
		{
			<div role="button"  @onclick="HandleOnCloseClick" @onclick:stopPropagation><HxIcon Icon="CloseIcon" /></div>
		}

	</div>
		@if (BodyTemplate != null)
		{
			<div class="offcanvas-body">
				@BodyTemplate
			</div>
		}
		@if (FooterTemplate != null)
		{
			<div class="@CssClassHelper.Combine("offcanvas-footer", this.FooterCssClass)">
				@FooterTemplate
			</div>
		}
	}
</div>
