@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="hx-list-layout">
    <HxCard Skin="CardSkin.None" CssClass="my-4" HeaderCssClass="d-flex" BodyCssClass="px-0 pt-0">
		<HeaderTemplate>
				<div class="fs-5">
					@if (NamedViewsSection != null)
					{
						<div class="dropdown">
							<span role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
								  aria-expanded="false">
								@if (TitleSection != null)
								{
									@TitleSection
								}
								else if (!String.IsNullOrEmpty(Title))
								{
									@Title
								}
								<HxIcon CssClass="fs-6 ms-1" Icon="@BootstrapIcon.ChevronDown" />
							</span>
							@NamedViewsSection
						</div>
					}
					else if (TitleSection != null)
					{
						@TitleSection
					}
					else if (!String.IsNullOrEmpty(Title))
					{
						@Title
					}
				</div>
				@if (FilterSection != null)
				{
					<HxDrawer @bind-IsOpen="@FilterDrawerOpen">
						<BodyTemplate>
							<CascadingValue Value="@FilterDrawerOpen" Name="FilterDrawerOpen">
								@* TODO pojmenování, konstanta *@ @* Kam může programátor napsat, že chce filtr by default expandovaný?
								*@
								@FilterSection
							</CascadingValue>
						</BodyTemplate>
					</HxDrawer>
				}

				@if (SearchSection != null)
				{
					<div class="search mb-3 mb-lg-0">
						@SearchSection
					</div>
				}
				<div class="commands text-end">
					@if (FilterSection != null)
					{
						<HxButton OnClick="() => FilterDrawerOpen = true" Color="ThemeColor.Secondary">Filtrovat</HxButton>
					}
					@if (CommandsSection != null)
					{
						@CommandsSection
					}
				</div>
		</HeaderTemplate>
		<BodyTemplate>
			@DataSection
		</BodyTemplate>
    </HxCard>
	@DetailSection
</div>