@inherits LayoutComponentBase

<PageTitle>@_title</PageTitle>

<HxMessenger Position="ToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<Navbar CssClass="d-none d-lg-block" />
<div class="container-fluid d-md-flex min-vh-100">
	<Sidebar />

	<div style="min-width: 0;" class="doc-content main p-md-4 pt-0 flex-grow-1 overflow-hidden">
        <CascadingValue Value="_docHeadContentTracker" IsFixed="true">
		    @Body
        </CascadingValue>
	</div>

	<OnThisPageNavigation CssClass="side-page-navigation sticky-top mt-4 d-none d-lg-block">
		<h6 class="mt-3 pb-1 border-bottom">On this page</h6>
	</OnThisPageNavigation>
</div>
