::deep .side-page-navigation {
    width: inherit;
    flex-grow: 1;
    flex-shrink: 0.2;
    flex-basis: 250px;
}

.container-fluid {
    max-width: 1600px;
    margin: 0 auto;
}

/* Offset headings by Navbar height on desktop */
@media screen and (min-width: 992px) {
    .doc-content > ::deep h1, 
    .doc-content > ::deep h2, 
    .doc-content > ::deep h3, 
    .doc-content > ::deep h4,
    .doc-content > ::deep h5 {
        padding-top: 56px; margin-top: -56px;
    }
}
