<div class="@CssClassHelper.Combine(CssClass, "nav-container mx-auto sticky-top bg-body")">
	<HxNavbar ContainerCssClass="container-fluid">
		<HxNavbarBrand CssClass="py-0">
			<img src="./logo.png" width="32" height="30" alt="HAVIT Blazor">
			<span class="fw-semibold">HAVIT Blazor</span>
		</HxNavbarBrand>
		<HxNavbarToggler CssClass="border-0" />
		<HxNavbarCollapse>
			<HxNav CssClass="mx-auto justify-content-center gap-3 my-3 my-lg-0">
				<HxNavLink Href="" CssClass="px-3 link-body-emphasis link-opacity-75 link-opacity-100-hover" Match="NavLinkMatch.All">
					Introduction
				</HxNavLink>
				<HxNavLink Href="getting-started" CssClass="px-3 link-body-emphasis link-opacity-75 link-opacity-100-hover">
					Documentation
				</HxNavLink>
				<HxNavLink Href="https://blocks.havit.blazor.eu" CssClass="px-3 link-body-emphasis link-opacity-75 link-opacity-100-hover">
					Blocks
				</HxNavLink>
				<HxNavLink Href="showcase" CssClass="px-3 link-body-emphasis link-opacity-75 link-opacity-100-hover">
					Showcase
				</HxNavLink>
				<HxNavLink Href="premium" CssClass="px-3 link-body-emphasis link-opacity-75 link-opacity-100-hover">
					Premium
				</HxNavLink>
			</HxNav>
            <div class="d-flex gap-3 align-items-center justify-content-center">
                <Search />

				<a href="https://github.com/havit/Havit.Blazor" class="text-body" target="_blank">
					<HxIcon Icon="BootstrapIcon.Github" AriaLabel="GitHub repository" />
				</a>
				<Havit.Blazor.Documentation.Shared.Components.DocColorMode.DocColorModeSwitcher />
			</div>
		</HxNavbarCollapse>
	</HxNavbar>
</div>

@code
{
	[Parameter] public string CssClass { get; set; }
}