@attribute [Route("/components/" + nameof(HxCalendar))]

<ComponentApiDoc Type="typeof(HxCalendar)">
    <MainContent>
        <DocHeading Title="Basic usage" />
        <Demo Type="typeof(HxCalendar_Demo)" Tabs="false" />

        <DocHeading Title="Dates customization" />
        <p>
			You can customize the rendering of weekend days by defining your own CSS rule for the <code>.weekend</code> class.
			Disabled days are assigned the <code>.disabled</code> class.
        </p>
        <p>
			For more detailed customization, use the <code>DateCustomizationProvider</code> parameter,
			which allows you to set <code>CssClass</code> and <code>Enabled</code> values for each date rendered.
        </p>

        <DocHeading Id="HxInputDate-HxInputDateRange" Title="HxInputDate, HxInputDateRange" />
        <p>
            <code>HxCalendar</code> is used in implementation of <a href="/components/HxInputDate"><code>HxInputDate</code></a>
            and <a href="/components/HxInputDateRange"><code>HxInputDateRange</code></a> components. See their documentation for more info.
        </p>

        <DocHeading Title="Time zones" />
        <p>
            You can change the time zone used by the calendar by providing a custom <a href="https://devblogs.microsoft.com/dotnet/announcing-dotnet-8-preview-4/#introducing-time-abstraction"><code>TimeProvider</code></a>.
            TimeProvider is resolved in the following order:
            <ol>
                <li><code>TimeProvider</code> parameter on <code>HxCalendar</code>, <a href="/components/HxInputDate"><code>HxInputDate</code></a> and <a href="/components/HxInputDateRange"><code>HxInputDateRange</code></a>.</li>
                <li><code>Settings</code> <a href="/components/HxCalendar#HxCalendar-parameters">HxCalendar.Settings</a></li>
                <li><code>Defaults</code> <a href="/components/HxCalendar#HxCalendar-static-properties">HxCalendar.Defaults</a></li>
                <li>Adding a <code>TimeProvider</code> service via dependency injection.</li>
                <li>The default <code>TimeProvider.System</code> time provider.</li>
            </ol>
        </p>
        <p>
			One application of this is for server-rendered Blazor components where the server's local time zone differs from the client's time zone.
            See the following sample:
        </p>
        <CodeSnippet File="~\Pages\Components\HxCalendarDoc\HxCalendar_ZonedTimeProvider.CodeSnippet.cs" />
        <p>
			Use the <code>ZonedTimeProvider</code>.
			Ensure that <a href="/components/HxCalendar#HxCalendar-static-properties"><code>Defaults</code></a> are configured in <code>Program.cs</code>
			or where you maintain your other defaults.
			Please expand this to include appropriate error handling, caching, etc., as per your requirements.
		</p>
        <CodeSnippet File="~\Pages\Components\HxCalendarDoc\HxCalendar_TimeProvider.CodeSnippet.razor" />


    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-hover-background" Default="var(--bs-tertiary-bg)">
            Day background on hover.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-border" Default="none">
            Day border.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-hover-border" Default="none">
            Day border on hover.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-selected-background" Default="var(--bs-primary)">
            Background of the selected day.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-selected-color" Default="var(--bs-white)">
            Color of the selected day.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-selected-border" Default="none">
            Border of the selected day.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-out-color" Default="var(--bs-tertiary-color)">
            Day outer color.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-in-color" Default="unset">
            Day inner color.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-disabled-opacity" Default=".5">
            Disabled day opacity.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-disabled-text-decoration" Default="line-through">
            Disabled day text decoration.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-names-color" Default="unset">
            Color of the day names.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-names-font-weight" Default="700">
            Font weight of the day names.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-navigation-button-focus-box-shadow" Default="0 0 0 var(--bs-focus-ring-width) var(--bs-focus-ring-color)">
            Navigation button box shadow when focused.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-navigation-button-hover-background" Default="var(--bs-tertiary-bg)">
            Navigation button background on hover.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-navigation-button-text-color" Default="var(--bs-tertiary-color)">
            Navigation button text color.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-today-border" Default="none">
            Border of today.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-today-background" Default="var(--bs-primary-rgb)">
            Background of today.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-today-background-opacity" Default=".1">
            Background opacity of today.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-today-color" Default="var(--bs-primary)">
            Color of today.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-border-radius" Default=".25rem">
            Day border radius.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-width" Default="2.25rem">
            Day width.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-height" Default="2.25rem">
            Day height.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-day-spacing" Default=".125rem">
            Day spacing.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-calendar-font-size" Default=".875rem">
            Font size within the calendar.
        </ComponentApiDocCssVariable>
    </CssVariables>

</ComponentApiDoc>