@namespace Havit.Blazor.Components.Web.Bootstrap

@if (Href is not null)
{
	<a class="@GetClasses()" href="@Href">
		@Text
		@ChildContent
	</a>
}
else if (StepperContainer?.HasAnchorItems ?? false)
{
	@* Sibling items are anchors, the parent stepper renders as a div element where a li element would be invalid. *@
	<div class="@GetClasses()">
		@Text
		@ChildContent
	</div>
}
else
{
	<li class="@GetClasses()">
		@Text
		@ChildContent
	</li>
}
