@attribute [Route("/components/" + nameof(HxNav))]
@attribute [Route("/components/" + nameof(HxNavLink))]

<ComponentApiDoc Type="typeof(HxNav)">
	<h2>Base nav</h2>
	<Demo Type="typeof(HxNav_Demo_BaseNav)" />

	<h2>Vertical</h2>
	<Demo Type="typeof(HxNav_Demo_Vertical)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxNavLink)" />
