@attribute [Route("/components/" + nameof(HxNav))]
@attribute [Route("/components/" + nameof(HxNavLink))]

<ComponentApiDoc Type="typeof(HxNav)">
	<DocHeading Title="Base Nav" />
	<Demo Type="typeof(HxNav_Demo_BaseNav)" />

    <DocHeading Title="Vertical" />
	<Demo Type="typeof(HxNav_Demo_Vertical)" />

    <DocHeading Title="Tabs" />
	<p>The raw implementation requires you to set the <code>active</code> class on your own (the <code>Match</code> behavior on <code>Href</code> might help).</p>
	<p>See <a href="/components/@nameof(HxTabPanel)">@nameof(HxTabPanel)</a> for more sophisticated implementation.</p>
	<Demo Type="typeof(HxNav_Demo_Tabs)" />

	<DocHeading Title="Underline" />
	<p>Use <code>Variant="NavVariant.Underline"</code> for underlined style:</p>
	<Demo Type="typeof(HxNav_Demo_Underline)" />

    <DocHeading Title="Pills" />
	<Demo Type="typeof(HxNav_Demo_Pills)" />

    <DocHeading Title="Dropdowns" />
	<Demo Type="typeof(HxNav_Demo_Dropdowns)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxNavLink)" />
