@attribute [Route("/components/" + nameof(HxNav))]
@attribute [Route("/components/" + nameof(HxNavLink))]

<ComponentApiDoc Type="typeof(HxNav)">
	<SectionTitle Id="BaseNav" />
	<Demo Type="typeof(HxNav_Demo_BaseNav)" />

	<SectionTitle Id="Vertical" />
	<Demo Type="typeof(HxNav_Demo_Vertical)" />

	<SectionTitle Id="Tabs" />
	<p>The raw implementation requires you to set the <code>active</code> class on your own (the <code>Match</code> behavior on <code>Href</code> might help).</p>
	<p>See <a href="/components/@nameof(HxTabPanel)">@nameof(HxTabPanel)</a> for more sophisticated implementation.</p>
	<Demo Type="typeof(HxNav_Demo_Tabs)" />

	<SectionTitle Id="Pills" />
	<Demo Type="typeof(HxNav_Demo_Pills)" />

	<SectionTitle Id="Dropdowns" />
	<Demo Type="typeof(HxNav_Demo_Dropdowns)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxNavLink)" />
