@attribute [Route("/components/" + nameof(HxAutosuggest))]

<ComponentApiDoc Type="typeof(HxAutosuggest<TItem, TValue>)">
    <MainContent>
		<p>
			<code>HxAutosuggest</code> component is similar to <a href="/components/HxSearchBox">HxSearchBox</a> component, but it is designed to be used in forms.<br />
			<ul>
				<li><code>HxAutosuggest</code> supports validation,</li>
				<li><code>HxAutosuggest</code> supports <code>Value</code>-binding to model,</li>
				<li><code>HxAutosuggest</code> supports <code>HxFormState</code>,</li>
				<li><code>HxAutosuggest</code> does not support free-text query.</li>
			</ul>
		</p>

        <DocHeading Title="Basic usage" />
        <Demo Type="typeof(HxAutosuggest_Demo_Basic)" Tabs="false" />

		<DocHeading Title="Initial suggestions" />
		<p>
			You can provide initial suggestions to the user by setting the <code>MinimumLength="0"</code>. This is useful when you want to display some suggestions to the user before he starts typing.
		</p>
		<Demo Type="typeof(HxAutosuggest_Demo_InitialSuggestions)" />
		<DocAlert Type="DocAlertType.Warning">
			Consider caching the initial suggestions to avoid unnecessary roundtrips for repetitive <code>DataProvider</code> calls.<br />
			You might want to tweak the <code>Delay</code> parameter to disable/minimize the delay before the initial suggestions are displayed.<br />
			In such case, consider using additional <a href="/concepts/Debouncer">Debouncer</a> for regular suggestions to avoid unnecessary roundtrips on every keystroke.
		</DocAlert>

    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-autosuggest-input-close-icon-opacity" Default=".25">
            Opacity of the close icon.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-autosuggest-item-highlighted-background-color" Default="var(--bs-tertiary-bg)">
            When <code>HxAutosuggest.HighlightFirstSuggestion</code> is <code>true</code>, then the first item receives this background color.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-autosuggest-dropdown-menu-height" Default="300px">
            Maximum height of results dropdown menu.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-autosuggest-dropdown-menu-width" Default="100%">
            Width of results dropdown menu.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>
