@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("card",  (this.Skin ?? CardSkin.Default)?.CssClass, this.CssClass)">
	@if (HeaderTemplate is not null)
	{
		<div class="card-header">
			@HeaderTemplate
		</div>
	}
	@if (BodyTemplate is not null)
	{
		<div class="card-body">
			@BodyTemplate
		</div>
	}
	@if (FooterTemplate is not null)
	{
		<div class="card-footer">
			@FooterTemplate
		</div>
	}
</div>