@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("card",  (this.Skin ?? HxCard.DefaultSkin)?.CssClass, this.CssClass)">
	@if (HeaderTemplate is not null)
	{
		<div class="@CssClassHelper.Combine("card-header",  (this.Skin ?? HxCard.DefaultSkin)?.HeaderCssClass, this.HeaderCssClass)">
			@HeaderTemplate
		</div>
	}
	@if (BodyTemplate is not null)
	{
		<div class="@CssClassHelper.Combine("card-body",  (this.Skin ?? HxCard.DefaultSkin)?.BodyCssClass, this.BodyCssClass)">
			@BodyTemplate
		</div>
	}
	@if (FooterTemplate is not null)
	{
		<div class="@CssClassHelper.Combine("card-footer",  (this.Skin ?? HxCard.DefaultSkin)?.FooterCssClass, this.FooterCssClass)">
			@FooterTemplate
		</div>
	}
</div>