@attribute [Route("/components/" + nameof(HxSwitch))]
@attribute [Route("/components/HxInputSwitch")]

<ComponentApiDoc Type="typeof(HxSwitch)">

    <DocAlert Type="DocAlertType.Info">
        <code>HxSwitch</code> replaces the former <code>HxInputSwitch</code> component, which was dropped in v4.0.0.
        <ul class="mb-0">
            <li><code>HxInputSwitch.Label</code> is now <code>HxSwitch.Text</code></li>
            <li>new <code>Label</code> parameter coresponds to the optional <code>.form-label</code></li>
        </ul>
    </DocAlert>

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxSwitch_Demo)" Tabs="false" />

    <DocHeading Title="Reverse" />
    <p>Put the switch on the opposite side by setting the <code>Reverse</code> parameter to <code>true</code>.</p>
    <Demo Type="typeof(HxSwitch_Demo_Reverse)" />
</ComponentApiDoc>