@attribute [Route("/components/" + nameof(HxButtonGroup))]
@attribute [Route("/components/" + nameof(HxButtonToolbar))]

<ComponentApiDoc Type="typeof(HxButtonGroup)">
    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxButtonGroup_Demo)" Tabs="false" />

    <DocHeading Title="Outlined styles" />
    <Demo Type="typeof(HxButtonGroup_Demo_Outlined)" />

    <DocHeading Title="Button toolbar" />
    <p>Use <code>HxButtonToolbar</code> and combine sets of button groups into button toolbars for more complex components. Use utility classes as needed to space out groups, buttons, and more.</p>
    <Demo Type="typeof(HxButtonToolbar_Demo)" />

    <p>Feel free to mix input groups with button groups in your toolbars. Similar to the example above, you’ll likely need some utilities though to space things properly.</p>
    <Demo Type="typeof(HxButtonToolbar_Demo_2)" />

    <DocHeading Title="Sizing" />
    <Demo Type="typeof(HxButtonGroup_Demo_Sizes)" />

    <DocHeading Title="Nesting" />
    <p>Place a <code>HxButtonGroup</code> within another <code>HxButtonGroup</code> when you want dropdown menus mixed with a series of buttons.</p>
    <Demo Type="typeof(HxButtonGroup_Demo_Nesting)" />

    <DocHeading Title="Vertical orientation" />
    <Demo Type="typeof(HxButtonGroup_Demo_Vertical)" />

    <DocHeading Title="Checkboxes and radio buttons" Id="checkboxes-and-radios" />
    <p>Combine button-like checkbox and radio toggle components into a seamless looking button group.</p>
    <Demo Type="typeof(HxButtonGroup_Demo_Checkboxes)" />
    <Demo Type="typeof(HxButtonGroup_Demo_Radios)" />

    <DocHeading Title="Buttons with tooltips" Id="buttons-with-tooltips" />
    <DocAlert Type="DocAlertType.Warning">
        <p>
            Adding a <code>Tooltip</code> or <code>TooltipWrapperCssClass</code> to any <code>HxButton</code> adds wrapping
            <code>&lt;span&gt;...&lt;/span&gt;</code> to the button (to support tooltips on disabled buttons).
        </p>
        <p>
            Sometimes the wrapping <code>&lt;span&gt;...&lt;/span&gt;</code> breaks the HTML structure anticipated by some Bootstrap components
            and button-group is one of them. Combining button tooltips with button-groups is not supported.
        </p>
    </DocAlert>
    <Demo Type="typeof(HxButtonGroup_Demo_Tooltips)" />

</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxButtonToolbar)" />
