@page "/components/HxButtonGroup"

<ComponentApiDoc Type="typeof(HxButtonGroup)">
    <h3>Basic Usage</h3>
    <Demo Type="typeof(HxButtonGroup_Demo)" Tabs="false" />

    <h3>Outlined Styles</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Outlined)" Tabs="false" />

    <h3>Sizing</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Sizes)" />

    <h3>Nesting</h3>
    <p>Place a <code>HxButtonGroup</code> within another <code>HxButtonGroup</code> when you want dropdown menus mixed with a series of buttons.</p>
    <Demo Type="typeof(HxButtonGroup_Demo_Nesting)" />

    <h3>Vertical orientation</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Vertical)" Tabs="false" />
</ComponentApiDoc>
