@page "/components/HxButtonGroup"

<ComponentApiDoc Type="typeof(HxButtonGroup)">
    <h3>Basic example</h3>
    <Demo Type="typeof(HxButtonGroup_Demo)" Tabs="false" />

    <h3>Outlined styles</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Outlined)" Tabs="false" />

    <h3>Sizing</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Sizes)" />

    <h3>Vertical variation</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Vertical)" Tabs="false" />
</ComponentApiDoc>
