@attribute [Route("/components/" + nameof(HxButtonGroup))]
@attribute [Route("/components/" + nameof(HxButtonToolbar))]

<ComponentApiDoc Type="typeof(HxButtonGroup)">
    <h3 id="BasicUsage">Basic Usage</h3>
    <Demo Type="typeof(HxButtonGroup_Demo)" Tabs="false" />

    <h3 id="OutlinedStyles">Outlined Styles</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Outlined)" Tabs="false" />

    <h3 id="ButtonToolbar">Button toolbar</h3>
    <p>Use <code>HxButtonToolbar</code> and combine sets of button groups into button toolbars for more complex components. Use utility classes as needed to space out groups, buttons, and more.</p>
    <Demo Type="typeof(HxButtonToolbar_Demo)" />

    <p>Feel free to mix input groups with button groups in your toolbars. Similar to the example above, you’ll likely need some utilities though to space things properly.</p>
    <Demo Type="typeof(HxButtonToolbar_Demo_2)" />

    <h3 id="Sizing">Sizing</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Sizes)" />

    <h3 id="Nesting">Nesting</h3>
    <p>Place a <code>HxButtonGroup</code> within another <code>HxButtonGroup</code> when you want dropdown menus mixed with a series of buttons.</p>
    <Demo Type="typeof(HxButtonGroup_Demo_Nesting)" />

    <h3 id="VerticalOrientation">Vertical orientation</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Vertical)" Tabs="false" />

    <h3 id="CheckboxGroup">With checkboxes</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Checkboxes)" Tabs="false" />

    <h3 id="SwitchGroup">With switches</h3>
    <Demo Type="typeof(HxButtonGroup_Demo_Switches)" Tabs="false" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxButtonToolbar)" />
