@namespace Havit.Blazor.Components.Web.Bootstrap

<div @ref="_collapseHtmlElement" aria-expanded="@_isShown" id="@Id" class="@GetCssClass()" data-bs-parent="@Parent" @attributes="this.AdditionalAttributes">
	@ChildContent                                                                                        
</div>