@using Havit.Blazor.Documentation.Pages
@inherits PerformanceLoggingComponentBase

<!--googleoff: index-->
@if (Tabs)
{
	<HxTabPanel Variant="TabPanelVariant.Card" CardSettings="_cardSettings">
		<HxTab Id="demo" Title="Demo">
			<Content>
				@_renderDemo
			</Content>
		</HxTab>
		<HxTab Id="source" Title="Source" OnTabActivated="LoadCodeAsync">
			<Content>
				@_renderCode
			</Content>
		</HxTab>
	</HxTabPanel>
}
else
{
	<HxCard Settings="_cardSettings">
		<BodyTemplate>
			@_renderDemo
			@_renderCode
		</BodyTemplate>
	</HxCard>
}

<!--googleon: index-->

@code {
	private void RenderDemo(RenderTreeBuilder __builder)
	{
		<div class="@CssClassHelper.Combine("p-3", DemoCardCssClass)">
			<DynamicComponent Type="Type" />
		</div>
	}

	private void RenderCode(RenderTreeBuilder __builder)
	{
		if (_code is null)
		{
			<HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
				<HxPlaceholder Columns="8" />
			</HxPlaceholderContainer>
		}
		else
		{
			<pre class="@(!Tabs ? "bg-body-tertiary" : null)">
				<code class="language-cshtml">
					@(_code.Trim())
				</code>
			</pre>
		}
	}
}