.demo-resizable {
	min-width: 280px;
	max-width: 100%;
	padding: 1rem;
	overflow: auto;
	resize: horizontal;
	background-color: var(--bs-body-bg);
	border: 1px dashed var(--bs-border-color);
	border-radius: var(--bs-border-radius);
}
