<p class="mt-2 fw-light">
	<span class="fst-italic">Note:</span> The demos on this page use <code>DemoDataService</code>, in-memory simulation of a simple data store.
	Find the implementation on <a href="https://github.com/havit/Havit.Blazor/tree/master/Havit.Blazor.Documentation/DemoData" target="_blank">GitHub</a>.
</p>