@namespace Havit.Blazor.Documentation.Shared.Components

<HxDynamicElement ElementName="@HeadingTagEffective" AdditionalAttributes="@AdditionalAttributes">@Title@ChildContent <a href="@GetItemUrl()">#</a></HxDynamicElement>
