<a href="https://github.com/havit/Havit.Blazor" class="@CssClassHelper.Combine(CssClass, "btn d-flex align-items-center")">
	<HxIcon Icon="BootstrapIcon.Github" CssClass="align-self-end"/>
</a>

@code
{
	[Parameter] public string CssClass { get; set; }
}