<div class="@CssClassHelper.Combine("on-this-page-navigation", CssClass)">
    @if ((_items is not null) && _items.Any())
    {
        @ChildContent
        <ul>
            @GenerateNavigationTree()
        </ul>
    }
</div>

