<div class="@CssClassHelper.Combine("on-this-page-navigation", CssClass)">
    @if ((Items is not null) && Items.Any())
    {
        @ChildContent
        <ul>
            @GenerateNavigationTree()
        </ul>
    }
</div>

