.on-this-page-navigation {
    height: fit-content;
}

ul {
	padding-left: 0;
}

ul ::deep ul {
	padding-left: 1rem;
}

ul,
::deep ul {
	font-size: .875rem;
	list-style-type: none;
}

	ul li, ::deep ul li {
		margin-bottom: .25rem;
	}

::deep a {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::deep a:hover {
    text-decoration: underline;
}
