@namespace Havit.Blazor.Components.Web.Bootstrap.Internal

<div>
	<HxBadge Color="this.BackgroundColor"
			 TextColor="this.TextColor"
			 CssClass="@CssClassHelper.Combine("hx-tag", this.CssClass)">
		@Text
		@if (this.Icon is not null)
		{
			<span class="@CssClassHelper.Combine("d-inline-flex align-items-center", String.IsNullOrEmpty(Text) ? null : "ms-1")" @onclick="this.OnIconClick" @onclick:stopPropagation="true" role="button">
				<HxIcon Icon="this.Icon" />
			</span>
		}
	</HxBadge>
</div>