@attribute [Route("/components/" + nameof(HxIcon))]

<ComponentApiDoc Type="typeof(HxIcon)">

	<p>(Internally used by <a href="/components/@nameof(HxButton)">@nameof(HxButton)</a> and other components.)</p>

	<h3>Icon</h3>
	<p>Icon is a class derived from <code>@nameof(IconBase)</code> as we want to allow use of icons from different icon sets.</p>
	<p>Currently, the library brings just one implementation - <code>@nameof(BootstrapIcon)</code>.</p>

	<h2>BootstrapIcon</h2>
	<p>
		For available icons see <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons <HxIcon Icon="BootstrapIcon.BoxArrowUpRight" /></a>
		or <TypeLink Type="typeof(BootstrapIcon)" /> members.
	</p>

	<DocAlert>
		Under the hood, the component displays the icon using an <a href="https://icons.getbootstrap.com/#usage" target="_blank">icon font</a>.
	</DocAlert>

	<h3>Demo</h3>
	<Demo Type="typeof(HxIcon_Demo)" />
</ComponentApiDoc>