<div style="display: inline-block">
    <HxDropdown>
        <HxDropdownToggle Size="ButtonSize.Small" Color="ThemeColor.Secondary">Small button</HxDropdownToggle>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<HxDropdown Split="true">
    <HxButton Color="ThemeColor.Secondary" Size="ButtonSize.Small">Small split button</HxButton>
    <HxDropdownToggle Color="ThemeColor.Secondary" Size="ButtonSize.Small">
        <span class="visually-hidden">Toggle Dropdown</span>@* OPTIONAL (for accessibility) *@
    </HxDropdownToggle>
    <HxDropdownMenu>
        <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
        <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
        <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
    </HxDropdownMenu>
</HxDropdown>
