<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Primary">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Secondary">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Success">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Danger">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Warning">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Info">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Light">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
    <HxDropdown>
        <HxDropdownToggleButton Color="ThemeColor.Dark">Dropdown button</HxDropdownToggleButton>
        <HxDropdownMenu>
            <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
            <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
        </HxDropdownMenu>
    </HxDropdown>
</div>
