<div class="d-flex justify-content-center">
    <HxDropdownButtonGroup>
		<HxDropdownToggleButton Color="ThemeColor.Secondary">Dropdown</HxDropdownToggleButton>
		<HxDropdownMenu Alignment="DropdownMenuAlignment.End">
			<HxDropdownItemNavLink Href="#">Item 1</HxDropdownItemNavLink>
			<HxDropdownItemNavLink Href="#">Some item 2</HxDropdownItemNavLink>
			<HxDropdownDivider />
			<HxDropdownItemNavLink Href="#">Something else here</HxDropdownItemNavLink>
		</HxDropdownMenu>
	</HxDropdownButtonGroup>
</div>
