<div style="display: inline-block">
    <HxDropdown>
        <HxDropdownToggle Size="ButtonSize.Large" Color="ThemeColor.Secondary">Large button</HxDropdownToggle>
        <HxDropdownMenu>
            <HxDropdownItem Href="#">Link 1</HxDropdownItem>
            <HxDropdownItem Href="#">Link 2</HxDropdownItem>
            <HxDropdownItem Href="#">Link 3</HxDropdownItem>
        </HxDropdownMenu>
    </HxDropdown>
</div>

<HxDropdown Split="true">
    <HxButton Color="ThemeColor.Secondary" Size="ButtonSize.Large">Large split button</HxButton>
    <HxDropdownToggle Color="ThemeColor.Secondary" Size="ButtonSize.Large">
        <span class="visually-hidden">Toggle Dropdown</span>@* OPTIONAL (for accessibility) *@
    </HxDropdownToggle>
    <HxDropdownMenu>
        <HxDropdownItem Href="#">Link 1</HxDropdownItem>
        <HxDropdownItem Href="#">Link 2</HxDropdownItem>
        <HxDropdownItem Href="#">Link 3</HxDropdownItem>
    </HxDropdownMenu>
</HxDropdown>
