@*Loop through all the button variants*@
@foreach (var color in Enum.GetValues(typeof(ThemeColor)))
{
    @*Exclude the button with no styling*@
    @if ((int)color == 0)
    {
        continue;
    }
    
    <div style="display: inline-block; margin: 0 0.5rem 0.5rem 0;">
        <HxDropdown>
            <HxDropdownToggle Color="(ThemeColor)color">Dropdown button</HxDropdownToggle>
            <HxDropdownMenu>
                <HxDropdownItemNavLink Href="#">Link 1</HxDropdownItemNavLink>
                <HxDropdownItemNavLink Href="#">Link 2</HxDropdownItemNavLink>
                <HxDropdownItemNavLink Href="#">Link 3</HxDropdownItemNavLink>
            </HxDropdownMenu>
        </HxDropdown>
    </div>
}
