@attribute [Route("/components/" + nameof(HxInputSwitch))]

<ComponentApiDoc Type="typeof(HxInputSwitch)">
    <Demo Type="typeof(HxInputSwitch_Demo)" Tabs="false" />

    <DocAlert Type="DocAlertType.Info"><code>HxInputSwitch</code> can be used within <a href="/components/HxButtonGroup#SwitchGroup">HxButtonGroup</a>.</DocAlert>
</ComponentApiDoc>