@attribute [Route("/components/" + nameof(HxAlert))]

<ApiDoc Type="typeof(HxAlert)">
    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxAlert_Demo_Basic)" Tabs="false" />

    <DocHeading Title="Link color" />
    <p>Use the <code>.alert-link</code> class on links inside an alert to quickly provide matching colored links.</p>
    <Demo Type="typeof(HxAlert_Demo_LinkColor)" Tabs="false" />

    <DocHeading Title="Icons" />
    <Demo Type="typeof(HxAlert_Demo_Icons)" Tabs="false" />

    <DocHeading Title="Additional content" />
    <Demo Type="typeof(HxAlert_Demo_AdditionalContent)" Tabs="false" />

	<DocHeading Title="Dismissible" />
    <Demo Type="typeof(HxAlert_Demo_Dismissible)" Tabs="false" />
</ApiDoc>
