<HxAlert Color="ThemeColor.Primary">A simple primary alert—check it out!</HxAlert>
<HxAlert Color="ThemeColor.Secondary">A simple secondary alert—check it out!</HxAlert>
<HxAlert Color="ThemeColor.Success"> A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.</HxAlert>
<HxAlert Color="ThemeColor.Danger">A simple danger alert—check it out!</HxAlert>
<HxAlert Color="ThemeColor.Warning">A simple warning alert—check it out!</HxAlert>
<HxAlert Color="ThemeColor.Info">A simple info alert—check it out!</HxAlert>
<HxAlert Color="ThemeColor.Accent">A simple accent alert—check it out!</HxAlert>
<HxAlert Color="ThemeColor.Inverse">A simple dark alert—check it out!</HxAlert>
