<HxAlert Color="ThemeColor.Primary"><p>A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.</p></HxAlert>
<HxAlert Color="ThemeColor.Success"><p>A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.</p></HxAlert>
<HxAlert Color="ThemeColor.Danger"><p>A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.</p></HxAlert>
<HxAlert Color="ThemeColor.Warning"><p>A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.</p></HxAlert>
