@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="dropdown">
    <a class="p-2 link-dark" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <HxIcon Icon="@BootstrapIcon.ThreeDotsVertical" />
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        @ChildContent
    </ul>
</div>