@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Infrastructure;

@{
	bool enabledEffective = CascadeEnabledComponent.EnabledEffective(this);
}

<li class="hx-context-menu-item">
	<a class="@CssClassHelper.Combine("dropdown-item", enabledEffective ? "" : "disabled")" role="@(enabledEffective ? "button" : "")" @onclick="HandleClick" @onclick:stopPropagation="@OnClickStopPropagation">
		@if (this.Icon is not null)
		{
			<HxIcon Icon="this.Icon" CssClass="hx-context-menu-item-icon" />
		}
		@this.Text
		@ChildContent
	</a>
</li>