@namespace Havit.Blazor.Components.Web.Bootstrap
<li>
	@* !WARN! <span> used instead of <a> to prevent collision with grid-line selection event handling "stop-propagation" implementation. !WARN! *@
	<span class="dropdown-item" role="button" @onclick="HandleClick">
		@if (Icon != null)
		{
			<HxIcon Icon="Icon" />
		}
		@Title
		@ChildContent
	</span>
</li>