@namespace Havit.Blazor.Components.Web.Bootstrap
<li>
	<a class="dropdown-item" role="button" @onclick="HandleClick" @onclick:stopPropagation="@OnClickStopPropagation">
		@if (Icon != null)
		{
			<HxIcon Icon="Icon" />
		}
		@Text
		@ChildContent
	</a>
</li>