@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Infrastructure;

@{
	bool enabledEffective = CascadeEnabledComponent.EnabledEffective(this);
}

<li class="hx-context-menu-item">
	<a class="@CssClassHelper.Combine("dropdown-item", enabledEffective ? "" : "disabled")" role="@(enabledEffective ? "button" : "")" @onclick="HandleClick" @onclick:stopPropagation="@OnClickStopPropagation">
		@if (GetIcon() != null)
		{
			<HxIcon Icon="GetIcon()" CssClass="me-2" />
		}
		@GetText()
		@ChildContent
	</a>
</li>