<HxNav Id="dynamic-example" Variant="NavVariant.Pills">
	<HxScrollspyNavLink Href="#dynamicdemo1">Par 1</HxScrollspyNavLink>
	<HxScrollspyNavLink Href="#dynamicdemo2">Par 2</HxScrollspyNavLink>
	<HxScrollspyNavLink Href="#dynamicdemo3">Par 3</HxScrollspyNavLink>
	<HxScrollspyNavLink Href="#dynamicdemo4">Par 4</HxScrollspyNavLink>
	<HxScrollspyNavLink Href="#dynamicdemo5">Par 5</HxScrollspyNavLink>
</HxNav>

<div style="height:250px;position:relative;">
	<HxScrollspy @ref="scrollspyComponent" TargetId="dynamic-example">
		<h4 id="dynamicdemo1">§ 1</h4>
		@if (loaded)
		{
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus facilisis lobortis. Sed non nisi mollis, hendrerit augue sed, facilisis leo. Aliquam dapibus malesuada quam quis luctus. Phasellus placerat mi vel aliquam ullamcorper. Sed sit amet erat a mauris viverra egestas. Praesent efficitur odio sed orci iaculis accumsan. Sed quis quam suscipit, scelerisque velit porttitor, tristique enim. Pellentesque ac magna et metus venenatis pellentesque ullamcorper vitae felis. Vestibulum ut est mi. Ut at dignissim turpis. Pellentesque et magna non massa malesuada consectetur. Morbi in lorem nunc. Integer congue mi non sem consectetur suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		}
		else
		{
			<p>Loading...</p>
		}

		<h4 id="dynamicdemo2">§ 2</h4>
		@if (loaded)
		{
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus facilisis lobortis. Sed non nisi mollis, hendrerit augue sed, facilisis leo. Aliquam dapibus malesuada quam quis luctus. Phasellus placerat mi vel aliquam ullamcorper. Sed sit amet erat a mauris viverra egestas. Praesent efficitur odio sed orci iaculis accumsan. Sed quis quam suscipit, scelerisque velit porttitor, tristique enim. Pellentesque ac magna et metus venenatis pellentesque ullamcorper vitae felis. Vestibulum ut est mi. Ut at dignissim turpis. Pellentesque et magna non massa malesuada consectetur. Morbi in lorem nunc. Integer congue mi non sem consectetur suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		}
		else
		{
			<p>Loading...</p>
		}

		<h4 id="dynamicdemo3">§ 3</h4>
		@if (loaded)
		{
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus facilisis lobortis. Sed non nisi mollis, hendrerit augue sed, facilisis leo. Aliquam dapibus malesuada quam quis luctus. Phasellus placerat mi vel aliquam ullamcorper. Sed sit amet erat a mauris viverra egestas. Praesent efficitur odio sed orci iaculis accumsan. Sed quis quam suscipit, scelerisque velit porttitor, tristique enim. Pellentesque ac magna et metus venenatis pellentesque ullamcorper vitae felis. Vestibulum ut est mi. Ut at dignissim turpis. Pellentesque et magna non massa malesuada consectetur. Morbi in lorem nunc. Integer congue mi non sem consectetur suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		}
		else
		{
			<p>Loading...</p>
		}

		<h4 id="dynamicdemo4">§ 4</h4>
		@if (loaded)
		{
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus facilisis lobortis. Sed non nisi mollis, hendrerit augue sed, facilisis leo. Aliquam dapibus malesuada quam quis luctus. Phasellus placerat mi vel aliquam ullamcorper. Sed sit amet erat a mauris viverra egestas. Praesent efficitur odio sed orci iaculis accumsan. Sed quis quam suscipit, scelerisque velit porttitor, tristique enim. Pellentesque ac magna et metus venenatis pellentesque ullamcorper vitae felis. Vestibulum ut est mi. Ut at dignissim turpis. Pellentesque et magna non massa malesuada consectetur. Morbi in lorem nunc. Integer congue mi non sem consectetur suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		}
		else
		{
			<p>Loading...</p>
		}

		<h4 id="dynamicdemo5">§ 5</h4>
		@if (loaded)
		{
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus facilisis lobortis. Sed non nisi mollis, hendrerit augue sed, facilisis leo. Aliquam dapibus malesuada quam quis luctus. Phasellus placerat mi vel aliquam ullamcorper. Sed sit amet erat a mauris viverra egestas. Praesent efficitur odio sed orci iaculis accumsan. Sed quis quam suscipit, scelerisque velit porttitor, tristique enim. Pellentesque ac magna et metus venenatis pellentesque ullamcorper vitae felis. Vestibulum ut est mi. Ut at dignissim turpis. Pellentesque et magna non massa malesuada consectetur. Morbi in lorem nunc. Integer congue mi non sem consectetur suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		}
		else
		{
			<p>Loading...</p>
		}
	</HxScrollspy>
</div>

<HxAnchorFragmentNavigation @ref="anchorFragmentNavigationComponent" Automation="AnchorFragmentNavigationAutomationMode.SamePage" />  @* Usually placed in @page *@

@code {
	private HxScrollspy scrollspyComponent;
	private HxAnchorFragmentNavigation anchorFragmentNavigationComponent;

	private bool loaded;
	private bool shouldRefreshScrollspy;
	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(5000); // Mocks async data load from backend
		loaded = true;
		shouldRefreshScrollspy = true;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (shouldRefreshScrollspy)
		{
			shouldRefreshScrollspy = false;
			await scrollspyComponent.RefreshAsync();
			await anchorFragmentNavigationComponent.ScrollToCurrentUriFragmentAsync();
		}
	}
}