@namespace Havit.Blazor.Components.Web.Bootstrap
<div id="@Id" class="@CssClassHelper.Combine("hx-accordion","accordion", CssClass)">
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>
</div>