@page "/components/hxformstate"
@layout ComponentsLayout
	
<div class="col-md-10">
	<div class="components">
		<h1>@nameof(HxFormState)</h1>
		<p class="lead">
			Allows to propagate form state as cascading value &amp; parameter.
		</p>

		<p>Publish @nameof(FormState) as cascading value. Allows to enable/disable child components by one property.</p>

		<h3>Properties</h3>
		<ul>
			<li>
				<strong>@nameof(FormState.IsEnabled)</strong><br />				
			</li>
		</ul>

		<Demo Type="typeof(FormState_Demo)" />
	</div>
</div>
