@attribute [Route("/components/" + nameof(HxPager))]

<ComponentApiDoc Type="typeof(HxPager)">
    <MainContent>
        <DocHeading Title="Basic usage" />
        <p>Although <code>HxPager</code> is mainly used within <code>HxGrid</code>, you can use it on its own to solve any other paging scenarios.</p>
        <Demo Type="typeof(HxPager_Demo)" Tabs="false" />

        <DocHeading Title="Customization" />
        <p>There are several parameters which allow you pager customization.</p>
        <Demo Type="typeof(HxPager_Demo_Customization)" />
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-pager-margin" Default="1rem">
			Pager margin.
		</ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>
