@page "/HxCalendar_Issue794"
@rendermode InteractiveServer

<h1>HxCalendar</h1>

<HxCalendar @bind-Value="@currentDate" MinDate="minDate" MaxDate="maxDate" />

<p>Selected date: @currentDate</p>

<HxButton Text="Set date to 2021" Color="ThemeColor.Secondary" OnClick="HandleSetYear2021Click" />
<HxButton Text="Set date to 2026" Color="ThemeColor.Secondary" OnClick="HandleSetYear2026Click" />
<HxButton Text="Set null" Color="ThemeColor.Secondary" OnClick="HandleSetNullClick" />

@code {
    DateTime minDate = new DateTime(2024, 3, 1);
    DateTime maxDate = new DateTime(2024, 6, 30);
    DateTime? currentDate = null;// new DateTime(2021, 10, 6);

    private void HandleSetYear2021Click()
    {
        currentDate = new DateTime(2021, 10, 6);
    }

    private void HandleSetYear2026Click()
    {
        currentDate = new DateTime(2026, 2, 25);
    }


    private void HandleSetNullClick()
    {
        currentDate = null;
    }
}
