@attribute [Route("/components/" + nameof(HxCheckboxList<TValue, TItem>))]

<ComponentApiDoc Type="typeof(HxCheckboxList<TValue, TItem>)">
    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxCheckboxList_Demo)" Tabs="false" />

    <DocHeading Title="Inline" />
    <p>Group checkboxes on the same horizontal row by adding <code>Inline="true"</code>.</p>
    <Demo Type="typeof(HxCheckboxList_Demo_Inline)" />
</ComponentApiDoc>
