@page "/components/hxmessenger"

<h1>@nameof(HxMessenger)</h1>
<p class="lead">
	Component to display notification messages.
</p>

<p>Component is using <code>@nameof(IMessenger)</code> cascading parameter. You should place the <code>@nameof(HxMessenger)</code> to the layout component to make it work!</p>
<p>Informational messages are automatically hidden after 5 seconds, warning and error messages remain visible.</p>

<Demo Type="typeof(HxMessenger_Demo)" />
