@namespace Havit.Blazor.Components.Web.Bootstrap
@* TODO WIP *@

<h2>Multi select</h2>
<div class="hx-checkbox-dropdownlist dropdown" role="listbox">
    <input type="text" class="form-control form-select user-select-none" value="-vyberte-" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false" />
    <ul class="dropdown-menu full-width" aria-labelledby="dropdownMenu3">
        <button class="dropdown-item" role="option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Checked checkbox
                </label>
            </div>
        </button>
        <button class="dropdown-item" role="option">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Checked checkbox
                </label>
            </div>
        </button>
    </ul>
</div>


<h2>Single select</h2>
<div class="hx-checkbox-dropdownlist dropdown" role="listbox">
    <input type="text" class="form-control form-select user-select-none" value="-vyberte-" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false" />
    <ul class="dropdown-menu full-width" aria-labelledby="dropdownMenu3">
        <button class="dropdown-item" role="option">
            Jedna
        </button>
        <button class="dropdown-item" role="option">
            Dva
        </button>
    </ul>
</div>