@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TValue

<div>@* CSS Isolation container *@

    @if (Mode != ValidationMessageMode.None)
    {
        List<string> messages = _fieldIdentifiers.SelectMany(fieldIdentifier =>
        _currentEditContext.GetValidationMessages(fieldIdentifier)).ToList();
        bool isValid = !messages.Any();

        if (!isValid)
        {
            <div class="@(HxInputBase<object>.InvalidCssClass)"></div>

            <div class="@Mode.AsCssClass()">
                @{
                    bool firstRendered = false;
                    foreach (string message in messages)
                    {
						/* Do not use the @key here, as it appears that when the FluentValidationValidator is used, it sometimes results in duplicate messages. */
                        <span title="@message" class=@CssClassHelper.Combine(firstRendered ? "ms-1" : String.Empty) >@message</span>
                        firstRendered = true;
                    }
                }

            </div>
        }
    }

</div>