@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TValue

@if (Mode != ValidationMessageMode.None)
{

    List<string> messages = fieldIdentifiers.SelectMany(fieldIdentifier => currentEditContext.GetValidationMessages(fieldIdentifier)).ToList();
    bool isValid = !messages.Any();

    if (isValid)
    {
        // when there is no validation message, render "nothing"
        // practically, we need to render div for keepspace
        if (Mode == ValidationMessageMode.KeepSpace)
        {
            <div class="@Mode.AsCssClass()"></div>
        }
    }
    else
    {
        <div class="@(HxInputBase<object>.InvalidCssClass)"></div>

        <div class="@Mode.AsCssClass()">
            @{
                bool firstRendered = false;
                foreach (string message in messages)
                {
                    if (firstRendered)
                    {
                        <text> </text>
                    }

                    <span>@message</span>

                    firstRendered = true;
                }
            }
        </div>
    }
}