@attribute [Route("/components/" + nameof(HxProgress))]
@attribute [Route("/components/" + nameof(HxProgressBar))]

<ComponentApiDoc Type="typeof(HxProgress)">
    <h3>Example</h3>
    <Demo Type="typeof(HxProgress_Demo)" Tabs="false" />

    <h3>Labels</h3>
    <Demo Type="typeof(HxProgress_Demo_Labels)" Tabs="false" />

    <h3>Height</h3>
    <Demo Type="typeof(HxProgress_Demo_Height)" Tabs="false" />

    <h3>Backgrounds</h3>
    <Demo Type="typeof(HxProgress_Demo_Backgrounds)" />

    <h3>Multiple bars</h3>
    <Demo Type="typeof(HxProgress_Demo_MultipleBars)" Tabs="false" />

    <h3>Striped</h3>
    <Demo Type="typeof(HxProgress_Demo_Striped)" />

    <h3>Animated stripes</h3>
    <Demo Type="typeof(HxProgress_Demo_AnimatedStripes)" Tabs="false" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxProgressBar)" />
