@attribute [Route("/components/" + nameof(HxProgress))]
@attribute [Route("/components/" + nameof(HxProgressBar))]

<ComponentApiDoc Type="typeof(HxProgress)">
    <h3 id="Example">Example</h3>
    <Demo Type="typeof(HxProgress_Demo)" Tabs="false" />

    <h3 id="Labels">Labels</h3>
    <Demo Type="typeof(HxProgress_Demo_Labels)" Tabs="false" />

    <h3 id="Height">Height</h3>
    <Demo Type="typeof(HxProgress_Demo_Height)" Tabs="false" />

    <h3 id="Backgrounds">Backgrounds</h3>
    <Demo Type="typeof(HxProgress_Demo_Backgrounds)" />

    <h3 id="MultipleBars">Multiple bars</h3>
    <Demo Type="typeof(HxProgress_Demo_MultipleBars)" Tabs="false" />

    <h3 id="Striped">Striped</h3>
    <Demo Type="typeof(HxProgress_Demo_Striped)" />

    <h3 id="AnimatedStripes">Animated stripes</h3>
    <p>When the parameter <code>HxProgressBar.Animated</code> is set to <code>true</code>, stripes are automatically switched on and animated.</p>
    <Demo Type="typeof(HxProgress_Demo_AnimatedStripes)" Tabs="false" />

    <h3 id="SettingParameters">Setting parameters</h3>
    <p>Some parameters can be set for all progress bars at once on the <code>HxProgress</code> component. Inherited values can be overriden on the child components.</p>
    <Demo Type="typeof(HxProgress_Demo_SettingParameters)" Tabs="false" />

    <h3 id="Scale">Scale</h3>
    <p>You can set a scale for the progress bar, for example from <code>-100</code> to <code>100</code> as shown below. Supplied values are going to be normalized according to the <code>MinValue</code> and <code>MaxValue</code> set. Default is <code>0</code> and <code>100</code>.</p>
    <Demo Type="typeof(HxProgress_Demo_Scales)" Tabs="false" />

    <h3 id="Interactive">Interactive</h3>
    <p>The progress value can be easily changed at runtime. When that occurs, the progress bar updates with an animation.</p>
    <Demo Type="typeof(HxProgress_Demo_Interactive)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxProgressBar)" />
