<div class="card">
	<div class="card-header">
		@Title
		@if (!String.IsNullOrEmpty(RazorFile))
		{
			<a href="@GetLinkUrl()" target="_blank" style="float: right">source</a>
		}
	</div>
	<div class="card-body">
		@ChildContent
	</div>
</div>

@code{
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public string RazorFile { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	private string GetLinkUrl() => "https://dev.azure.com/havit/DEV/_git/002.HFW-HavitBlazor?path=" + System.Net.WebUtility.UrlEncode("/Havit.Blazor.Components.Web.Bootstrap.Documentation/Pages/" + RazorFile + ".razor");
}