@page "/"

<div class="container rounded-lg bg-light my-3 p-5">
	<h1 class="display-5 pb-5 pt-3">HAVIT Blazor Library</h1>
	<p class="lead">Welcome to Blazor Library made by <a href="https://www.havit.cz" target="_blank">HAVIT s.r.o.</a>, to suit all your <a href="https://blazor.net" target="_blank">Blazor</a> needs.</p>
</div>
