@page "/"

<div style="font-size: 2rem">
	<a href="https://github.com/havit/Havit.Blazor" class="text-dark"><HxIcon Icon="BootstrapIcon.Github" /></a>
</div>

<div class="container rounded-lg bg-light my-3 p-5">
	<h1 class="display-5 pb-5 pt-3">HAVIT Blazor Library</h1>
	<p class="lead">Bootstrap 5 components for ASP.NET Blazor.</p>
</div>

