@page "/"

<div class="container rounded-lg bg-light my-5 p-5">
	<h1 class="display-5 pb-5 pt-3">Havit.Blazor.Components.Web.Bootstrap</h1>
	<p class="lead">Welcome to Blazor Library made by HAVIT s.r.o., to suit all your Blazor needs.</p>
</div>
