@page "/"

<h1 class="fw-bold lh-1">HAVIT Blazor Library</h1>
<p class="lead">Bootstrap 5 components for ASP.NET Blazor.</p>

<p>
	<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://camo.githubusercontent.com/880e5d14b85504bf95284bb1700333094142d7c80dfd770a160761b409c578f3/68747470733a2f2f696d672e736869656c64732e696f2f6e756765742f762f48617669742e426c617a6f722e436f6d706f6e656e74732e5765622e426f6f747374726170" alt="Nuget" data-canonical-src="https://img.shields.io/nuget/v/Havit.Blazor.Components.Web.Bootstrap" style="max-width: 100%;"></a>
	<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://camo.githubusercontent.com/04d49bdd34ceaeee73845874b54dd51299976bcb9c861e03875fbd85d94c42e6/68747470733a2f2f696d672e736869656c64732e696f2f6e756765742f64742f48617669742e426c617a6f722e436f6d706f6e656e74732e5765622e426f6f747374726170" alt="Nuget" data-canonical-src="https://img.shields.io/nuget/dt/Havit.Blazor.Components.Web.Bootstrap" style="max-width: 100%;"></a>
	<a href="https://dev.azure.com/havit/DEV/_build/latest?definitionId=318&amp;branchName=master" rel="nofollow"><img src="https://camo.githubusercontent.com/d2e016554c2e2efd483ea92e74477557ae0d66c665a2efd7f189b067590302d2/68747470733a2f2f6465762e617a7572652e636f6d2f68617669742f4445562f5f617069732f6275696c642f7374617475732f3030322e4846572d4861766974426c617a6f723f6272616e63684e616d653d6d6173746572" alt="Build Status" data-canonical-src="https://dev.azure.com/havit/DEV/_apis/build/status/002.HFW-HavitBlazor?branchName=master" style="max-width: 100%;"></a>
	<a href="https://github.com/havit/Havit.Blazor/blob/master/LICENSE"><img src="https://camo.githubusercontent.com/329ddb7cccf4c6f5c55caae90ddf308fef03a6d9dbcbd935e96ab38a1d815018/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f6c6963656e73652f68617669742f48617669742e426c617a6f72" alt="GitHub" data-canonical-src="https://img.shields.io/github/license/havit/Havit.Blazor" style="max-width: 100%;"></a>
</p>

<h1>Introduction</h1>
<p>HAVIT Blazor Library is a set of components, recommendations and practices to easy Blazor application development.</p>
<p>Components implementation is based on <a href="https://v5.getbootstrap.com">Bootstrap 5</a>.</p>

<h2>Installation</h2>

<h3>NuGet packages</h3>
<p>Install nuget package <strong>Havit.Blazor.Components.Web.Bootstrap</strong> which contains most of the components.</p>
<p>It has a dependency <strong>Havit.Blazor.Components.Web</strong> with small common functionality not dependendent on Bootstrap.</p>

<h3>Bootstrap</h3>
<p>Follow <a href="https://v5.getbootstrap.com/docs/5.0/getting-started/introduction/">Bootstrap instructions</a>.</p>

<h3>Namespaces</h3>
<p>Add these namespaces to your _Import.razor file:</p>
<p class="p-3 bg-light rounded">
		<code>@@using Havit.Blazor.Components.Web</code>
		<br>
		<code>@@using Havit.Blazor.Components.Web.Bootstrap</code>
		@* TODO: Add next. Styling. *@
</p>

<h3>Services</h3>
<p>Add localization services to the DI container:</p>
<p class="p-3 bg-light rounded"><code>services.AddLocalizations();</code></p>
<p>Add IHxMessengerService support to the DI container:</p>
<p class="p-3 bg-light rounded"><code>services.AddHxMessenger();</code></p>


