@page "/HxTooltip_HoverShowHide"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<HxTooltip Text="Hello, Tooltip!" Animation="false">
	<span data-testid="tooltip-trigger">Hover to see tooltip</span>
</HxTooltip>
