@page "/HxTooltip_EmptyText"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<HxTooltip Text="" Animation="false">
	<span data-testid="empty-tooltip-trigger">Hover for empty tooltip</span>
</HxTooltip>
