@page "/"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>BlazorApp</title>

	<base href="~/" />
	<link href="css/site.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<app>
			<component type="typeof(App)" render-mode="ServerPrerendered" />
		</app>

		<div id="blazor-error-ui">
			An unhandled error has occurred.
			<a href="" class="reload">Reload</a>
			<a class="dismiss">🗙</a>
		</div>
	</div>

	<script src="_framework/blazor.server.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	<script src="_content/Havit.Blazor.Components.Web.Bootstrap/hxbootstrap.js"></script>
</body>
</html>
