@page "/"

<h1>Blazor Debugging App</h1>

<ul>
	<li><a href="/HxAutosuggestDemo">HxAutosuggestDemo</a></li>
	<li><a href="/HxBootstrapIconDemo">HxBootstrapIconDemo</a></li>
	<li><a href="/HxButtonDemo">HxButtonsDemo</a></li>
	<li><a href="/HxPagerDemo">HxPagerDemo</a></li>
	<li><a href="/HxFilterViewDemo">HxFilterViewDemo</a></li>
	<li><a href="/HxGridDemo">HxGridDemo</a></li>
	<li><a href="/HxTabPanelDemo">HxTabPanel</a></li>
	<li><a href="/HxWizardDemo">HxWizardDemo</a></li>
	<li><a href="/InputsDemo">InputsDemo</a></li>
</ul>