@page "/"

<h1>Blazor Debugging App</h1>

@{ GC.Collect(); }

<ul>
	<li><a href="/HxPagerDemo">HxPagerDemo</a></li>
	<li><a href="/HxFilterViewDemo">HxFilterViewDemo</a></li>
	<li><a href="/HxGridDemo">HxGridDemo</a></li>
	<li><a href="/HxWizardDemo">HxWizardDemo</a></li>
</ul>