@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="1" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="2" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="3" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="5" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="6" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="10" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="11" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="15" />
<Havit.Blazor.Components.Web.Bootstrap.Grids.HxPager CurrentPageIndex="0" TotalPages="100" />