@attribute [Route("/components/" + nameof(HxSwitch))]
@attribute [Route("/components/HxInputSwitch")]

<ComponentApiDoc Type="typeof(HxSwitch)">

    <DocAlert Type="DocAlertType.Info">
        <code>HxSwitch</code> replaces the former <code>HxInputSwitch</code> component, which is now obsolete.
        <ul class="mb-0">
            <li><code>HxInputSwitch.Label</code> is now <code>HxSwitch.Text</code></li>
            <li>new <code>Label</code> parameter coresponds to the optional <code>.form-label</code></li>
        </ul>
    </DocAlert>

    <Demo Type="typeof(HxSwitch_Demo)" Tabs="false" />
</ComponentApiDoc>