<HxCarousel Indicators="true" Controls="true">
	<HxCarouselItem Active="true">
		<DemoImage Color="#666" />
		<HxCarouselCaption>
			<h5>First slide label</h5>
			<p>Some representative placeholder content for the first slide.</p>
		</HxCarouselCaption>
	</HxCarouselItem>
	<HxCarouselItem>
		<DemoImage Color="#555" />
		<HxCarouselCaption>
			<h5>Second slide label</h5>
			<p>Some representative placeholder content for the second slide.</p>
		</HxCarouselCaption>
	</HxCarouselItem>
	<HxCarouselItem>
		<DemoImage Color="#444" />
		<HxCarouselCaption>
			<h5>Third slide label</h5>
			<p>Some representative placeholder content for the third slide.</p>
		</HxCarouselCaption>
	</HxCarouselItem>
</HxCarousel>