@if ((Data != null) && Data.Any())
{
	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		@*TODO: Nic jako prázdná položka asi nechceme*@
		@foreach (Havit.Blazor.Components.Web.Bootstrap.NamedViews.NamedView namedView in Data)
		{			
			<a class="dropdown-item" selected="@(namedView == SelectedNamedView)" role="button" @onclick="async () => await NamedViewClick(namedView)">@namedView.Name</a>
		}
	</div>
}