@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TFilterModel

@if ((NamedViews != null) && NamedViews.Any())
{
	<div class="hx-named-view dropdown-menu" aria-labelledby="dropdownMenuLink">
		@foreach (Havit.Blazor.Components.Web.Bootstrap.NamedView<TFilterModel> namedView in NamedViews)
		{
			<a @key="@namedView" class="dropdown-item" role="button" @onclick="async () => await HandleNamedViewClick(namedView)" @onclick:stopPropagation>@namedView.Name</a>
		}
	</div>
}