@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TItem

@if ((Items != null) && Items.Any())
{
	<div class="hx-named-view dropdown-menu" aria-labelledby="dropdownMenuLink">
		@foreach (var item in Items)
		{
			<a @key="@item"
			   class="@CssClassHelper.Combine("dropdown-item", item.Equals(SelectedItem) ? "active" : null)"
			   role="button"
			   @onclick="async () => await InvokeSelectedItemChangedAsync(item)"
			   @onclick:stopPropagation="true">

				@SelectorHelpers.GetText(TextSelector, item)
				@if (ItemTemplate is not null)
				{
					@ItemTemplate(item)
				}

			</a>
		}
	</div>
}