@attribute [Route("/components/" + nameof(HxMessageBox))]
@attribute [Route("/components/" + nameof(HxMessageBoxHost))]

<ComponentApiDoc Type="typeof(HxMessageBox)">

	<p><code>@nameof(HxMessageBox)</code> is a standalone component you can use in very specific cases.</p>
	<p><strong>Usually you use the message box by using the <code>@nameof(IHxMessageBoxService)</code> injected service.</strong></p>

	<h3 id="Usage">Usage</h3>
	<Demo Type="typeof(HxMessageBoxService_Demo)" Tabs="false" />

	<p>You should place the <code>@nameof(HxMessageBoxHost)</code> component to <code>MainLayout.razor</code> (or <code>App.razor</code>) to make it work!</p>
	<CodeSnippet File="~\Pages\Components\HxMessageBoxDoc\HxMessageBox_HostDeployment.CodeSnippet.razor" />

	<p>Register required services using <code>services.AddHxMessageBoxHost()</code> from <code>Startup.cs</code> (Blazor Server) or <code>Program.cs</code> (Blazor WebAssembly).</p>
	<CodeSnippet File="~\Pages\Components\HxMessageBoxDoc\HxMessageBox_RegisterService.CodeSnippet.cs" />

</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxMessageBoxHost)" />