<div>
	<div class="d-lg-flex">
		<div class="title @NamedViewsSectionExpandedClass">
			<span role="button" @onclick="ToggleNamedViewsSectionExpanded">
				@if (TitleSection != null)
				{
					@TitleSection
				}
				else if (!String.IsNullOrEmpty(Title))
				{
					@Title
				}
			</span>
			@if (NamedViewsSection != null)
			{
				@NamedViewsSection
			}
		</div>

		<div class="search mb-3 mb-lg-0">
			@if (SearchSection != null)
			{
				@SearchSection
			}
		</div>

		<div class="commands text-right">
			<button class="btn btn-light" @onclick="ToggleFilterExpanded">Filtrovat</button>
			@if (CommandsSection != null)
			{
				@CommandsSection
			}
		</div>
	</div>

	@if (FilterSection != null)
	{
		<CascadingValue Value="@FilterExpanded" Name="FilterExpanded"> @* TODO pojmenování, konstanta *@ @* Kam může programátor napsat, že chce filtr by default expandovaný? *@
			@FilterSection
		</CascadingValue>
	}

	@if (DataSection != null)
	{
		<div>@DataSection</div>
	}

	@if (DetailSection != null)
	{
		@*TODO: Otevření jen, je-li vybrán záznam pro zobrazení detailu. Používání detailu zapnuto použitím sekce? *@
		@*TODO: Kdo řídí vybrání detailu?*@
		<div class="drawer">
			@DetailSection
		</div>
	}
</div>