@attribute [Route("/components/" + nameof(HxMultiSelect<object, object>))]

<ComponentApiDoc Type="typeof(HxMultiSelect<TValue, TItem>)">
    <MainContent>

        <SectionTitle Id="basic-usage" Title="Basic Usage" />
        <Demo Type="typeof(HxMultiSelect_Demo_BasicUsage)" Tabs="false" />

        <SectionTitle Id="CustomToggle" />
        <p>Define a custom template for toggling the dropdown. When specified, the default <code>input</code> element is not rendered.</p>
        <Demo Type="typeof(HxMultiSelect_Demo_CustomToggle)" />

    </MainContent>
    <CssVariables>

        <ComponentApiDocCssVariable Name="--hx-multi-select-dropdown-menu-height" Default="300px">
            Height of the dropdown menu.
        </ComponentApiDocCssVariable>

        <ComponentApiDocCssVariable Name="--hx-multi-select-background-color" Default="var(--bs-white)">
            Height of the dropdown menu.
        </ComponentApiDocCssVariable>

    </CssVariables>
</ComponentApiDoc>