@page "/HxAlert_Dismiss"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div data-testid="alert-dismissible-container">
	<HxAlert Color="ThemeColor.Warning" Dismissible="true">Dismissible alert content</HxAlert>
</div>
