@page "/HxAlertTests"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div data-testid="alert-primary">
	<HxAlert Color="ThemeColor.Primary">Primary alert content</HxAlert>
</div>

<div data-testid="alert-dismissible-container">
	<HxAlert Color="ThemeColor.Warning" Dismissible="true">Dismissible alert content</HxAlert>
</div>
