@page "/HxAlert_Render"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div data-testid="alert-primary">
	<HxAlert Color="ThemeColor.Primary">Primary alert content</HxAlert>
</div>
