@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItem

<div class="@CssClassHelper.Combine("hx-tree-view", CssClass)">
	<CascadingValue Value="this" IsFixed="true">
		@foreach (var item in Items)
		{
			<HxTreeViewItemInternal @key="item"
									TItem="TItem"
									Item="item"
									Level="0"
									TitleSelector="ItemTitleSelector"
									IconSelector="ItemIconSelector"
									InitialExpandedSelector="ItemInitialExpandedSelector"
									CssClass="@ItemCssClass"
									CssClassSelector="ItemCssClassSelector"
									ChildrenSelector="ItemChildrenSelector"
									ContentTemplate="ItemTemplate"
									OnItemSelected="HandleItemSelected"
									OnItemExpanded="OnItemExpanded"
									OnItemCollapsed="OnItemCollapsed" />
		}
	</CascadingValue>
</div>