@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItem

<div class="@CssClassHelper.Combine("hx-tree-view", this.CssClass)">
	<CascadingValue Value="this" IsFixed="true">
		@foreach (var item in this.Items)
		{
			<HxTreeViewItemInternal @key="item"
									TItem="TItem"
									Item="item"
									Level="0"
									TitleSelector="this.ItemTitleSelector"
									IconSelector="this.ItemIconSelector"
									InitialExpandedSelector="this.ItemInitialExpandedSelector"
									CssClass="@this.ItemCssClass"
									CssClassSelector="this.ItemCssClassSelector"
									ChildrenSelector="this.ItemChildrenSelector"
									ContentTemplate="this.ItemTemplate"
									OnItemSelected="HandleItemSelected"
									OnItemExpanded="OnItemExpanded"
									OnItemCollapsed="OnItemCollapsed" />
		}
	</CascadingValue>
</div>