@namespace Havit.Blazor.Components.Web.Bootstrap
@typeparam TValue

<div class="@CssClassHelper.Combine("hx-treeview", this.CssClass)">
    @if (wrappers?.Any() != true)
    {
        @("loading...")
    }
    else
    {
        <div>
            @foreach (var wrapper in wrappers)
            {
                <HxTreeViewItem TValue="TValue" Value="wrapper"/>
            }
        </div>
    }
</div>