@namespace Havit.Blazor.Components.Web.Bootstrap
@if (Chips != null)
{
	foreach (Havit.Blazor.Components.Web.Bootstrap.ChipItem chipItem in Chips)
	{
		<span class="hx-chip badge bg-secondary">
			@chipItem.ChipTemplate
			@if (chipItem.CanBeRemoved)
			{
			<span role="button" @onclick="() => HandleRemoveClick(chipItem)" @onclick:stopPropagation>
				<HxIcon Icon="BootstrapIcon.X" />
			</span>
			}
		</span>
	 }
}
