@namespace  Havit.Blazor.Components.Web.Bootstrap
@if ((Chips != null) && Chips.Any())
{
    foreach (Havit.Blazor.Components.Web.Bootstrap.ChipItem chipItem in Chips)
    {
<span class="badge badge-primary">
	@chipItem.ChipTemplate
	@if (chipItem.RemoveCallback != null)
	{
		<span role="button" @onclick="async () => await chipItem.RemoveCallback()">&times;</span>
	}
</span>
	}
}