@namespace Havit.Blazor.Components.Web.Bootstrap
@if (Chips != null)
{
    foreach (Havit.Blazor.Components.Web.Bootstrap.ChipItem chipItem in Chips)
    {
        <span class="hx-chip badge bg-light text-dark d-inline-flex align-items-center">
            @chipItem.ChipTemplate
            @if (chipItem.Removable)
            {
                <button type="button" class="btn-close btn-close ms-1"
                    @onclick="() => HandleRemoveClick(chipItem)" @onclick:stopPropagation>
                </button>
            }
        </span>
    }
}
