@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("hx-chip-list", CssClassEffective)">
	@if (Chips != null)
	{
		foreach (ChipItem chipItem in Chips)
		{
			<HxBadge @key="@chipItem" Settings="ChipBadgeSettingsEffective">
				@chipItem.ChipTemplate
				@if (chipItem.Removable)
				{
					<button type="button" class="hx-chip-list-remove-btn" aria-label="@HxChipListLocalizer["Remove"]" @onclick="() => InvokeOnChipRemoveClickAsync(chipItem)" role="button" tabindex="0" @onclick:stopPropagation>
						<HxIcon Icon="BootstrapIcon.X" />
					</button>
				}
			</HxBadge>
		}
		@if (Chips.Any() && ShowResetButtonEffective)
		{
			@if (ResetButtonTemplate is not null)
			{
				@ResetButtonTemplate
			}
			else
			{
				<span role="button" class="hx-chip-list-reset-btn" @onclick="() => InvokeOnResetClickAsync()" @onclick:stopPropagation>
					@ResetButtonText
					<HxIcon Icon="BootstrapIcon.X" />
				</span>
			}
		}
	}
</div>
