@namespace Havit.Blazor.Components.Web.Bootstrap
<div class="@CssClassHelper.Combine("hx-chip-list", this.CssClassEffective)">
    @if (Chips != null)
    {
        foreach (Havit.Blazor.Components.Web.Bootstrap.ChipItem chipItem in Chips)
        {
            <HxBadge @key="@chipItem" Settings="this.ChipBadgeSettingsEffective">
                @chipItem.ChipTemplate
                @if (chipItem.Removable)
                {
                    <span role="button" class="hx-chip-remove-btn"
                        @onclick="() => HandleRemoveClick(chipItem)" @onclick:stopPropagation>
                        <HxIcon Icon="BootstrapIcon.X" />
                    </span>
                }
            </HxBadge>
        }
    }
</div>
