@attribute [Route("/components/" + nameof(HxInputDateRange))]

<ComponentApiDoc Type="typeof(HxInputDateRange)">
    <DocAlert Type="DocAlertType.Warning">
        <code>HxInputDateRange</code> does not support additional <code>InputGroups</code>. Learn more about them <a href="/components/Inputs#InputGroups">here</a>.
    </DocAlert>

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxInputDateRange_Demo)" Tabs="false" />

    <DocHeading Title="Hide Clear button in calendars" Id="clear-button" />
    <p>The <i>Clear</i> button in dropdown calendars can be hidden by setting <code>ShowClearButton="false"</code>.</p>
    <Demo Type="typeof(HxInputDateRange_Demo_ClearButton)" />

    <DocHeading Title="Predefined date ranges" />
    <p>You can add predefined date ranges with <code>PredefinedDateRanges</code> parameter.</p>
    <Demo Type="typeof(HxInputDateRange_Demo_CustomRanges)" />
    <p>If you set <code>HxInputDateRange.Defaults.PredefinedDateRanges</code> default ranges for the whole application, you can hide them on individual instances with <code>ShowPredefinedDateRanges="false"</code>.</p>

    <DocHeading Title="Dropdown calendars customization" />
    <p>
        You can change rendering of weekend days by defining your own CSS rule for <code>.weekend</code> class.
        The disabled days get <code>.disabled</code> class.
    </p>
    <DocAlert Type="DocAlertType.Warning">
        Disabling dates with the techniques below won't prevent the user from entering disabled dates manualy. You still have to validate the value.
    </DocAlert>

    <DocHeading Title="MinDate, MaxDate" Level="3" />
    <p>You can limit the dropdown calendars (both <i>From</i> and <i>To</i> together) enabled dates by setting <code>MinDate</code> and/or <code>MaxDate</code>.</p>
    <Demo Type="typeof(HxInputDateRange_Demo_MinDateMaxDate)" />

    <DocHeading Title="Calendar date customization" Level="3" />
    <p>
        You can customize the dropdown calendars' dates with <code>CalendarDateCustomizationProvider</code>. You can disable individual dates
        (<code>Enabled="false"</code>) or set specific CSS class (<code>CssClass="...")</code>.
    </p>
    <Demo Type="typeof(HxInputDateRange_Demo_CalendarDateCustomization)" />
</ComponentApiDoc>