@attribute [Route("/components/" + nameof(HxSmartComboBox))]

<ComponentApiDoc Type="typeof(HxSmartComboBox)">

	<DocAlert Type="DocAlertType.Danger">
		<p><strong>EXPERIMENTAL, UNDER DEVELOPMENT</strong></p>
		Smart components are available as separate NuGet package: <code>Havit.Blazor.Components.Web.Bootstrap.Smart</code>.
	</DocAlert>

	<DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxSmartComboBox_Demo)" Tabs="false" />

	<DocAlert Type="DocAlertType.Warning">
		For instructions on how to setup smart components, see the <a href="https://github.com/dotnet-smartcomponents/smartcomponents/">SmartComponents documentation</a>.<br />
		For <code>@nameof(HxSmartComboBox)</code> you do not need to configure the OpenAI backend, since it runs entirely locally.
	</DocAlert>

</ComponentApiDoc>