@page "/components/HxAnchorFragmentNavigation"

<ComponentApiDoc Type="typeof(HxAnchorFragmentNavigation)">

	<div class="alert alert-warning" role="alert">
		As Blazor uses the <code>&lt;base&gt;</code> element, all the links have to include full page path!
	</div>

	<h3>Basic example</h3>
	<Demo Type="typeof(HxAnchorFragmentNavigation_Demo)" />
</ComponentApiDoc>