@attribute [Route("/components/" + nameof(HxAnchorFragmentNavigation))]

<ComponentApiDoc Type="typeof(HxAnchorFragmentNavigation)">

	<HxAlert Color="ThemeColor.Warning">
		As Blazor uses the <code>&lt;base&gt;</code> element, all the links have to include full page path!
	</HxAlert>

	<h3>Basic example</h3>
	<Demo Type="typeof(HxAnchorFragmentNavigation_Demo)" />
</ComponentApiDoc>