@attribute [Route("/components/" + nameof(HxInputText))]

<ComponentApiDoc Type="typeof(HxInputText)">
    <h3>Basic usage</h3>
    <Demo Type="typeof(HxInputText_Demo)" Tabs="false" />

    <DocHeading Id="input-type">Input type</DocHeading>
    <p>You can set input-type with <code>InputType</code> parameter, e.g. <code>InputType.Password</code>:</p>
    <Demo Type="typeof(HxInputText_Demo_Password)" />

    <DocHeading Id="input-mode">Input mode</DocHeading>
    <p><code>InputMode</code> is a hint to browsers as to the type of virtual keyboard configuration to use when editing.</p>
    <Demo Type="typeof(HxInputText_Demo_InputMode)" />
</ComponentApiDoc>