@attribute [Route("/components/" + nameof(HxPopover))]

<ComponentApiDoc Type="typeof(HxPopover)">

	<DocAlert Type="DocAlertType.Warning">
		The popover wrapper gets rendered only if <code>Title</code>, <code>Content</code> or <code>WrapperCssClass</code> parameters is set.
		If all are <code>null</code> or empty, only the <code>ChildContent</code> is rendered.
	</DocAlert>

	<h3>Basic Usage</h3>
	<Demo Type="typeof(HxPopover_Demo_BasicUsage)" Tabs="false" />

	<h3>Placement</h3>
	<p>You can change the placement of the popover with <code>@nameof(HxPopover.Placement)</code> parameter:</p>
	<Demo Type="typeof(HxPopover_Demo_Placement)" />

	<h3>HTML content</h3>
	<p>Use <code>Html="true"</code> to enable HTML in your content.</p>
	<Demo Type="typeof(HxPopover_Demo_HtmlContent)" />

	<h3>Dismiss on next click</h3>
	<p>Use the <code>Trigger="PopoverTrigger.Focus"</code> to dismiss popovers on the user’s next click of a different element than the toggle element.</p>
	<Demo Type="typeof(HxPopover_Demo_Dismissible)" />

</ComponentApiDoc>
