<div>
	@if (!String.IsNullOrWhiteSpace(Title))
	{
		<h4>@Title</h4>
	}
	<pre>
		<code class="language-@(Language ?? "html")">
			@ChildContent
		</code>
	</pre>
</div>

@code
{
	[Parameter] public RenderFragment ChildContent { get; set; }
	[Parameter] public string Title { get; set; }
	[Parameter] public string Language { get; set; }
}