<div class="code-snippet">
	<pre class="language-@(Language ?? GetLanguageFromFileExtension() ?? "cshtml")">
		<code class="language-@(Language ?? GetLanguageFromFileExtension() ?? "cshtml")">
@ChildContent@(code)
		</code>
	</pre>
</div>