<HxAlert Color="GetColor()" @attributes="AdditionalAttributes">
	<div class="row">
		<div class="col-auto align-top">
			<HxIcon Icon="GetBootstrapIcon()" CssClass="fs-5 lh-sm" />
		</div>
		<div class="col">
			@ChildContent
		</div>
	</div>
</HxAlert>
