@namespace Havit.Blazor.Components.Web.Bootstrap.Documentation.Shared.Components

<HxDynamicElement ElementName="@HeadingTagEffective" id="@Id">
    @TitleEffective
    @ChildContent
    <a href="@GetEffectiveSectionUrl()">#</a>
</HxDynamicElement>
