@attribute [Route("/components/" + nameof(HxFormState))]

<ComponentApiDoc Type="typeof(HxFormState)">

	<p>Publishes <code>@nameof(FormState)</code> as cascading value. Allows you to enable/disable child components by one property.</p>

	<DocHeading Title="Demo" />
	<Demo Type="typeof(HxFormState_Demo)" />

</ComponentApiDoc>