@inject IDemoDataService DemoDataService

<HxMultiSelect Label="Employees"
			   TItem="EmployeeDto"
			   TValue="int"
			   Data="@employees"
			   @bind-Value="selectedEmployeeIds"
			   TextSelector="@(p => p.Name)"
			   ValueSelector="@(p => p.Id)"
			   NullDataText="Loading employees..."
			   AllowFiltering="true"
			   FilterEmptyResultText="No employees found"
			   EmptyText="-select employees-" />

<p class="mt-3">Selected employees (IDs): @String.Join(", ", selectedEmployeeIds.Select(e => e.ToString()))</p>

@code {
	private IEnumerable<EmployeeDto> employees;
	private List<int> selectedEmployeeIds = new();

	protected override async Task OnInitializedAsync()
	{
		employees = await DemoDataService.GetAllEmployeesAsync();
	}
}