@attribute [Route("/components/" + nameof(HxTreeView<object>))]

<ComponentApiDoc Type="typeof(HxTreeView<object>)">
    <MainContent>
        <h3>Basic usage</h3>
        <Demo Type="typeof(HxTreeView_Demo_BasicUsage)" />

        <h3 id="custom-content">Custom content</h3>
        <Demo Type="typeof(HxTreeView_Demo_CustomContent)" />
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-border-radius" Default="3px">
            Border radius.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-color" Default="var(--bs-dark)">
            Item font color
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-hover-color" Default="var(--bs-primary)">
            Hovered item font color
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-selected-color" Default="var(--bs-primary)">
            Selected item font color
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-background" Default="white">
            Item background color
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-hover-background" Default="var(--bs-primary-rgb)">
            Hovered item background color
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-selected-background" Default="var(--bs-primary-rgb)">
            Selected item background color
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-tree-view-item-hover-background-opacity" Default=".1">
            Hovered/selected item background color opacity
        </ComponentApiDocCssVariable>
    </CssVariables>

</ComponentApiDoc>