@attribute [Route("/components/" + nameof(HxCheckbox))]
@attribute [Route("/components/HxInputCheckbox")]

<ComponentApiDoc Type="typeof(HxCheckbox)">

    <DocAlert Type="DocAlertType.Info">
        <code>HxCheckbox</code> replaces the former <code>HxInputCheckbox</code> component, which is now obsolete.
        <ul class="mb-0">
            <li><code>HxInputCheckbox.Label</code> is now <code>HxCheckbox.Text</code></li>
            <li>new <code>Label</code> parameter coresponds to the optional <code>.form-label</code></li>
        </ul>
    </DocAlert>

    <h3>Basic usage</h3>
    <Demo Type="typeof(HxCheckbox_Demo)" Tabs="false" />

    <SectionTitle Id="Inline" />
    <p>Group checkboxes on the same horizontal row by adding <code>Inline="true"</code> to the checkboxes.</p>
    <DocAlert Type="DocAlertType.Warning">
        Our CSS defaults bring flex-column to <code>&lt;form&gt;</code> element (<code>EditForm</code> component),
        every single direct child component of <code>&lt;form&gt;</code> is stacked in vertically.<br />
        This setup implies, whenever you want to go for horizontal stacking, you have to wrap your items in some
        element (usually <code>&gt;div&lt;</code>). This also applies to the inline checkboxes.
    </DocAlert>
    <Demo Type="typeof(HxCheckbox_Demo_Inline)" />

    <SectionTitle Id="reverse">Reverse</SectionTitle>
    <p>Put the checkbox on the opposite side by setting the <code>Reverse</code> parameter to <code>true</code>.</p>
    <Demo Type="typeof(HxCheckbox_Demo_Reverse)" />

    <h3>Button groups</h3>
    <p><code>HxCheckbox</code> can be used within <a href="/components/HxButtonGroup#CheckboxesAndRadios">HxButtonGroup</a>.</p>
</ComponentApiDoc>