@page "/"

<h3>Havit.Blazor.Tests</h3>

<ul class="nav flex-column">
	@foreach (var testPage in GetTestPages().OrderBy(p => p))
	{
		<li @key="@testPage" class="nav-item"><a href="@testPage" data-enhance-nav="@(testPage.Contains("NoEnhanceNav") ? "false" : null)">@testPage</a></li>
	}
</ul>
