@page "/components/hxinputfile"
@*<h1>@nameof(HxInputFileCore)</h1>*@

<ComponentApiDoc Type="typeof(HxInputFileCore)">
    <p class="lead">
        Raw component extending @nameof(InputFile) with direct upload.
    </p>
</ComponentApiDoc>

<h1>@nameof(HxInputFile)</h1>
<p class="lead">
    Wraps @nameof(HxInputFileCore) as Bootstrap form control (incl. <code>Label</code> etc.)
</p>

<Demo Type="typeof(HxInputFile_SimpleDemo)" Title="Simple single file upload demo" />

<Demo Type="typeof(HxInputFile_ComplexDemo)" Title="Complex demo" />
