@namespace Havit.Blazor.Components.Web.Bootstrap

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </ol>
</nav>
