@namespace Havit.Blazor.Components.Web.Bootstrap

@if (_index > 0)
{
	<li class="breadcrumb-divider">@BreadcrumbContainer?.DividerTemplate</li>
}
<li class="breadcrumb-item" aria-current="@(Active ? "page" : null)">
	@if (Href is not null)
	{
		<a class="@CssClassHelper.Combine("breadcrumb-link", Active ? "active" : null)" href="@Href">
			@Text
			@ChildContent
		</a>
	}
	else
	{
		<span class="@CssClassHelper.Combine("breadcrumb-link", Active ? "active" : null)">
			@Text
			@ChildContent
		</span>
	}
</li>
