@namespace Havit.Blazor.Components.Web.Bootstrap

<nav style="--bs-breadcrumb-divider: @(Divider is null ? "none" : IsDividerImage() ? Divider : $"'{Divider}'");" aria-label="breadcrumb">
    <ol class="breadcrumb">
        @ChildContent
    </ol>
</nav>
