@namespace Havit.Blazor.Components.Web.Bootstrap

@if (Active)
{
    <li class="breadcrumb-item active" aria-current="page">@Text</li>
}
else
{ <li class="breadcrumb-item"><a href="@Href">@Text</a></li>}
