@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@GetClasses()"
	 aria-current="@Active"
	 aria-disabled="@(!Enabled)"
	 role="@(this.OnClick.HasDelegate ? "button" : null)"
	 @onclick="OnClick"
	 @onclick:stopPropagation="this.OnClick.HasDelegate">
	@ChildContent
</div>