@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@GetClasses()"
	 aria-current="@Active"
	 aria-disabled="@(!Enabled)"
	 role="@(OnClick.HasDelegate ? "button" : null)"
	 @onclick="InvokeOnClickAsync"
	 @onclick:stopPropagation="OnClick.HasDelegate">
	@ChildContent
</div>