<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="From" aria-label="Username">
	<input type="text" class="form-control" placeholder="To" aria-label="Server">
	<button class="btn btn-secondary" type="button">
		<HxIcon Icon="@BootstrapIcon.ThreeDotsVertical" />
	</button>
</div>

<HxCalendar />