@using System.Globalization

<HxRepeater Data="data">
	<HeaderTemplate>
		<h1>Header</h1>
	</HeaderTemplate>
	<ItemTemplate Context="item">
		<p>@item.DisplayName</p>
	</ItemTemplate>
	<FooterTemplate>
		<h2>Footer</h2>
	</FooterTemplate>
	<NullTemplate>
		Loading...
	</NullTemplate>
</HxRepeater>

@code
{
	private List<CultureInfo> data;

	protected override async Task OnInitializedAsync()
	{
        await Task.Delay(1000); // imitate data load latency
        
		data = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
			.OrderBy(item => item.EnglishName)
			.Take(10)
			.ToList();
	}
}