@attribute [Route("/components/" + nameof(HxPlaceholder))]
@attribute [Route("/components/" + nameof(HxPlaceholderContainer))]
@attribute [Route("/components/" + nameof(HxPlaceholderButton))]

<ComponentApiDoc Type="typeof(HxPlaceholder)">
    <DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxPlaceholder_Demo_BasicExample)" Tabs="false" />

    <DocHeading Title="Width" />
	<p>You can change the width through the <code>Columns</code> parameter (+ responsive variants with breakpoints).</p>
	<Demo Type="typeof(HxPlaceholder_Demo_Width)" Tabs="false" />

    <DocHeading Title="Color" />
	<Demo Type="typeof(HxPlaceholder_Demo_Colors)" />

    <DocHeading Title="Sizing" />
	<Demo Type="typeof(HxPlaceholder_Demo_Sizing)" Tabs="false" />

    <DocHeading Title="Animation" />
	<p>Use animations to better convey the perception of something being <i>actively</i> loaded.</p>
	<Demo Type="typeof(HxPlaceholder_Demo_Animation)" Tabs="false" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxPlaceholderContainer)" />
<ComponentApiDoc Type="typeof(HxPlaceholderButton)" />
