@attribute [Route(NavigationRoutes.Logging.LoggingTestPage)]
@rendermode InteractiveWebAssemblyWithoutPrerendering
@inject ILogger<LoggingTestPage> Logger
@inject IBlazorApplicationInsights BlazorApplicationInsights

<h1>Test Logging</h1>

<HxApplicationInsightsScript />

@if (_done)
{
	<span id="done">done</span>
}

@code
{
	private bool _done;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
            Logger.LogInformation("test-log-information");
            Logger.LogWarning("test-log-warning");
			Logger.LogError(new InvalidOperationException("test-log-exception"), "test-error-message");
			await BlazorApplicationInsights.FlushAsync();
			_done = true;
			StateHasChanged();
		}
	}
}
