<HxStepper Horizontal="StepperHorizontal.Always" CssClass="w-100">
	<HxStepperItem Active="true" Color="ThemeColor.Success">
		<div>
			<div>Create account</div>
			<HxBadge Color="ThemeColor.Success" Variant="BadgeVariant.Subtle">Complete</HxBadge>
		</div>
	</HxStepperItem>
	<HxStepperItem Active="true" Color="ThemeColor.Success">
		<div>
			<div>Confirm email</div>
			<HxBadge Color="ThemeColor.Success" Variant="BadgeVariant.Subtle">Complete</HxBadge>
		</div>
	</HxStepperItem>
	<HxStepperItem Active="true" Color="ThemeColor.Primary">
		<div>
			<div>Update profile</div>
			<HxBadge Color="ThemeColor.Primary" Variant="BadgeVariant.Subtle">In-progress</HxBadge>
		</div>
	</HxStepperItem>
	<HxStepperItem Color="ThemeColor.Secondary">
		<div>
			<div>Finish</div>
			<HxBadge Color="ThemeColor.Secondary" Variant="BadgeVariant.Subtle">Pending</HxBadge>
		</div>
	</HxStepperItem>
</HxStepper>
