@attribute [Route("/components/" + nameof(HxChipList))]

<ApiDoc Type="typeof(HxChipList)">
    <MainContent>
        <DocAlert Type="DocAlertType.Info">
            Since Bootstrap 6, chips render as native
            <a href="https://v6-dev--twbs-bootstrap.netlify.app/docs/6.0/forms/chips/">Chip</a> elements (no longer as badges).
            Use the <code>Color</code> parameter to apply a Bootstrap theme color (a <code>theme-*</code> class) to the chips.
        </DocAlert>

        <DocHeading Title="Basic usage" />
        <Demo Type="typeof(HxChipList_Demo)" Tabs="false" />

		<DocHeading Title="Reset button" />
		<p>By setting <code>ShowResetButton="true"</code>, you can enable the <i>Reset</i> button (text customizable with <code>ResetButtonText</code>). When the button is clicked, the <code>OnReset</code> callback is invoked.</p>
		<Demo Type="typeof(HxChipList_Demo_Reset)" />
	</MainContent>
    <CssVariables>
        <ApiDocCssVariable Name="--hx-chip-list-gap" Default=".25rem">
            Gap between chips.
        </ApiDocCssVariable>
        <ApiDocCssVariable Name="--hx-chip-list-chip-label-font-weight" Default="400">
            Font weight of chip label.
        </ApiDocCssVariable>
        <ApiDocCssVariable Name="--hx-chip-list-chip-label-opacity" Default="1">
            Opacity of chip label. If lower than 1, you should check the contrast in your application. It may not fulfill accessibility guidelines. (EN 301 549: 11.1.4.3, WCAG 2.1 1.4.3)
        </ApiDocCssVariable>
        <ApiDocCssVariable Name="--hx-chip-list-chip-reset-btn-padding" Default=".45em .75em">
            Reset button padding.
        </ApiDocCssVariable>
    </CssVariables>

</ApiDoc>
