@page "/intro"

<h1>Introduction</h1>
<p class="lead">HAVIT Blazor Library is a set of components, recommendations and practices to easy Blazor application development.</p>
Components implementation is based on <a href="https://v5.getbootstrap.com">Bootstrap 5</a>.

<h2>Installation</h2>
	
<h3>NuGet packages</h3>
Install nuget package <strong>Havit.Blazor.Components.Web.Bootstrap</strong> which contains most of the components.<br />
It has a dependency <strong>Havit.Blazor.Components.Web.Bootstrap</strong> with small common functionality not dependendent on Bootstrap.

<h3>Bootstrap</h3>
Follow <a href="https://v5.getbootstrap.com/docs/5.0/getting-started/introduction/">Bootstrap instructions</a>.

<h3>Namespaces</h3>
Add these namespaces to your _Import.razor file:
<ul>
	<li>Havit.Blazor.Components.Web.Bootstrap</li>
	<li>Havit.Blazor.Components.Web.Bootstrap.Forms</li>
	TODO: Add next. Styling.
</ul>