@page "/intro"

<h1>Introduction</h1>
<p class="lead">HAVIT Blazor Library is a set of components, recommendations and practices to easy Blazor application development.</p>
<p>Components implementation is based on <a href="https://v5.getbootstrap.com">Bootstrap 5</a>.</p>

<h2>Installation</h2>

<h3>NuGet packages</h3>
<p>Install nuget package <strong>Havit.Blazor.Components.Web.Bootstrap</strong> which contains most of the components.</p>
<br />
<p>It has a dependency <strong>Havit.Blazor.Components.Web</strong> with small common functionality not dependendent on Bootstrap.</p>

<h3>Bootstrap</h3>
<p>Follow <a href="https://v5.getbootstrap.com/docs/5.0/getting-started/introduction/">Bootstrap instructions</a>.</p>

<h3>Namespaces</h3>
<p>Add these namespaces to your _Import.razor file:</p>
<p>
	<ul>
		<li>Havit.Blazor.Components.Web</li>
		<li>Havit.Blazor.Components.Web.Bootstrap</li>
		@* TODO: Add next. Styling. *@
	</ul>
</p>

<h3>Services</h3>
<p>Add localization services to the DI container:</p>
<p><code>services.AddLocalizations();</code></p>
<p>Add IHxMessengerService support to the DI container:</p>
<p><code>services.AddHxMessenger();</code></p>
