@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="form-control hx-tag-input">
	<HxTag Text="Interní" />
	<a id="tagDropdownLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
		<input type="text" class="border-0">
	</a>
	<div class="dropdown-menu w-100" aria-labelledby="tagDropdownLink">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
	</div>
</div>