@attribute [Route("/components/" + nameof(HxSelect))]
@attribute [Route("/components/" + nameof(HxSelectBase<object, object>))]

<ComponentApiDoc Type="typeof(HxSelect<TValue, TItem>)">
	<h2 id="Examples">Examples</h2>
	<Demo Type="typeof(HxSelect_Demo)" />

	<SectionTitle id="input-groups">Input groups</SectionTitle>
	<Demo Type="typeof(HxSelect_Demo_InputGroups)" />
</ComponentApiDoc>