@attribute [Route("/components/" + nameof(HxSelect))]
@attribute [Route("/components/" + nameof(HxSelectBase))]

<ComponentApiDoc Type="typeof(HxSelect<string, string>)">
	<h2 id="Examples">Examples</h2>
	<Demo Type="typeof(HxSelect_Demo)" />
</ComponentApiDoc>