@attribute [Route("/components/" + nameof(HxToast))]
@attribute [Route("/components/" + nameof(HxToastContainer))]

<ComponentApiDoc Type="typeof(HxToast)">
    <MainContent>
        <DocHeading Title="Basic usage" />
        <p>See <a href="/components/@nameof(HxMessenger)">@nameof(HxMessenger) documentation</a>.</p>
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-toast-container-margin" Default="0.5rem">
            Margin of the container.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxToastContainer)" />
