@attribute [Route("/components/" + nameof(HxNavbar))]
@attribute [Route("/components/" + nameof(HxNavbarBrand))]
@attribute [Route("/components/" + nameof(HxNavbarToggler))]
@attribute [Route("/components/" + nameof(HxNavbarDrawer))]
@attribute [Route("/components/" + nameof(HxNavbarText))]

<ApiDoc Type="typeof(HxNavbar)">

    <DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxNavbar_Demo_Basic)" Tabs="false" />

    <DocHeading Title="Responsive expand" />
	<p>
		Use the <code>Expand</code> parameter to set the breakpoint at which the navbar expands from its collapsed (toggler) state into a full horizontal bar.
		The collapse is driven by the width of the navbar's container, not the viewport &ndash; drag the lower-right corner of the example below to preview the behavior.
	</p>
	<Demo Type="typeof(HxNavbar_Demo_Responsive)" Resizable="true" />

    <DocHeading Title="Brand" />
    <DocHeading Title="Text brand" Level="3" />
	<Demo Type="typeof(HxNavbar_Demo_BrandText)" />
    <DocHeading Title="Image/icon brand" Level="3" />
	<Demo Type="typeof(HxNavbar_Demo_BrandImage)" />

    <DocHeading Title="Text" />
	<p>Navbars may contain bits of text with the help of the <code>&lt;HxNavbarText /&gt;</code> component.</p>
	<Demo Type="typeof(HxNavbar_Demo_Text)" />

    <DocHeading Title="Color schemes" />
	<p>Colors can be set using the <code>Color</code> and <code>Theme</code> parameters. Additional colors can be achieved with the <code>CssClass</code> parameter.</p>
	<Demo Type="typeof(HxNavbar_Demo_ColorSchemes)" />
</ApiDoc>

<ApiDoc Type="typeof(HxNavbarBrand)" />
<ApiDoc Type="typeof(HxNavbarToggler)" />
<ApiDoc Type="typeof(HxNavbarDrawer)" />
<ApiDoc Type="typeof(HxNavbarText)" />
