<HxNavbar Expand="NavbarExpand.MediumUp" CssClass="bg-1">
    <HxNavbarBrand>Navbar</HxNavbarBrand>
    <HxNavbarToggler />
    <HxNavbarDrawer>
        <HxNav CssClass="me-auto mb-2 md:mb-0">
            <HxNavLink Href="/components/HxNavbar">Home</HxNavLink>
            <HxNavLink Href="#">Link</HxNavLink>
            <HxNavLink Enabled="false">Disabled</HxNavLink>
        </HxNav>
        <EditForm Model="@query">
            <div class="d-flex">
                <HxInputText CssClass="me-2" Placeholder="Search" @bind-Value="@query" />
                <HxSubmit Color="ThemeColor.Success" Variant="ButtonVariant.Outline">Search</HxSubmit>
            </div>
        </EditForm>
    </HxNavbarDrawer>
</HxNavbar>

@code {
    private string query = String.Empty;
}
