@attribute [Route("/components/" + nameof(HxTabPanel))]
@attribute [Route("/components/" + nameof(HxTab))]

<ComponentApiDoc Type="typeof(HxTabPanel)">
	<h3>Tabs with IsInitiallyActive</h3>
	<Demo Type="typeof(HxTabPanel_Demo_InitialActiveTabId)" />

	<h3>Tabs with IsCurrentlyActive</h3>
	<Demo Type="typeof(HxTabPanel_Demo_ActiveTabId)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxTab)" />
