@attribute [Route("/components/" + nameof(HxTabPanel))]
@attribute [Route("/components/" + nameof(HxTab))]

<ComponentApiDoc Type="typeof(HxTabPanel)">
    <DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxTabPanel_Demo_BasicUsage)" Tabs="false" />

    <DocHeading Title="Getting/setting active tab from code" Id="active-tab" />
	<Demo Type="typeof(HxTabPanel_Demo_ActiveTabId)" />

    <DocHeading Title="Nav variants" />
    <p>You can choose any variant of <code>nav</code> using the <code>@nameof(HxTabPanel.NavVariant)</code> parameter.</p>
    <DocHeading Title="Tabs" Level="3" />
    <Demo Type="typeof(HxTabPanel_Demo_NavVariantTabs)" />
    <DocHeading Title="Pills" Level="3" />
    <Demo Type="typeof(HxTabPanel_Demo_NavVariantPills)" />
    <DocHeading Title="Standard" Level="3" />
    <Demo Type="typeof(HxTabPanel_Demo_NavVariantStandard)" />

    <DocHeading Title="Card with tabs" />
    <p>When <code>Variant</code> is set to <code><a href="/types/TabPanelVariant#Card">TabPanelVariant.Card</a></code>, then the tab navigation is placed in the card header and tab contents go into the card body.</p>
    <Demo Type="typeof(HxTabPanel_Demo_CardMode)" />

	<DocHeading Id="render-mode" Title="Rendering only active tab contents" />
	<p>
		By default, the <code>HxTabPanel</code> renders contents of all tabs and the visibility of active tab is controlled by CSS.
		If you want to render active tab only, you can use the <code>RenderMode="TabPanelRenderMode.ActiveTabOnly"</code> parameter.
	</p>
	<Demo Type="typeof(HxTabPanel_Demo_RenderMode)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxTab)" />
