@page "/components/hxgrid"

<h1>@nameof(HxGrid<object>)</h1>
<p class="lead">
	Grid to display tabular data from data source.
</p>

<h3>Properties</h3>
<p>TODO</p>

<h3>Columns</h3>
<p>TODO</p>

<h3>Sorting</h3>
<p>TODO</p>

<h3>Paging</h3>
<p>TODO</p>

<h3>Commands</h3>
<p>TODO</p>

<Demo Type="typeof(HxGrid_Demo)" />