@attribute [Route(NavigationRoutes.HxApplicationInsightsScriptTests.RouteTemplate)]

<h1>Test HxApplicationInsightsScript</h1>
<h3>Render mode: @(GetRenderMode()?.GetType().Name ?? "SSR")</h3>

<HxApplicationInsightsScript @rendermode="GetRenderMode()" />

@code {
	[Parameter]
	public string Mode { get; set; }

	private IComponentRenderMode GetRenderMode() => RenderModeRouteHelper.GetRenderMode(Mode);
}
