@attribute [Route("/components/" + nameof(HxPlaceholder))]

<ComponentApiDoc Type="typeof(HxPlaceholder)">

	<h3>Example</h3>
	<Demo Type="typeof(HxPlaceholder_Demo_BasicExample)" Tabs="false" />

</ComponentApiDoc>