@attribute [Route("/components/" + nameof(HxPlaceholder))]
@attribute [Route("/components/" + nameof(HxPlaceholderContainer))]
@attribute [Route("/components/" + nameof(HxPlaceholderButton))]

<ComponentApiDoc Type="typeof(HxPlaceholder)">
	<h3 id="Example">Example</h3>
	<Demo Type="typeof(HxPlaceholder_Demo_BasicExample)" Tabs="false" />

	<h3 id="Width">Width</h3>
	<p>You can change the width through the <code>Columns</code> parameter (+ responsive variants with breakpoints).</p>
	<Demo Type="typeof(HxPlaceholder_Demo_Width)" Tabs="false" />

	<h3 id="Color">Color</h3>
	<Demo Type="typeof(HxPlaceholder_Demo_Colors)" />

	<h3 id="Sizing">Sizing</h3>
	<Demo Type="typeof(HxPlaceholder_Demo_Sizing)" Tabs="false" />

	<h3 id="Animation">Animation</h3>
	<p>Use animations to better convey the perception of something being <i>actively</i> loaded.</p>
	<Demo Type="typeof(HxPlaceholder_Demo_Animation)" Tabs="false" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxPlaceholderContainer)" />
<ComponentApiDoc Type="typeof(HxPlaceholderButton)" />
