@namespace  Havit.Blazor.Components.Web.Bootstrap

<div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
	@if (Items != null)
	{
		@foreach (string value in Items)
		{
			<HxAutosuggestItem @key="@value" Value="@value" OnClick="HandleItemClick" />
		}
	}
</div>

@code
{
	[Parameter]	public List<string> Items { get; set; }

	[Parameter]	public EventCallback<string> OnItemClicked { get; set; }

	private async Task HandleItemClick(string value)
	{
		await OnItemClicked.InvokeAsync(value);
	}
}
