@namespace  Havit.Blazor.Components.Web.Bootstrap
<div id="@dropdownId" class="dropdown">
	<HxAutosuggestInput Value="@Value" ValueChanged="HandleValueChanged" OnInputInput="HandleInputInput" OnInputFocus="HandleFocus" OnInputBlur="HandleInputBlur" />
	<HxAutosuggestItems Items="@suggestions" ItemClicked="HandleItemClick" />
</div>
