@namespace Havit.Blazor.Components.Web.Bootstrap

<button class="dropdown-item" type="button" @onclick="HandleItemClick" @onclick:stopPropagation="true">@Value</button>

@code
{
	[Parameter]	public string Value { get; set; }

	[Parameter]	public EventCallback<string> OnClick { get; set; }

	private async Task HandleItemClick()
	{
		await OnClick.InvokeAsync(Value);
	}
}
