@inherits LayoutComponentBase

<HxMessenger Position="HxToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<div class="container-xxl d-md-flex min-vh-100">
	<HxSidebar CssClass="sticky-top">
		...
	</HxSidebar>

	<div class="doc-content main p-4 flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>