@inherits LayoutComponentBase

<div class="container-xxl d-flex flex-wrap flex-md-nowrap">
	<HxSidebar CssClass="sticky-top">
		...
	</HxSidebar>

	<div class="doc-content main p-4 flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>