@attribute [Route(NavigationRoutes.AppInsightsTestInteractiveWebAssemblyPrerendering)]

<h1>Test Interactive WASM (with prerendering)</h1>

<ApplicationInsightsScript @rendermode="InteractiveWebAssembly" />
