@attribute [Route("/components/" + nameof(HxDropdownButtonGroup))]
@attribute [Route("/components/" + nameof(HxDropdownToggleButton))]

@inherits PerformanceLoggingComponentBase
@using Components.HxNavDoc


<ComponentApiDoc Type="typeof(HxDropdownButtonGroup)">

    <DocHeading Title="Basic usage" />
    <p>Dropdowns are usualy used in combination with a button. For such case use the <a href="components/HxDropdownButtonGroup"><code>HxDropdownButtonGroup</code></a> and <a href="components/HxDropdownToggleButton"><code>HxDropdownToggleButton</code></a>.</p>
    <Demo Type="typeof(HxDropdownButtonGroup_Demo_Basic)" Tabs="false" />

    <DocHeading Title="Button variants" />
    <Demo Type="typeof(HxDropdownButtonGroup_Demo_Colors)" />

    <DocHeading Title="Split button" />
    <p>Set <code>HxDropdownButtonGroup.Split="true"</code> and leave the <code>HxDrodownButtonToggle.Text</code> empty (you can use the <code>ChildContent</code> to improve accessibility).</p>
    <Demo Type="typeof(HxDropdownButtonGroup_Demo_Split)" />

    <DocHeading Title="Sizing" />
    <p>HxDropdowns work with buttons of all sizes, including default and split dropdown buttons.</p>
    <Demo Type="typeof(HxDropdownButtonGroup_Demo_Sizing)" />

    <DocHeading Title="Other" />
    <p>You can use all the generic <a href="components/HxDropdown"><code>HxDropdown</code></a> features such as:</p>
    <ul>
        <li><a href="components/HxDropdown#directions">Directions</a></li>
        <li><a href="components/HxDropdown#header-disabled-active">Header, Disabled, Active</a></li>
        <li><a href="components/HxDropdown#custom-content">Custom content</a></li>
        <li><a href="components/HxDropdown#offset-reference">Dropdown offset and reference</a></li>
        <li><a href="components/HxDropdown#autoclose-behavior">AutoClose behavior</a></li>
        <li><a href="components/HxDropdown#dark">Dark dropdowns</a></li>
        <li>etc.</li>
    </ul>
    
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxDropdownToggleButton)" />