<HxDropdownButtonGroup Split="true">
	<HxButton Color="ThemeColor.Secondary" OnClick="HandleMainButtonClick">Dropdown button</HxButton>
	<HxDropdownToggleButton Color="ThemeColor.Secondary">
		<span class="visually-hidden">Toggle Dropdown</span>@* OPTIONAL (for accessibility) *@
	</HxDropdownToggleButton>
	<HxDropdownMenu>
		<HxDropdownItemNavLink Href="#">Link with Href</HxDropdownItemNavLink>
		<HxDropdownItem OnClick="HandleDropdownItemClick">Item with OnClick action</HxDropdownItem>
		<HxDropdownDivider />
		<HxDropdownItemText>Something else here</HxDropdownItemText>
	</HxDropdownMenu>
</HxDropdownButtonGroup>

@message
@code {
	private string message;
	private void HandleMainButtonClick() => message = "Main button clicked";
	private void HandleDropdownItemClick() => message = "Dropdown item clicked";
}
