@namespace Havit.Blazor.Components.Web.Bootstrap
<div id="@this.Id" class="@CssClassHelper.Combine("accordion", this.CssClass)">
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>
</div>