@attribute [Route("/components/" + nameof(HxToast))]

<ComponentApiDoc Type="typeof(HxToast)">
	<h2>Examples</h2>
	<p>See <a href="/components/@nameof(HxMessenger)">@nameof(HxMessenger) documentation</a>.</p>
</ComponentApiDoc>