@attribute [Route("/components/" + nameof(HxToast))]
@attribute [Route("/components/" + nameof(HxToastContainer))]

<ComponentApiDoc Type="typeof(HxToast)">
    <MainContent>
	    <h2 id="Usage">Usage</h2>
	    <p>See <a href="/components/@nameof(HxMessenger)">@nameof(HxMessenger) documentation</a>.</p>
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-toast-container-margin" Default="0.5rem">
            Margin of the container.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxToastContainer)" />
