@attribute [Route("/components/" + nameof(HxFormValue))]

<ComponentApiDoc Type="typeof(HxFormValue)">

	<h2 id="BasicUsage">Basic Usage</h2>
	<Demo Type="typeof(HxFormValue_Demo)" Tabs="false" />

	<h2 id="Sizing">Sizing</h2>
	<Demo Type="typeof(HxFormValue_Demo_Sizing)" />

	<h2 id="CustomContent">Custom Content</h2>
	<p>You can render any custom content using the <code>ValueTemplate</code>.</p>
	<Demo Type="typeof(HxFormValue_Demo_CustomContent)" />

	<h2 id="InputGroups">Input Groups</h2>
	<p>Text or custom HTML can be added to the start or to the end of an input through <code>InputGroups</code>. Learn more <a href="/components/Inputs#InputGroups">here</a>.</p>
	<Demo Type="typeof(HxFormValue_Demo_InputGroups)" />
</ComponentApiDoc>