@attribute [Route("/components/" + nameof(HxFormValue))]

<ComponentApiDoc Type="typeof(HxFormValue)">

    <DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxFormValue_Demo)" Tabs="false" />

    <DocHeading Title="Sizing" />
	<Demo Type="typeof(HxFormValue_Demo_Sizing)" />

    <DocHeading Title="Custom content" />
	<p>You can render any custom content using the <code>ValueTemplate</code>.</p>
	<Demo Type="typeof(HxFormValue_Demo_CustomContent)" />

    <DocHeading Title="Input groups" />
	<p>Text or custom HTML can be added to the start or to the end of an input through <code>InputGroups</code>. Learn more <a href="/components/Inputs#InputGroups">here</a>.</p>
	<Demo Type="typeof(HxFormValue_Demo_InputGroups)" />
</ComponentApiDoc>