<HxCard>
	<BodyTemplate>
		<HxCardTitle CssClass="d-flex gap-2 align-items-center">
			<div class="rounded-3 border p-2 d-flex align-items-center justify-content-center bg-body bg-opacity-10">
				<HxIcon CssClass="@CssClassHeper.Combine(Color.ToTextColorCss(emphasis: true);)" Icon="@Icon" />
			</div>
			@Title
		</HxCardTitle>
		<p class="text-body-tertiary">@Description</p>
	</BodyTemplate>
</HxCard>

@code {
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public string Description { get; set; }

	[Parameter]
	public BootstrapIcon Icon { get; set; }

	[Parameter]
	public ThemeColor Color { get; set; }
}