@page "/"
@layout HomeLayout

<PageTitle>HAVIT Blazor | Free Bootstrap 5 components for Blazor</PageTitle>
<DocHeadContent CanonicalRelativeUrl="/" />

<div class="hero py-3">
	<div class="container">
		<div class="text-center py-4 my-4">
			<h1 class="fw-bold display-3">HAVIT Blazor</h1>
			<p class="lead">Free open-source ASP.NET Blazor components based on Bootstrap 5.</p>
			<div class="text-center">
				<a href="https://github.com/havit/Havit.Blazor/"><img src="https://img.shields.io/static/v1?style=flat&logo=github&label=GitHub&message=repo&cacheSeconds=604800" alt="GitHub Repository" style="max-width: 100%;" /></a>
				<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://img.shields.io/nuget/v/Havit.Blazor.Components.Web.Bootstrap?logo=nuget&cacheSeconds=43200" alt="nuget version" style="max-width: 100%;" /></a>
				@* <a href="https://github.com/havit/Havit.Blazor/releases" rel="nofollow"><img src="https://img.shields.io/badge/GitHub-Relese%20Notes-yellow?logo=github&cacheSeconds=604800" alt="GitHub Release Notes" style="max-width: 100%;" /></a> *@
				<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://img.shields.io/nuget/dt/Havit.Blazor.Components.Web.Bootstrap?logo=nuget&cacheSeconds=43200" alt="nuget downloads" style="max-width: 100%;" /></a>
				<a href="https://github.com/havit/Havit.Blazor/blob/master/LICENSE"><img src="https://img.shields.io/github/license/havit/Havit.Blazor?cacheSeconds=604800" alt="GitHub" data-canonical-src="https://img.shields.io/github/license/havit/Havit.Blazor" style="max-width: 100%;"></a>
				<a href="https://dev.azure.com/havit/DEV/_build/latest?definitionId=318&amp;branchName=master" rel="nofollow"><img src="https://dev.azure.com/havit/DEV/_apis/build/status%2F002.HFW-HavitBlazor?branchName=master" alt="Build Status" style="max-width: 100%;"></a>
				<a href="https://github.com/havit/Havit.Blazor/"><img src="https://img.shields.io/github/stars/havit/Havit.Blazor?logo=github&cacheSeconds=43200" alt="GitHub" data-canonical-src="https://img.shields.io/github/stars/havit/Havit.Blazor" style="max-width: 100%;"></a>
				<br />
				<a href="https://www.peopleinneed.net/what-we-do/humanitarian-aid-and-development/ukraine"><img src="https://img.shields.io/badge/%23StandWithUkraine-Russian%20warship%2C%20go%20f%23ck%20yourself-blue?cacheSeconds=604800" alt="#StandWithUkraine: Russian warship, go f#ck yourself" /></a>
			</div>
			<div class="d-flex flex-wrap gap-3 my-5 justify-content-center align-items-center">
                <a href="/getting-started" class="btn btn-dark btn-lg rounded-pill d-inline-flex justify-content-center gap-2">
					Documentation
					<HxIcon Icon="BootstrapIcon.MortarboardFill" />
				</a>
				<a href="https://github.com/havit/Havit.Blazor/releases"
					class="btn btn-light btn-lg rounded-pill d-inline-flex justify-content-center gap-2">
					What's new
					<HxIcon Icon="BootstrapIcon.LightningChargeFill" />
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mb-4">
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Free for everyone, forever"
					  Description="Our commitment is to keep the core component library free forever
						for everyone. You can use it in commercial projects without any restrictions."
					  Icon="BootstrapIcon.CurrencyDollar"
					  Color="ThemeColor.Primary" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Powered by Bootstrap"
					  Description="Designed with the stability of Bootstrap at its core, this library
						leverages the leading framework in responsive web design to bring consistency
						and reliability to your applications."
					  Icon="BootstrapIcon.Bootstrap"
					  Color="ThemeColor.Success" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Premium plan"
					  Description="Enjoy access to a carefully selected collection of prebuilt UI blocks,
						complete with Blazor, C# and CSS source code,
						priority support, and enterprise project source code for your inspiration."
					  Icon="BootstrapIcon.Stars"
					  Color="ThemeColor.Dark" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="By Developers, for Developers"
					  Description="With thorough documentation, consistent API and practical examples, our library is designed
						to support and simplify your development journey."
					  Icon="BootstrapIcon.CodeSlash"
					  Color="ThemeColor.Warning" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Battle-Tested in Real Projects"
					  Description="Developed and maintained by a team with over 20 years in Microsoft web development,
						led by MVP Robert Haken. These components power our daily work in enterprise-level custom development."
					  Icon="BootstrapIcon.RocketTakeoff"
					  Color="ThemeColor.Danger" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Build UIs with Ease"
					  Description="Skip the complex setup. With straightforward, easily customizable components,
						you can focus on building great UIs without diving deep into new front-end skills."
					  Icon="BootstrapIcon.Brush"
					  Color="ThemeColor.Info" />
		</div>
	</div>
</div>
