@page "/"
@page "/intro"

<h1 class="fw-bold lh-1">HAVIT Blazor Bootstrap</h1>
<p class="lead">Free Bootstrap 5.3 components for ASP.NET Blazor.</p>

<p>
	<a href="https://github.com/havit/Havit.Blazor/"><img src="https://img.shields.io/static/v1?style=flat&logo=github&label=GitHub&message=repo&cacheSeconds=604800" alt="GitHub Repository" style="max-width: 100%;" /></a>
	<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://img.shields.io/nuget/v/Havit.Blazor.Components.Web.Bootstrap?logo=nuget&cacheSeconds=43200" alt="nuget version" style="max-width: 100%;" /></a>
	<a href="https://github.com/havit/Havit.Blazor/releases" rel="nofollow"><img src="https://img.shields.io/badge/GitHub-Relese%20Notes-yellow?logo=github&cacheSeconds=604800" alt="GitHub Release Notes" style="max-width: 100%;" /></a>
	<a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/" rel="nofollow"><img src="https://img.shields.io/nuget/dt/Havit.Blazor.Components.Web.Bootstrap?logo=nuget&cacheSeconds=43200" alt="nuget downloads" style="max-width: 100%;" /></a>
	<a href="https://github.com/havit/Havit.Blazor/blob/master/LICENSE"><img src="https://img.shields.io/github/license/havit/Havit.Blazor?cacheSeconds=604800" alt="GitHub" data-canonical-src="https://img.shields.io/github/license/havit/Havit.Blazor" style="max-width: 100%;"></a>
	<a href="https://github.com/havit/Havit.Blazor/"><img src="https://img.shields.io/github/stars/havit/Havit.Blazor?logo=github&cacheSeconds=43200" alt="GitHub" data-canonical-src="https://img.shields.io/github/stars/havit/Havit.Blazor" style="max-width: 100%;"></a>
	<a href="https://dev.azure.com/havit/DEV/_build/latest?definitionId=318&amp;branchName=master" rel="nofollow"><img src="https://dev.azure.com/havit/DEV/_apis/build/status%2F002.HFW-HavitBlazor?branchName=master" alt="Build Status" style="max-width: 100%;"></a>
	<br />
	<a href="https://www.peopleinneed.net/what-we-do/humanitarian-aid-and-development/ukraine"><img src="https://img.shields.io/badge/%23StandWithUkraine-Russian%20warship%2C%20go%20f%23ck%20yourself-blue?cacheSeconds=604800" alt="#StandWithUkraine: Russian warship, go f#ck yourself" /></a>
</p>

<DocHeading Title="Getting started" Level="1" />

<DocHeading Title="Prerequisites" Level="2" />
<p>Havit.Blazor components have the following requirements:</p>
<ul>
	<li>.NET 6.0 or newer (<code>net8.0</code>, <code>net7.0</code> and <code>net6.0</code> multitargeting; <code>net5.0</code> support dropped in v3.2)</li>
	<li>Blazor WebAssembly (preferred) or Blazor Server hosting models (other options at your own risk)</li>
</ul>

<DocHeading Title="Installation" Level="2" />

<DocAlert Type="DocAlertType.Info">
	Try our <a href="https://github.com/havit/NewProjectTemplate-Blazor">enterprise project template</a> which includes layered architecture, EF Core, gRPC code-first, ...
</DocAlert>

<DocHeading Title="1. NuGet package" Level="3" />
<p>To incorporate the <a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/">Havit.Blazor.Components.Web.Bootstrap</a> package into your project, you can use the NuGet Package Manager or execute the following command:</p>
<CodeSnippet Language="none">dotnet add package Havit.Blazor.Components.Web.Bootstrap</CodeSnippet>
<p>This package should be added to the project where the components will be utilized, typically in the user interface layer. For instance, in Visual Studio Blazor templates, this would be <code>YourApp.Client</code>.</p>

<DocHeading Title="2. CSS &amp; JavaScript references" Level="3" />
<p>To ensure proper styling and functionality, add references to CSS and JavaScript in your project.</p>
<DocHeading Title="CSS" Level="4" />
<p>Insert the following line into the <code>&lt;head&gt;</code> section of your HTML file. The specific file to modify depends on your project's configuration. This could be <code>App.razor</code>, <code>index.html</code>, or <code>_Host.cshtml</code>/<code>_Layout.cshtml</code>:</p>
<CodeSnippet File="~\Pages\GettingStarted_CSS.CodeSnippet.html" />

<DocAlert Type="DocAlertType.Warning">
	If you're utilizing a standard Blazor template, it's important to clean up your CSS files. Specifically, you should remove any unnecessary code from <code>site.css</code> and completely delete the <code>bootstrap.min.css</code> reference from either <code>App.razor</code>, <code>index.html</code> or <code>_Host.cshtml</code>/<code>_Layout.cshtml</code>.
</DocAlert>

<DocHeading Title="Havit.Blazor Bootstrap theme" Level="5" />
<p>If you prefer to utilize our custom Bootstrap theme, which is used in this documentation and our demos, substitute the <strong>first</strong> <code>link</code> with the following:</p>
<CodeSnippet File="~\Pages\GettingStarted_CustomCSS.CodeSnippet.html" />
<p>Similarly, you can reference your custom Bootstrap build or any other Bootstrap theme in the same manner.</p>

<DocHeading Title="Bootstrap JavaScript" Id="javascript" Level="4" />
<p>In the same HTML file, add the following line at the end of the <code>&lt;body&gt;</code> section. This includes the Bootstrap JavaScript Bundle with Popper:</p>
<CodeSnippet Language="razor">
	@HxSetup.RenderBootstrapJavaScriptReference()
</CodeSnippet>

<DocHeading Title="Generated CSS/JS references" Level="4" />
<p>
	If your Blazor app is hosted using an ASP.NET Core, take advantage of our <a href="/types/HxSetup">HxSetup</a> helper methods instead. These methods automatically emit the <code>&lt;link /&gt;</code>
	and <code>&lt;script /&gt;</code> tags and handle versioning for you.
</p>
<p>For Blazor Web App (.NET 8 and above), put the following in <code>App.razor</code>.</p>
<CodeSnippet File="~\Pages\GettingStarted_HxSetupRazorPage.CodeSnippet.html" Language="razor" />
<p>For Razor Page (.NET 7 and below), put the following into <code>_Host.cshtml</code> or <code>_Layout.cshtml</code>.</p>
<CodeSnippet File="~\Pages\GettingStarted_HxSetupCshtmlPage.CodeSnippet.html" Language="razor" />

<DocHeading Title="3. Import namespaces" Level="3" />
<p>Add the following code to your <code>_Imports.razor</code> file:</p>
<CodeSnippet File="~\Pages\GettingStarted_Namespaces.CodeSnippet.razor" />

<DocHeading Title="4. Register services" Level="3" />
<p>Add the following line of code to your services registration, typically found in the <code>Program.cs</code> file of your Blazor client project:</p>
<CodeSnippet Language="csharp">builder.Services.AddHxServices();</CodeSnippet>
<p>
	For projects that originated from earlier Blazor templates, these service registrations may be found in the <code>Startup.cs</code> file,
	specifically within the <code>ConfigureServices()</code> method. Note that in this case, you will not use the <code>builder</code>;
	instead, register the services directly to the <code>services</code> collection.
</p>

<DocHeading Title="5. Specific components support" Level="3" />
<p>
	[OPTIONAL] Some components require a specific project setup to function correctly.
	This typically involves registering a service and adding a host component to <code>App.razor</code> or a <code>MainLayout.razor</code> component.
</p>
<p>For detailed instructions, please refer to the documentation of the respective components:</p>
<ul>
	<li><a href="/components/@nameof(HxMessenger)">@nameof(HxMessenger)</a> - Facilitates the display of new toast messages from your code with ease.</li>
	<li><a href="/components/@nameof(HxMessageBoxHost)">@nameof(HxMessageBoxHost)</a> - Enables opening message boxes (and awaiting results) directly from your code.</li>
</ul>

<DocHeading Title="Ready, set, go!" Id="done" Level="2" />
<p>You are now all set to utilize the full range of components in your Razor files. These components are prefixed with <code>Hx</code>. Rely on IntelliSense to guide you through their usage.</p>
<Demo Type="typeof(GettingStarted_Demo)" Tabs="false" />

<DocAlert Type="DocAlertType.Info">
	This entire documentation is created using the Havit.Blazor library and operates as a Blazor WebAssembly ASP.NET Core Hosted project
	with server-side prerendering. You can view <a href="https://github.com/havit/Havit.Blazor/tree/master/Havit.Blazor.Documentation">the source code of this documentation on GitHub</a>.
</DocAlert>
