@page "/"
@layout HomeLayout

<PageTitle>HAVIT Blazor | Free Bootstrap 5 components for Blazor</PageTitle>
<DocHeadContent CanonicalRelativeUrl="/" />

<div class="hero py-3">
	<div class="container">
		<div class="text-center py-5 my-5">
			<h1 class="fw-bold display-3">HAVIT Blazor</h1>
			<p class="lead">Free open-source ASP.NET Blazor components based on Bootstrap 5.</p>
			<div class="d-flex flex-wrap gap-3 my-5 justify-content-center align-items-center">
                <a href="/getting-started" class="btn btn-dark btn-lg rounded-pill d-inline-flex justify-content-center gap-2">
					Documentation
					<HxIcon Icon="BootstrapIcon.MortarboardFill" />
				</a>
				<a href="https://github.com/havit/Havit.Blazor/releases"
					class="btn btn-light btn-lg rounded-pill d-inline-flex justify-content-center gap-2">
					What's new
					<HxIcon Icon="BootstrapIcon.LightningChargeFill" />
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mb-4">
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Free for everyone, forever"
					  Description="Our commitment is to keep the core component library free forever
						for everyone. You can use it in commercial projects without any restrictions."
					  Icon="BootstrapIcon.CurrencyDollar"
					  Color="ThemeColor.Primary" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Powered by Bootstrap"
					  Description="Designed with the stability of Bootstrap at its core, this library
						leverages the leading framework in responsive web design to bring consistency
						and reliability to your applications."
					  Icon="BootstrapIcon.Bootstrap"
					  Color="ThemeColor.Success" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Premium plan"
					  Description="Enjoy access to a carefully selected collection of prebuilt UI blocks,
						complete with Blazor, C# and CSS source code,
						priority support, and enterprise project source code for your inspiration."
					  Icon="BootstrapIcon.Stars"
					  Color="ThemeColor.Dark" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="By Developers, for Developers"
					  Description="With thorough documentation, consistent API and practical examples, our library is designed
						to support and simplify your development journey."
					  Icon="BootstrapIcon.CodeSlash"
					  Color="ThemeColor.Warning" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Battle-Tested in Real Projects"
					  Description="Developed and maintained by a team with over 20 years in Microsoft web development,
						led by MVP Robert Haken. These components power our daily work in enterprise-level custom development."
					  Icon="BootstrapIcon.RocketTakeoff"
					  Color="ThemeColor.Danger" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Build UIs with Ease"
					  Description="Skip the complex setup. With straightforward, easily customizable components,
						you can focus on building great UIs without diving deep into new front-end skills."
					  Icon="BootstrapIcon.Brush"
					  Color="ThemeColor.Info" />
		</div>
	</div>
</div>
