@page "/"
@layout HomeLayout

<div class="hero py-3">
	<div class="container">
		<div class="text-center py-5 my-5">
			<h1 class="fw-bold display-3">HAVIT Blazor</h1>
			<p class="lead">Free open-source ASP.NET Blazor components based on Bootstrap 5.</p>
			<div class="d-flex flex-column flex-lg-row gap-3 my-5 justify-content-center align-items-center">
				<a href="https://github.com/havit/Havit.Blazor/releases"
					class="btn btn-dark rounded-pill d-inline-flex justify-content-center gap-2">
					Release v4.7 is out
					<HxIcon Icon="BootstrapIcon.LightningChargeFill" />
				</a>
				<a href="/intro" class="btn btn-outline-light rounded-pill d-inline-flex justify-content-center gap-2">
					Documentation
					<HxIcon Icon="BootstrapIcon.MortarboardFill" />
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mb-4 px-3">
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Blazor WASM, Server or Hybrid" Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae illum
						minus quo atque, assumenda sunt eius officiis explicabo cum porro hic? Perferendis unde soluta
						obcaecati libero quidem quibusdam excepturi et!" Icon="BootstrapIcon.RocketTakeoff" Color="ThemeColor.Primary" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Enterprise project template" Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae illum
						minus quo atque, assumenda sunt eius officiis explicabo cum porro hic? Perferendis unde soluta
						obcaecati libero quidem quibusdam excepturi et!" Icon="BootstrapIcon.CodeSlash" Color="ThemeColor.Success" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Powerful grid" Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae illum
						minus quo atque, assumenda sunt eius officiis explicabo cum porro hic? Perferendis unde soluta
						obcaecati libero quidem quibusdam excepturi et!" Icon="BootstrapIcon.Table" Color="ThemeColor.Warning" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Ritch forms with validations" Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae illum
						minus quo atque, assumenda sunt eius officiis explicabo cum porro hic? Perferendis unde soluta
						obcaecati libero quidem quibusdam excepturi et!" Icon="BootstrapIcon.InputCursorText" Color="ThemeColor.Danger" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Component settings and defaults" Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae illum
						minus quo atque, assumenda sunt eius officiis explicabo cum porro hic? Perferendis unde soluta
						obcaecati libero quidem quibusdam excepturi et!" Icon="BootstrapIcon.Gear" Color="ThemeColor.Info" />
		</div>
		<div class="col-12 col-lg-6 col-xxl-4 mb-4">
			<HeroCard Title="Premium plan" Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae illum
						minus quo atque, assumenda sunt eius officiis explicabo cum porro hic? Perferendis unde soluta
						obcaecati libero quidem quibusdam excepturi et!" Icon="BootstrapIcon.Stars" Color="ThemeColor.Dark" />
		</div>
	</div>
</div>
