@attribute [Route("/components/" + nameof(HxRedirectTo))]

<ComponentApiDoc Type="typeof(HxRedirectTo)">

    <h3>Sample usage in App.razor</h3>
    <CodeSnippet File="~\Pages\Components\HxRedirectToDoc\HxRedirectTo.CodeSnippet.razor" />

    <h3>Basic usage</h3>
    <Demo Type="typeof(HxRedirectTo_Demo_BasicUsage)" />

</ComponentApiDoc>