@page "/components/hxbootstrapicon"

<h1>@nameof(HxBootstrapIcon)</h1>
<p class="lead">
	Displays <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap icon</a>.			
</p>

<p>
	You do need to copy SVG from Bootstrap documentation, just choose icon to display. Under the hood the component displays the icon using <a href="https://icons.getbootstrap.com/#usage" target="_blank">a sprite</a>.
</p>

<h3>Properties</h3>
<ul>
	<li>
		<strong>@nameof(Havit.Blazor.Components.Web.Bootstrap.HxBootstrapIcon.Icon)</strong> (enumeration)<br />
		Icon to display. Choose icon in <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap icon documentation</a>.
	</li>
</ul>

<Demo Type="typeof(HxBootstrapIcon_Demo)" />
