@*Loop through all the colors for the badge*@
@foreach (var color in Enum.GetValues(typeof(ThemeColor)))
{
    @*Following colors aren't available for the HxBadge, so they are excluded*@
    @if ((ThemeColor)color == ThemeColor.None)
    {
        continue;
    }

    <div style="display: inline-block; margin-right: 0.5rem;">
        @if ((ThemeColor)color == ThemeColor.Warning || (ThemeColor)color == ThemeColor.Info || (ThemeColor)color == ThemeColor.Light)
        {
            <HxButton TextColor="ThemeColor.Dark" Color="(ThemeColor)color">@((ThemeColor)color)</HxButton>
        }
        else
        {
            <HxButton Color="(ThemeColor)color">@((ThemeColor)color)</HxButton>
        }
    </div>
}
