<HxButton Icon="@Bootstrap.BootstrapIcon.Bootstrap" Text="button with icon" />
<HxButton>
	Button <span class="badge bg-secondary">with badge</span>
</HxButton>
<HxButton CssClass="btn-lg" Text="Large button" />
