@namespace Havit.Blazor.Components.Web.Bootstrap.Internal

<div class="hx-search-box-item">
    @if (Icon is not null)
	{
		<HxIcon CssClass="hx-search-box-item-icon" Icon="Icon" />
	}

	<div>
		@if (!string.IsNullOrEmpty(Subtitle))
		{
			<div class="hx-search-box-item-title">@Title</div>
			<div class="hx-search-box-item-subtitle">@Subtitle</div>
		}
		else
		{
			<div class="hx-search-box-item-title">@Title</div>
		}
	</div>
</div>
