@namespace Havit.Blazor.Components.Web.Bootstrap.Internal

<span class="hx-search-box-item">
    @if (Icon is not null)
	{
		<HxIcon CssClass="hx-search-box-item-icon" Icon="Icon" />
	}

	<span class="overflow-hidden lh-sm">
		@if (!string.IsNullOrEmpty(Subtitle))
		{
			<span class="hx-search-box-item-title text-truncate">@Title</span>
			<span class="hx-search-box-item-subtitle text-truncate">@Subtitle</span>
		}
		else
		{
			<span class="hx-search-box-item-title text-truncate">@Title</span>
		}
	</span>
</span>
