<HxInputFileDropZone Multiple>
    <NoFilesTemplate>
        <div class="display-3 text-center"><HxIcon Icon="BootstrapIcon.CloudUpload" /></div>
        <div>Custom content</div>
    </NoFilesTemplate>
</HxInputFileDropZone>
