@attribute [Route("/components/" + nameof(HxInputFileDropZone))]

<ComponentApiDoc Type="typeof(HxInputFileDropZone)">
	<MainContent>
		<p>See <a href="/components/@nameof(HxInputFileCore)#SingleFileUpload">@nameof(HxInputFileCore)</a> for upload demos.</p>

		<DocHeading Title="Single" />
		<Demo Type="typeof(HxInputFileDropZone_Demo_Single)" Tabs="false" />

        <DocHeading Title="Multiple" />
		<Demo Type="typeof(HxInputFileDropZone_Demo_Multiple)" Tabs="false" />

        <DocHeading Title="Custom NoFilesTemplate" Id="custom-NoFilesTemplate" />
		<Demo Type="typeof(HxInputFileDropZone_Demo_NoFilesTemplate)" />
	</MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-border-width" Default="1px">
            Width of the border.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-box-shadow" Default="none">
            Box shadow of the drop zone.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-hover-box-shadow" Default="0 0 0 var(--bs-focus-ring-width) var(--bs-focus-ring-color)">
            Box shadow of the drop zone on hover.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-border-color" Default="var(--bs-border-color)">
            Border color.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-background-color" Default="transparent">
            Background color.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-hover-background-color" Default="rgba(var(--bs-primary-rgb), .1)">
            Background color on hover.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-hover-border-color" Default="var(--bs-primary)">
            Border color on hover.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-disabled-background-color" Default="var(--bs-gray-200)">
            Background color when disabled.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-disabled-color" Default="var(--bs-gray-400)">
            Color when disabled.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-border-radius" Default=".3rem">
            Border radius.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-margin" Default="0">
            Margin.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-input-file-drop-zone-padding" Default="3rem">
            Padding.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>