@attribute [Route("/components/" + nameof(HxModal))]

<ComponentApiDoc Type="typeof(HxModal)">

	<HxAlert Color="ThemeColor.Warning">
		Modals cannot be nested - you cannot have a modal inside another modal.
	</HxAlert>

	<h3>Usage</h3>
	<Demo Type="typeof(HxModal_Demo)" />

	@*Static backdrop isn't working*@
	@*<h3>Static backdrop</h3>
    <p>When backdrop is <b>not</b> set to static, the modal will close when clicking outside it. Click the button below to try it.</p>
	<Demo Type="typeof(HxModal_Demo_Backdrop)" />*@

	<h3>Scrolling long content</h3>
    <p>When modals become too long for the user’s viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.</p>
	<Demo Type="typeof(HxModal_Demo_Scrolling)" />

    <p>You can also create a scrollable modal that allows scroll the modal body by adding the <code>.modal-dialog-scrollable</code> class.</p>
	<Demo Type="typeof(HxModal_Demo_Scrollable)" />

	@*<h3>Vertically centered</h3>
    <p>Add the <code>.modal-dialog-centered</code> class to vertically center the modal.</p>
	<Demo Type="typeof(HxModal_Demo_VerticallyCentered)" />*@
</ComponentApiDoc>