@attribute [Route("/components/" + nameof(HxModal))]

<ComponentApiDoc Type="typeof(HxModal)">

	<DocAlert Type="DocAlertType.Warning">
		Bootstrap only supports one modal window at a time. Nested modals aren’t supported as they are believed to be poor user experiences.
	</DocAlert>

    <DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxModal_Demo)" Tabs="false" />

    <DocHeading Title="Static backdrop" />
	<p>When backdrop is set to <code>ModalBackdrop.Static</code>, the modal will not close when clicking outside of it.</p>
	<Demo Type="typeof(HxModal_Demo_Backdrop)" />

    <DocHeading Title="Scrolling long content" />
	<p>When modals become too long for the user’s viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.</p>
	<Demo Type="typeof(HxModal_Demo_Scrolling)" />

	<p>You can also create a scrollable modal that allows scroll the modal body by setting the <code>Scrollable</code> parameter.</p>
	<Demo Type="typeof(HxModal_Demo_Scrollable)" />

    <DocHeading Title="Vertically centered" />
	<p>Set the <code>Centered</code> parameter to vertically center the modal.</p>
	<Demo Type="typeof(HxModal_Demo_VerticallyCentered)" />

    <DocHeading Title="Optional sizes" />
	<Demo Type="typeof(HxModal_Demo_Size)" />

    <DocHeading Title="Fullscreen modal" />
	<Demo Type="typeof(HxModal_Demo_Fullscreen)" />
</ComponentApiDoc>