@attribute [Route("/components/" + nameof(HxModal))]

<ComponentApiDoc Type="typeof(HxModal)">

	<HxAlert Color="ThemeColor.Warning">
		Modals cannot be nested - you cannot have a modal inside another modal.
	</HxAlert>

	<h3>Usage</h3>
	<Demo Type="typeof(HxModal_Demo)" />

</ComponentApiDoc>