@attribute [Route("/components/" + nameof(HxModal))]

<ComponentApiDoc Type="typeof(HxModal)">

	<HxAlert Color="ThemeColor.Warning" CssClass="d-flex">
		<div class="col-auto me-3">
			<HxIcon Icon="BootstrapIcon.ExclamationTriangle" CssClass="fs-5" />
		</div>
		<div class="col">
			Bootstrap only supports one modal window at a time. Nested modals aren’t supported are believed to be poor user experiences.
		</div>
	</HxAlert>

	<h3>Usage</h3>
	<Demo Type="typeof(HxModal_Demo)" Tabs="false" />

	<h3>Static backdrop</h3>
	<p>When backdrop is <b>not</b> set to static, the modal will close when clicking outside it. Click the button below to try it.</p>
	<Demo Type="typeof(HxModal_Demo_Backdrop)" />

	<h3>Scrolling long content</h3>
	<p>When modals become too long for the user’s viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.</p>
	<Demo Type="typeof(HxModal_Demo_Scrolling)" />

	<p>You can also create a scrollable modal that allows scroll the modal body by setting the <code>Scrollable</code> parameter.</p>
	<Demo Type="typeof(HxModal_Demo_Scrollable)" />

	<h3>Vertically centered</h3>
	<p>Set the <code>Centered</code> parameter to vertically center the modal.</p>
	<Demo Type="typeof(HxModal_Demo_VerticallyCentered)" />

	<h3>Optional sizes</h3>
	<Demo Type="typeof(HxModal_Demo_Size)" />

	<h3>Fullscreen Modal</h3>
	<Demo Type="typeof(HxModal_Demo_Fullscreen)" />
</ComponentApiDoc>