@attribute [Route("/components/" + nameof(HxDynamicElement))]

<ComponentApiDoc Type="typeof(HxDynamicElement)">
    <p>Allows dynamic composition of more complex components. Used internally by some of the Hx-components, but also exposed for your needs.</p>

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxDynamicElement_Demo_BasicUsage)" Tabs="false" />

</ComponentApiDoc>