@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<li class="@ContainerCssClass">
	<span class="@CssClassHelper.Combine("dropdown-item-text", CssClass)">
        <HxDropdownIconInternal Icon="@Icon" CssClass="@IconCssClass" />
        @ChildContent
    </span>
</li>