@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<li class="@ContainerCssClass">
    <span class="@CssClassHelper.Combine("dropdown-item", CascadeEnabledComponent.EnabledEffective(this) ? null : "disabled", CssClass)"
          @onclick="InvokeOnClickAsync"
          @onclick:stopPropagation="true"
          role="button"
          @attributes="AdditionalAttributes">
        <HxDropdownIcon Icon="@Icon" IconCssClass="@IconCssClass" />
        @ChildContent
    </span>
</li>