@namespace Havit.Blazor.Components.Web.Bootstrap
<CascadingValue Value="@this" IsFixed="true">
	<div class="@CssClassHelper.Combine(GetDirectionCssClass(), this.Split ? "btn-group" : null, this.CssClass)">
		@ChildContent
	</div>
</CascadingValue>