@namespace Havit.Blazor.Components.Web.Bootstrap
<CascadingValue Value="@(this)" IsFixed="true">
	<div class="@CssClassHelper.Combine(GetCoreCssClass(), GetDropdownDirectionCssClass(), CssClass)" @attributes="@AdditionalAttributes">
		@ChildContent
	</div>
</CascadingValue>