@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<li>
    <h6 class="@CssClassHelper.Combine("dropdown-header", CssClass)">
        <HxDropdownIcon Icon="@Icon" IconCssClass="@IconCssClass" />
        @ChildContent
    </h6>
</li>