@namespace Havit.Blazor.Components.Web.Bootstrap
<CascadingValue Value="@this" IsFixed="true">
	<div class="@CssClassHelper.Combine(GetDropdownDirectionCssClass(), (true || this.Split) ? "btn-group" : null, this.CssClass)">
		@ChildContent
	</div>
</CascadingValue>
@*
	The basic .dropdown class brings just position:relative requirement (+ directions within other variations).
	.btn-group is needed for Split buttons AND brings default in-row positioning to behave like regular buttons.
	It is used in almost all Bootstrap samples. Might be replaced with more appropriate class if needed.
*@