@attribute [Route("/components/" + nameof(HxChipList))]

<ComponentApiDoc Type="typeof(HxChipList)">
    <MainContent>
        <DocHeading Title="Basic usage" />
        <Demo Type="typeof(HxChipList_Demo)" Tabs="false" />

		<DocHeading Title="Reset button" />
		<p>By setting <code>ShowResetButton="true"</code> you can enable the <i>Reset</i> button (text customizable with <code>ResetButtonText</code>. When the button is clicked, the <code>OnReset</code> callback is invoked.</p>
		<Demo Type="typeof(HxChipList_Demo_Reset)" />
	</MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-chip-list-chip-margin" Default=".25rem">
            Gap between chips.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-chip-list-chip-remove-btn-margin" Default="0 0 0 .25rem">
            Margin of chip remove button.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-chip-list-chip-remove-btn-margin" Default=".5">
            Opacity of chip remove button.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-chip-list-chip-label-font-weight" Default="400">
            Font weight of chip label.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-chip-list-chip-label-margin" Default="400">
            Margin of chip label.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-chip-list-chip-label-opacity" Default=".5">
            Opacity of chip label.
        </ComponentApiDocCssVariable>
    </CssVariables>

</ComponentApiDoc>