@namespace Havit.Blazor.Components.Web.Bootstrap.Internal

<div class="hx-autosuggest-input-icon position-absolute top-50 end-0 translate-middle-y">
    @* TODO: Doplnit skrytí/zobrazení v životním cyklu komponenty. Vždy je zobrazena jen jedna z ikon. *@

    @* Default, pokud je pole prázdné, ideálně nastavitelné. *@
    <HxIcon Icon="BootstrapIcon.Search" />

    @* Maže na onClick vybranou hodnotu z inputu *@
    @* <HxIcon Icon="BootstrapIcon.X" /> *@

    @* Když běží request *@
    @* <div>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="visually-hidden">Loading...</span>
        </div> *@
</div>