@namespace Havit.Blazor.Components.Web.Bootstrap.Internal
@typeparam TItem

<div class="@CssClassHelper.Combine("dropdown-menu", CssClass)">
	@if (Items != null && Items.Any())
	{
		@foreach (TItem item in Items)
		{
			TItem currentItem = item;

			<button class="dropdown-item text-truncate" type="button" @onclick="async () => await HandleItemClick(currentItem)" @onclick:stopPropagation="true">
				@ItemTemplate(currentItem)
			</button>
		} 
	}
	else if (EmptyTemplate != null)
	{
		@EmptyTemplate
	}
</div>