@attribute [Route("/components/" + nameof(HxInputPercent<object>))]

<ComponentApiDoc Type="typeof(HxInputPercent<object>)">
    <DocAlert Type="DocAlertType.Warning">HxInputPercent outputs a number divided by 100 representing the percentages</DocAlert>

    <h3 id="BasicExample">Basic example</h3>
    <Demo Type="typeof(HxInputPercent_Demo_Basic)" Tabs="false" />

    <h3 id="InputGroupEnd">InputGroupEnd</h3>
    <p><code>InputGroupEnd</code> is set to "%" by default.</p>
    <Demo Type="typeof(HxInputPercent_Demo_CustomInputGroupEnd)" Tabs="false" />

    <p>If you do not want any <code>InputGroupEnd</code> to appear, then set the parameter to <code>null</code> or <code>String.Empty</code>.</p>
    <Demo Type="typeof(HxInputPercent_Demo_NoInputGroupEnd)" Tabs="false" />
</ComponentApiDoc>