@namespace Havit.Blazor.Components.Web.Bootstrap

<nav class="@GetCssClass()">
	<div class="@ContainerCssClass">
		<CascadingValue Value="@this" IsFixed="true">
			@ChildContent
		</CascadingValue>
	</div>
</nav>