@namespace Havit.Blazor.Components.Web.Bootstrap

<nav id="@this.Id" class="@CssClassHelper.Combine("nav", (this.Orientation == NavOrientation.Vertical) ? "flex-column" : null, this.CssClass)">
	@ChildContent
</nav>