@namespace Havit.Blazor.Components.Web.Bootstrap

<nav class="@GetCssClass()" data-bs-theme="@((this.ColorMode == ColorMode.Auto) ? null : this.ColorMode.ToString("g").ToLowerInvariant())">
	<div class="@ContainerCssClass">
		<CascadingValue Value="@this" IsFixed="true">
			@ChildContent
		</CascadingValue>
	</div>
</nav>