@namespace Havit.Blazor.Components.Web.Bootstrap

<nav class="@GetCssClass()">
	<div class="container-fluid">
		<CascadingValue Value="@this" IsFixed="true">
			@ChildContent
		</CascadingValue>
	</div>
</nav>