@namespace Havit.Blazor.Components.Web.Bootstrap
<a href="./">
	<div class="hx-sidebar-brand-logo">
		@if(Logo != null) {
			@Logo
		}
		else {
		<span class="logo-text">@BrandNameShort</span>
		}
	</div>
	<span class="hx-sidebar-brand-name">@BrandName</span>
</a>