@namespace Havit.Blazor.Components.Web.Bootstrap
<a class="hx-sidebar-brand" href="./">
	@if (LogoTemplate != null)
	{
		<div class="hx-sidebar-brand-logo">@LogoTemplate(new() { SidebarCollapsed = ParentSidebar.Collapsed })</div>
	}
	else
	{
		<div class="hx-sidebar-brand-shortname">@BrandNameShort</div>
	}

	<span class="hx-sidebar-brand-name">@BrandName</span>
</a>