@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine("sidebar d-flex flex-column", GetDesktopCollapsedCssClass())">
	<div class="nav-menu d-flex w-auto flex-column p-3 bg-white">

		@if (HeaderTemplate is not null)
		{
			<div class="sidebar-header">
				@HeaderTemplate
			</div>
		}

		<div class="navbar-toggler navbar-light" role="button" @onclick="HandleMobileCollapseToggleClick" @onclick:stopPropagation="true">
			<span class="navbar-toggler-icon border rounded"></span>
		</div>
		<div class="navbar-desktop-toggler align-self-end" role="button" @onclick="HandleDesktopCollapseToggleClick" @onclick:stopPropagation="true">
			<HxIcon Icon="@(collapsedDesktop ? DesktopExpandIcon : DesktopCollapseIcon)" />
		</div>

		<div class="@CssClassHelper.Combine("sidebar-inner flex-column mb-auto", @GetCollapsedMobileCssClass())">
			<ul class="flex-column list-unstyled ps-0">
				@ItemsTemplate
			</ul>
		</div>

		@if (FooterTemplate is not null)
		{
			<div class="footer-template d-flex">
				@FooterTemplate
			</div>
		}
	</div>
</div>