@namespace Havit.Blazor.Components.Web.Bootstrap
<a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none fs-6">
	<div class="logo rounded-circle d-flex p-1 justify-content-center align-items-center text-white">
		<span class="logo-text">@BrandNameShort</span>
	</div>
	<span class="brand-name ms-2 fs-5 fw-semibold">@BrandName</span>
</a>