@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@CssClassHelper.Combine("sidebar d-flex flex-column", GetDesktopCollapsedCssClass(), this.CssClass)">
	<div class="nav-menu d-flex flex-column bg-white flex-shrink-0">

		@if (HeaderTemplate is not null)
		{
			<div class="sidebar-header">
				@HeaderTemplate
			</div>
		}

		<div class="@CssClassHelper.Combine("sidebar-body flex-column mb-auto overflow-auto", @GetCollapsedMobileCssClass())">
			<HxNav Orientation="NavOrientation.Vertical" CssClass="ps-0">
				@ItemsTemplate
			</HxNav>
			<div class="navbar-toggler navbar-light" role="button" @onclick="HandleMobileCollapseToggleClick"
				@onclick:stopPropagation="true">
				<span class="navbar-toggler-icon border rounded"></span>
			</div>
			<div class="navbar-desktop-toggler translate-middle" role="button" @onclick="HandleDesktopCollapseToggleClick"
				@onclick:stopPropagation="true">
				<HxIcon Icon="@(collapsedDesktop ? DesktopExpandIcon : DesktopCollapseIcon)" />
			</div>
		</div>

		@if (FooterTemplate is not null)
		{
			<div class="footer-template d-flex">
				@FooterTemplate
			</div>
		}
	</div>
</div>