@namespace Havit.Blazor.Components.Web.Bootstrap

<div>
    <HxNavLink Href="@Href" 
               CssClass="@CssClassHelper.Combine(CssClass)" 
               Match="Match">
        <div class="hx-sidebar-footer-navlink">
            @if (Icon != null)
            {
                <HxIcon Icon="Icon" />
            }
            <span class="@CssClassHelper.Combine("text", Icon == null ? null : "ms-3")">
                @Text
            </span>
        </div>

    </HxNavLink>
</div>