<HxPopover Trigger="PopoverTrigger.Focus" Title="Dismissible popover" Content="And here's some amazing content. It's very engaging. Right?">
	<a tabindex="0" class="btn btn-lg btn-danger">Dismissible popover</a>
</HxPopover>