@attribute [Route("/components/" + nameof(HxInputDate))]

<ComponentApiDoc Type="typeof(HxInputDate<TValue>)">
	<MainContent>
		<SectionTitle Id="BasicUsage" />
		<Demo Type="typeof(HxInputDate_Demo)" Tabs="false" />

		<SectionTitle Id="CalendarIcon" />
		<p>Optional icon can be added using <code>CalendarIcon</code> parameter:</p>
		<Demo Type="typeof(HxInputDate_Demo_CalendarIcon)" />

		<SectionTitle Id="clear-button">Clear button in calendar</SectionTitle>
		<p>The <i>Clear</i> button in dropdown calendar can be hidden by setting <code>ShowClearButton="false"</code>.</p>
		<Demo Type="typeof(HxInputDate_Demo_ClearButton)" />

		<SectionTitle Id="Sizes" />
		<Demo Type="typeof(HxInputDate_Demo_InputSize)" />

		<SectionTitle Id="CalendarCustomization">Dropdown calendar customization</SectionTitle>
		<p>
			You can change rendering of weekend days by defining your own CSS rule for <code>.weekend</code> class.
			The disabled days get <code>.disabled</code> class.
		</p>
		<DocAlert Type="DocAlertType.Warning">
			Disabling dates with the techniques below won't prevent the user from entering disabled dates manualy. You still have to validate the value.
		</DocAlert>

		<h4 id="MinDateMaxDate">MinDate, MaxDate</h4>
		<p>You can limit the dropdown calendar values by setting <code>MinDate</code> and/or <code>MaxDate</code>.</p>
		<Demo Type="typeof(HxInputDate_Demo_MinDateMaxDate)" />

		<h4 id="DateCustomization">Calendar date customization</h4>
		<p>
			You can customize the dropdown calendar dates with <code>CalendarDateCustomizationProvider</code>. You can disable individual dates
			(<code>Enabled="false"</code>) or set specific CSS class (<code>CssClass="...")</code>.
		</p>
		<Demo Type="typeof(HxInputDate_Demo_CalendarDateCustomization)" />
	</MainContent>
	<CssVariables>
		<ComponentApiDocCssVariable Name="--hx-input-date-dropdown-padding" Default="1rem">
			Padding of the dropdown.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-input-date-calendar-margin-bottom" Default="0">
			Margin bottom of the calendar.
		</ComponentApiDocCssVariable>
	</CssVariables>
	
</ComponentApiDoc>