@attribute [Route("/components/" + nameof(HxInputDate))]
@attribute [Route("/components/" + nameof(HxInputDateRange))]
@attribute [Route("/components/" + nameof(HxCalendar))]

<ComponentApiDoc Type="typeof(HxInputDate<DateTime>)">
	
	<h3>Examples</h3>
	<p>See <a href="/components/forminputs">Inputs demos</a>.</p>

	<h3>Calendar icon</h3>
	<p>Optional icon can be added using <code>CalendarIcon</code> parameter:</p>
	<Demo Type="typeof(HxInputDate_Demo_CalendarIcon)" />

</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxInputDateRange)" />

<ComponentApiDoc Type="typeof(HxCalendar)" />