@attribute [Route("/components/" + nameof(HxInputDate))]

<ComponentApiDoc Type="typeof(HxInputDate<DateTime>)">

	<h3>Basic usage</h3>
	<Demo Type="typeof(HxInputDate_Demo)" Tabs="false" />

	<h3>Calendar icon</h3>
	<p>Optional icon can be added using <code>CalendarIcon</code> parameter:</p>
	<Demo Type="typeof(HxInputDate_Demo_CalendarIcon)" />

	<h3>Sizes</h3>
	<Demo Type="typeof(HxInputDate_Demo_InputSize)" />
</ComponentApiDoc>