@attribute [Route("/components/" + nameof(HxInputDate))]

<ComponentApiDoc Type="typeof(HxInputDate<DateTime>)">

    <HxAlert Color="ThemeColor.Warning">
        <HxIcon Icon="BootstrapIcon.ExclamationTriangleFill" /> <code>HxInputDate</code> does not support <code>InputGroups</code>. Learn more about them <a href="/components/Inputs#InputGroups">here</a>.
    </HxAlert>

    <h3>Basic usage</h3>
    <Demo Type="typeof(HxInputDate_Demo)" Tabs="false" />

    <h3>Calendar icon</h3>
    <p>Optional icon can be added using <code>CalendarIcon</code> parameter:</p>
    <Demo Type="typeof(HxInputDate_Demo_CalendarIcon)" />

    <h3>Buttons in calendar</h3>
    <p>The <i>Clear</i> and <i>OK</i> buttons in calendar can be hidden by setting <code>ShowCalendarButtons="false"</code>.</p>
    <Demo Type="typeof(HxInputDate_Demo_CalendarButtons)" />

    <h3>Sizes</h3>
    <Demo Type="typeof(HxInputDate_Demo_InputSize)" />
</ComponentApiDoc>