<p>
	<HxTooltip Text="Tooltip">default</HxTooltip>
	<HxTooltip Text="Tooltip" Placement="TooltipPlacement.Top">top</HxTooltip>
	<HxTooltip Text="Tooltip" Placement="TooltipPlacement.Bottom">bottom</HxTooltip>
	<HxTooltip Text="Tooltip" Placement="TooltipPlacement.Left">left</HxTooltip>
	<HxTooltip Text="Tooltip" Placement="TooltipPlacement.Right">right</HxTooltip>
	<HxTooltip Text="Tooltip" Placement="TooltipPlacement.Auto">auto</HxTooltip>
</p>