@page "/components/HxTooltip"

<ComponentApiDoc Type="typeof(HxTooltip)" DisplayBootstrapLink="false">
    <p class="lead">
        Bootstrap Tooltip. Rendered as a span (see example in <a href="https://getbootstrap.com/docs/5.0/components/tooltips/#disabled-elements">Disabled elements</a> in the Bootstrap tooltip documentation).
        <a href="https://getbootstrap.com/docs/5.0/components/tooltips/">https://getbootstrap.com/docs/5.0/components/tooltips/</a>
    </p>

    <p>The tooltips actives on hover only.</p>
</ComponentApiDoc>

<h3>@nameof(HxButton) support</h3>
The tooltip support is also embedded in @nameof(HxButton).

<Demo Type="typeof(HxTooltip_Demo)" />
