@attribute [Route("/components/" + nameof(HxTooltip))]

<ComponentApiDoc Type="typeof(HxTooltip)" DisplayBootstrapLink="false">
	<p>The tooltips activates on hover only.</p>

	<h3>@nameof(HxButton) support</h3>
	The tooltip support is also embedded in <a href="/components/@nameof(HxButton)">@nameof(HxButton)</a>.

	<h2>Examples</h2>
	<Demo Type="typeof(HxTooltip_Demo)" />
</ComponentApiDoc>
