@inherits MainLayout
<TopNavbar />
<div class="container">
	<div class="main-content row">
		<ComponentsSideBar />

		<div class="col-md-10">
			<div class="components">
				@Body
			</div>
		</div>
	</div>
</div>
