@inherits LayoutComponentBase

<HxMessenger Position="HxToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<SideBar />

<div class="main p-4">
	<div class="row">
		<div style="max-width: 1650px">
			@Body
		</div>
	</div>
</div>