@inherits LayoutComponentBase

<HxMessenger Position="HxToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<SideBar />

<div class="main p-4">
	<div class="bg-white rounded-3 p-4">
		@Body
	</div>
</div>