@inherits LayoutComponentBase

<HxMessenger Position="HxToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<div class="container d-flex">
	<SideBar />

	<div class="main p-4 flex-grow-1 border-end overflow-hidden">
		@Body
	</div>
</div>