@inherits LayoutComponentBase

<PageTitle>@title</PageTitle>

<HxMessenger Position="ToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<div class="container-xxl d-md-flex min-vh-100">
	<Sidebar />
	<div class="doc-content main p-4 flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>

<HxAnchorFragmentNavigation />