@inherits LayoutComponentBase

<HxMessenger Position="HxToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<TopNavbar />

<div class="container">
	<div class="main-content row">
		@Body
	</div>
</div>
