<div class="sidebar col-md-2">
	<ul class="categories">
		<li>
			<a href="#link1-collapse" data-toggle="collapse" aria-expanded="false" class="">Link 1</a>
			<ul class="subcategories collapse" id="link1-collapse">
				<li>SubLink 1</li>
				<li>SubLink 2</li>
				<li>SubLink 3</li>
				<li>SubLink 4</li>
			</ul>
		</li>
		<li>
			<a href="#link2-collapse" data-toggle="collapse">Link 2</a>
			<ul class="subcategories collapse" id="link2-collapse">
				<li>SubLink 1</li>
				<li>SubLink 2</li>
				<li>SubLink 3</li>
				<li>SubLink 4</li>
			</ul>
		</li>
		<li>
			<a href="#link3-collapse" data-toggle="collapse">Link 3</a>
			<ul class="subcategories collapse" id="link3-collapse">
				<li>SubLink 1</li>
				<li>SubLink 2</li>
				<li>SubLink 3</li>
				<li>SubLink 4</li>
			</ul>
		</li>
	</ul>
</div>


@code {
	
}

