<div class="sidebar col-md-2">
	<ul class="categories">
		<li>
			<a href="#link1-collapse" data-toggle="collapse" aria-expanded="false" class="">Form</a>
			<ul class="subcategories collapse" id="link1-collapse">
				<li><a href="/components/forminputs">Inputs</a></li>
				<li><a href="/components/formstate">State (HxFormState)</a></li>
			</ul>
		</li>
		<li>
			<a href="#link2-collapse" data-toggle="collapse">Link 2</a>
			<ul class="subcategories collapse" id="link2-collapse">
				<li>SubLink 1</li>
				<li>SubLink 2</li>
				<li>SubLink 3</li>
				<li>SubLink 4</li>
				<li>SubLink 5</li>
				<li>SubLink 6</li>
				<li>SubLink 7</li>
				<li>SubLink 8</li>
			</ul>
		</li>
		<li>
			<a href="#link3-collapse" data-toggle="collapse">Link 3</a>
			<ul class="subcategories collapse" id="link3-collapse">
				<li>SubLink 1</li>
				<li>SubLink 2</li>
				<li>SubLink 3</li>
			</ul>
		</li>
		<li>
			<a href="#link4-collapse" data-toggle="collapse">Link 4</a>
			<ul class="subcategories collapse" id="link4-collapse">
				<li>SubLink 1</li>
				<li>SubLink 2</li>
				<li>SubLink 3</li>
				<li>SubLink 4</li>
			</ul>
		</li>
		<li>
			<a href="#link5-collapse" data-toggle="collapse">Link 5</a>
			<ul class="subcategories collapse" id="link5-collapse">
				<li>SubLink 1</li>
				<li>SubLink 2</li>
				<li>SubLink 3</li>
				<li>SubLink 4</li>
				<li>SubLink 5</li>
				<li>SubLink 6</li>
				<li>SubLink 7</li>
				<li>SubLink 8</li>
				<li>SubLink 9</li>
				<li>SubLink 10</li>
			</ul>
		</li>
	</ul>
</div>


@code {
	
}

