<div class="col-md-2">
	<div class="sidebar">
		<ul class="categories">
			<li>
				<a href="#link-form-collapse" data-toggle="collapse" aria-expanded="false" class="">Forms</a>
				<ul class="subcategories collapse" id="link-form-collapse">
					<li><a href="/components/forminputs">Inputs</a></li>
					<li><a href="/components/hxformstate">@nameof(HxFormState)</a></li>
				</ul>
			</li>			
			<li>
				<a href="#link-components-collapse" data-toggle="collapse">Components</a>
				<ul class="subcategories collapse" id="link-components-collapse">
					<li><a href="/components/hxbootstrapicon">@nameof(HxBootstrapIcon)</a></li>
				</ul>
			</li>
			<li>
				<a href="#link3-collapse" data-toggle="collapse">Link 3</a>
				<ul class="subcategories collapse" id="link3-collapse">
					<li><a>SubLink 1</a></li>
					<li><a>SubLink 2</a></li>
					<li><a>SubLink 3</a></li>
				</ul>
			</li>
			<li>
				<a href="#link4-collapse" data-toggle="collapse">Link 4</a>
				<ul class="subcategories collapse" id="link4-collapse">
					<li><a>SubLink 1</a></li>
					<li><a>SubLink 2</a></li>
					<li><a>SubLink 3</a></li>
					<li><a>SubLink 4</a></li>
				</ul>
			</li>
			<li>
				<a href="#link5-collapse" data-toggle="collapse">Link 5</a>
				<ul class="subcategories collapse" id="link5-collapse">
					<li><a>SubLink 1</a></li>
					<li><a>SubLink 2</a></li>
					<li><a>SubLink 3</a></li>
					<li><a>SubLink 4</a></li>
					<li><a>SubLink 5</a></li>
					<li><a>SubLink 6</a></li>
					<li><a>SubLink 7</a></li>
					<li><a>SubLink 8</a></li>
					<li><a>SubLink 9</a></li>
					<li><a>SubLink 10</a></li>
					<li><a>SubLink 11</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>


@code {
	
}

