@namespace Havit.Blazor.Components.Web.Bootstrap

@if (Icon is not null)
{
	<div class="d-inline-flex align-items-center justify-content-center">
		<HxIcon CssClass="d-inline-block" Icon="Icon" />
	</div>
}

<div class="h-100 d-inline-block">
	<strong>@Title</strong><br />
	<small>@Subtitle</small>
</div>
