@namespace Havit.Blazor.Components.Web.Bootstrap

<div class="@(!string.IsNullOrEmpty(Title) && !string.IsNullOrEmpty(Subtitle) ? "d-flex align-items-center" : null)">
    @if (Icon is not null)
	{
		<HxIcon CssClass="d-inline-block me-2" Icon="Icon" />
	}

	<div class="h-100 d-inline-block">
		@if (!string.IsNullOrEmpty(Subtitle))
		{
			<strong>@Title</strong><br />
			<small>@Subtitle</small>
		}
		else
		{
			@Title
		}
	</div>
</div>
