@attribute [Route("/components/" + nameof(HxProgressIndicator))]

<ComponentApiDoc Type="typeof(HxProgressIndicator)">
    <MainContent>
        <h3>Usage</h3>
        <Demo Type="typeof(HxProgressIndicator_Demo)" />
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-progress-overlay-color" Default="white">
            Progress overlay color.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-progress-overlay-opacity" Default=".65">
            Progress overlay opacity.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>
