@attribute [Route("/components/" + nameof(HxValidationMessage<TValue>))]

<ComponentApiDoc Type="typeof(HxValidationMessage<TValue>)">
    <p>You usualy don't use the <code>@nameof(HxValidationMessage<object>)</code> in your code directly. It is encapsulated in <code>HxInputXy</code> components.</p>

    <DocHeading Title="Display modes" />
    <p>
        You can select display mode by setting the <code>Mode</code> parameter. It allows you to choose between <code>Regular</code>, <code>Tooltip</code>, <code>Floating</code> and <code>None</code>.
    </p>
    <DocAlert Type="DocAlertType.Info">
        For <code>HxInputXy</code> components, the default <code>ValidationMessageMode</code> is <code>Floating</code>.
        You can change application-wide default by setting <code>HxInputBase.Defaults.ValidationMessageMode</code> static property.
    </DocAlert>
    <Demo Type="typeof(HxValidationMessage_Demo_Mode)" />

    <DocHeading Title="Custom validation message" />
    <p>
        You can disable the encapsulated validation message with <code>ValidationMessageMode="ValidationMessageMode.None"</code> and use
        your own instance of <code>HxValidationMessage</code>.
    </p>
    <Demo Type="typeof(HxValidationMessage_Demo)" />
</ComponentApiDoc>