@page "/concepts/dark-color-mode-theme"

<h1>Dark color mode (theme)</h1>

<DocHeading Title="Basic usage" />
<p>
	Bootstrap 5.3 introduced the <a href="https://getbootstrap.com/docs/5.3/customize/color/#color-scheme">dark color scheme</a> and we added support for it in all our components.<br />
	Use the <code>data-bs-theme="dark"</code> attribute on the <code>&lt;html&gt;</code> element to enable it.<br />
	See the <a href="https://blog.getbootstrap.com/2023/05/30/bootstrap-5-3-0/#dark-mode">Bootstrap Dark mode documentation</a> for more details.
</p>
<CodeSnippet Language="razor" File="~\Pages\Concepts\DarkColorMode.CodeSnippet.razor" />

<DocHeading Title="Color mode switcher" />
<DocAlert Type="DocAlertType.Info">
	Please note, there is no <code>auto</code> color mode bult-in in Bootstrap 5.3.<br />
	You can use <code>window.matchMedia('(prefers-color-scheme: dark)').matches</code> query to detect user's preference on startup and set the color mode accordingly.
</DocAlert>
<DocHeading Title="JavaScript" Level="3"/>
<p>
	The color mode switcher has to be implemented with the help of JavaScript.<br />
	You can use the <a href="https://getbootstrap.com/docs/5.3/customize/color-modes/#javascript">script written by Bootstrap</a> to do the job.<br />
</p>

<DocHeading Title="Blazor" Level="3" />
<p>
	If you want to integrate the color mode switcher into your Blazor application and support server-side prerendering, you can take a look at
	the implementation of <a href="https://github.com/havit/Havit.Blazor/tree/master/Havit.Blazor.Documentation/Shared/Components/DocColorMode"><code>DocColorModeSwitcher</code></a> used for this documentation.
</p>
<ul>
	<li>We use cookie to store user's choice and have the choice available server-side for server prerendering on next visit.</li>
	<li>We use <code>PersistentComponentState</code> to pass prerendered color mode to Blazor WebAssembly client.</li>
	<li>We use two different implementations of <code>IDocColorModeResolver</code> to resolve the color mode on server and client.</li>
	<li>We did not implement the color mode switching when the system preference changes and the app is already running. The <code>auto</code> mode resolves only when application starts.</li>
</ul>