@page "/concepts/Debouncer"

<DocHeading Level="1">Debouncer</DocHeading>
<p>Debouncer helps you to debounce asynchronous actions. You can use it in your callbacks to prevent multiple calls of the same action in a short period of time.</p>

<DocHeading Title="Basic usage" />
<Demo Type="typeof(Debouncer_Demo_BasicUsage)" Tabs="false" />