<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Rewrite route" stopProcessing="true">
					<match url="^havit.blazor.cz(/.*)" />
					<action type="Redirect" url="https://havit.blazor.eu{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>