@page "/HxInputDate_FloatingLabel"
@rendermode InteractiveServer

<div class="col-lg-3">
	<HxInputDate Label="Date" @bind-Value="@value" LabelType="LabelType.Floating" CalendarIcon="BootstrapIcon.Calendar" />
</div>

@code {
	public DateTime value { get; set; }
}
