@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<button type="button"
        class="@CssClassHelper.Combine("menu-item", CascadeEnabledComponent.EnabledEffective(this) ? null : "disabled", Color?.ToThemeCss(), CssClass)"
        disabled="@(CascadeEnabledComponent.EnabledEffective(this) ? null : "disabled")"
        @onclick="InvokeOnClickAsync"
        @onclick:stopPropagation="true"
        @attributes="AdditionalAttributes">
    <HxMenuItemIconInternal Icon="@Icon" CssClass="@IconCssClass" />
    @ChildContent
</button>
