@namespace Havit.Blazor.Components.Web.Bootstrap
@using Havit.Blazor.Components.Web.Bootstrap.Internal
<h6 class="@CssClassHelper.Combine("menu-header", CssClass)">
    <HxMenuItemIconInternal Icon="@Icon" CssClass="@IconCssClass" />
    @ChildContent
</h6>
