@attribute [Route(NavigationRoutes.BlazorApplicationInsightsScriptTests.InteractiveServer)]

<h1>Test Interactive Server (no prerendering)</h1>

<BlazorApplicationInsightsScript @rendermode="InteractiveServerWithoutPrerenderingRenderMode" />

@code
{
    protected static IComponentRenderMode InteractiveServerWithoutPrerenderingRenderMode => new InteractiveServerRenderMode(prerender: false);
}