@page "/blazorapplicationinsightsscript/{mode?}"

<h1>Test BlazorApplicationInsightsScript</h1>
<h3>Render mode: @(GetRenderMode()?.GetType().Name ?? "SSR")</h3>

<BlazorApplicationInsightsScript @rendermode="GetRenderMode()" />

@code {
	[Parameter]
	public string Mode { get; set; }

	private IComponentRenderMode GetRenderMode() => Mode switch
	{
		"interactive-server"              => InteractiveServerWithoutPrerendering,
		"interactive-server-prerendering" => InteractiveServer,
		"interactive-wasm"                => InteractiveWebAssemblyWithoutPrerendering,
		"interactive-wasm-prerendering"   => InteractiveWebAssembly,
		_                                 => null
	};
}
