@attribute [Route(NavigationRoutes.BlazorApplicationInsightsStriptTests.InteractiveServerPrerendering)]

<h1>Test Interactive Server (with prerendering)</h1>

<BlazorApplicationInsightsScript @rendermode="InteractiveServer" />
