@page "/components/tabs"

<h1>Tabs (@nameof(HxTabPanel), @nameof(HxTab))</h1>

<p>Use <code>@nameof(HxTabPanel)</code> as a container for <code>@nameof(HxTab)</code> components.</p>

<ComponentApiDoc Type="typeof(HxTab)" SubComponent="true" DisplayBootstrapLink="false">
    <Demo Title="Tabs with IsInitiallyActive" Type="typeof(Tabs_InitialActiveTabId_Demo)" />
    <Demo Title="Tabs with IsCurrentlyActive" Type="typeof(Tabs_ActiveTabId_Demo)" />
</ComponentApiDoc>
