@attribute [Route("/components/" + nameof(HxRadioButtonList<TValue, TItem>))]
@attribute [Route("/components/" + nameof(HxRadioButtonListBase<TValue, TItem>))]

<ComponentApiDoc Type="typeof(HxRadioButtonList<TValue, TItem>)">

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxRadioButtonList_Demo)" Tabs="false" />

    <DocHeading Title="Inline" />
    <p>Group radios on the same horizontal row by adding <code>Inline="true"</code>.</p>
    <Demo Type="typeof(HxRadioButtonList_Demo_Inline)" />

</ComponentApiDoc>