@attribute [Route("/components/" + nameof(HxRadioButtonList<TValue, TItem>))]
@attribute [Route("/components/" + nameof(HxRadioButtonListBase<TValue, TItem>))]

<ComponentApiDoc Type="typeof(HxRadioButtonList<TValue, TItem>)">

    <DocHeading Title="Basic usage" />
    <Demo Type="typeof(HxRadioButtonList_Demo)" Tabs="false" />
	<DocDemoDataServiceNote />

    <DocHeading Title="Render modes" />
    <p>The <code>HxRadioButtonList</code> component supports several rendering modes via the <code>RenderMode</code> parameter.</p>
    <Demo Type="typeof(HxRadioButtonList_Demo_RenderModes)" />

    <DocHeading Title="Inline" />
    <p>Group radios on the same horizontal row by adding <code>Inline="true"</code>.</p>
    <Demo Type="typeof(HxRadioButtonList_Demo_Inline)" />

</ComponentApiDoc>