@attribute [Route("/components/" + nameof(HxFilterForm<string>))]

<ComponentApiDoc Type="typeof(HxFilterForm<>)">
	
	<h3 id="UsedInHxListLayout">Used in @nameof(HxListLayout)</h3>
	<p>
		See <a href="/components/@nameof(HxListLayout)">@nameof(HxListLayout)</a> demo with its filter and chips
		to see the real usage of the <code>HxFilterForm</code>.
	</p>

	<h3 id="StandaloneDemo">Standalone demo</h3>
	<Demo Type="typeof(HxFilterForm_Demo)" />

</ComponentApiDoc>
