@attribute [Route("/components/" + nameof(HxFilterForm<string>))]

<ComponentApiDoc Type="typeof(HxFilterForm<>)">
	
	<SectionTitle Id="UsedInHxListLayout">Used in @nameof(HxListLayout)</SectionTitle>
	<p>
		See <a href="/components/@nameof(HxListLayout)">@nameof(HxListLayout)</a> demo with its filter and chips
		to see the real usage of the <code>HxFilterForm</code>.
	</p>

	<SectionTitle Id="StandaloneDemo" />
	<Demo Type="typeof(HxFilterForm_Demo)" />

</ComponentApiDoc>
