@attribute [Route("/components/" + nameof(HxFilterForm<TModel>))]

<ComponentApiDoc Type="typeof(HxFilterForm<TModel>)">
	
	<DocHeading Title="Used in HxListLayout" />
	<p>
		See <a href="/components/@nameof(HxListLayout)">@nameof(HxListLayout)</a> demo with its filter and chips
		to see the real usage of the <code>HxFilterForm</code>.
	</p>

    <DocHeading Title="Standalone demo" />
    <DocAlert Type="DocAlertType.Warning">
        <code>HxFilterForm</code> component has to be kept rendered to work propertly with <code><a href="/components/HxChipList">HxChipList</a></code>.<br/>
        Beware of <code><a href="/components/HxOffcanvas">HxOffcanvas</a></code> where you have to set <code>RenderModer="OffcanvasRenderModer.Always"</code> to prevent removing the component from rendering when offcanvas is closed.
    </DocAlert>
	<Demo Type="typeof(HxFilterForm_Demo)" />

</ComponentApiDoc>
