@attribute [Route("/components/" + nameof(HxInputDateRange))]

<ComponentApiDoc Type="typeof(HxInputDateRange)">

	<h3>Basic Usage</h3>
	<Demo Type="typeof(HxInputDateRange_Demo)" Tabs="false" />

	<h3>Buttons in calendar</h3>
	<p>The <i>Clear</i> and <i>OK</i> buttons in calendars can be hidden by setting <code>ShowCalendarButtons="false"</code>.</p>
	<Demo Type="typeof(HxInputDateRange_Demo_CalendarButtons)" />

	<h3>Custom ranges</h3>
	<Demo Type="typeof(HxInputDateRange_Demo_CustomRanges)" />

</ComponentApiDoc>