@attribute [Route("/components/" + nameof(HxInputDateRange))]

<ComponentApiDoc Type="typeof(HxInputDateRange)">

	<h3>Basic Usage</h3>
	<Demo Type="typeof(HxInputDateRange_Demo)" Tabs="false" />

	<h3>Custom ranges</h3>
	<Demo Type="typeof(HxInputDateRange_Demo_CustomRanges)" />

</ComponentApiDoc>