@attribute [Route("/components/" + nameof(HxInputDateRange))]

<ComponentApiDoc Type="typeof(HxInputDateRange)">
	<MainContent>
		<DocAlert Type="DocAlertType.Warning">
			<code>HxInputDateRange</code> does not support additional <code>InputGroups</code>. Learn more about them <a href="/components/Inputs#InputGroups">here</a>.
		</DocAlert>

		<SectionTitle Id="BasicUsage" />
		<Demo Type="typeof(HxInputDateRange_Demo)" Tabs="false" />

        <SectionTitle Id="clear-button">Clear button in calendars</SectionTitle>
        <p>The <i>Clear</i> button in dropdown calendars can be hidden by setting <code>ShowClearButton="false"</code>.</p>
        <Demo Type="typeof(HxInputDateRange_Demo_ClearButton)" />

		<SectionTitle Id="CustomRanges">Predefined date ranges</SectionTitle>
		<p>Customization of predefined date ranges is possible with <code>PredefinedDateRanges</code> and <code>ShowPredefinedDateRanges</code> parameters.</p>
		<Demo Type="typeof(HxInputDateRange_Demo_CustomRanges)" />

		<SectionTitle Id="CalendarsCustomization">Dropdown calendars customization</SectionTitle>
		<p>
			You can change rendering of weekend days by defining your own CSS rule for <code>.weekend</code> class.
			The disabled days get <code>.disabled</code> class.
		</p>
		<DocAlert Type="DocAlertType.Warning">
			Disabling dates with the techniques below won't prevent the user from entering disabled dates manualy. You still have to validate the value.
		</DocAlert>

		<h4 id="MinDateMaxDate">MinDate, MaxDate</h4>
		<p>You can limit the dropdown calendars (both <i>From</i> and <i>To</i> together) enabled dates by setting <code>MinDate</code> and/or <code>MaxDate</code>.</p>
		<Demo Type="typeof(HxInputDateRange_Demo_MinDateMaxDate)" />

		<h4 id="DateCustomization">Calendars date customization</h4>
		<p>
			You can customize the dropdown calendars' dates with <code>CalendarDateCustomizationProvider</code>. You can disable individual dates
			(<code>Enabled="false"</code>) or set specific CSS class (<code>CssClass="...")</code>.
		</p>
		<Demo Type="typeof(HxInputDateRange_Demo_CalendarDateCustomization)" />

	</MainContent>
	<CssVariables>
		<ComponentApiDocCssVariable Name="--hx-input-date-range-dropdown-padding" Default="1rem">
			Padding of the dropdown.
		</ComponentApiDocCssVariable>
		<ComponentApiDocCssVariable Name="--hx-input-date-range-calendar-margin-bottom" Default="0">
			Margin bottom of the calendar.
		</ComponentApiDocCssVariable>
	</CssVariables>

</ComponentApiDoc>