@using Havit.Blazor.Components.Web.Bootstrap.Documentation.Pages.Components.HxTabPanelDoc
@attribute [Route("/components/" + nameof(HxCard))]
@attribute [Route("/components/" + nameof(HxCardText))]
@attribute [Route("/components/" + nameof(HxCardTitle))]
@attribute [Route("/components/" + nameof(HxCardSubtitle))]

<ComponentApiDoc Type="typeof(HxCard)">

	<SectionTitle Id="About" />
	<p>A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.</p>

	<SectionTitle Id="Example" />
	<Demo Type="typeof(HxCard_Demo_Basic)" />

	<SectionTitle Id="ContentTypes" />
	<p>Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
	<h4>Body</h4>
	<Demo Type="typeof(HxCard_Demo_Body)" />
	<h4>Titles, text and links</h4>
	<Demo Type="typeof(HxCard_Demo_TitlesTextLinks)" />
	<h4>Header and footer</h4>
	<Demo Type="typeof(HxCard_Demo_Header)" />
	<Demo Type="typeof(HxCard_Demo_HeaderFooter)" />

	<SectionTitle Id="Navigation" />
	<Demo Type="typeof(HxCard_Demo_NavigationTabs)" />
	<Demo Type="typeof(HxCard_Demo_NavigationPills)" />

    <SectionTitle Id="tab-panel">Navigation with HxTabPanel</SectionTitle>
    <p>With <code>&lt;HxTabPanel RenderMode="TabPanelRenderMode.Card"&gt;</code>, the tab navigation is placed in the card header and tab contents go into the card body.</p>
    <Demo Type="typeof(HxTabPanel_Demo_CardMode)" />

	<SectionTitle Id="Images" />
	<Demo Type="typeof(HxCard_Demo_ImageTop)" />
	<Demo Type="typeof(HxCard_Demo_ImageBottom)" />

	<h4 id="ImageOverlay" />
	<Demo Type="typeof(HxCard_Demo_ImageOverlay)" />
	<DocAlert>
		Note that content should not be larger than the height of the image.
		If content is larger than the image the content will be displayed outside the image.
	</DocAlert>

	<h4 id="ListGroups">List groups</h4>
	<p>Create lists of content in a card with a flush list group.</p>
	<Demo Type="typeof(HxCard_Demo_ListGroup)" />

	<SectionTitle Id="Variants" />
	<Demo Type="typeof(HxCard_Demo_Variants)" />

</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxCardText)" />
<ComponentApiDoc Type="typeof(HxCardTitle)" />
<ComponentApiDoc Type="typeof(HxCardSubtitle)" />
