@attribute [Route("/components/" + nameof(HxCard))]
@attribute [Route("/components/" + nameof(HxCardText))]
@attribute [Route("/components/" + nameof(HxCardTitle))]
@attribute [Route("/components/" + nameof(HxCardSubtitle))]

<ComponentApiDoc Type="typeof(HxCard)">

	<h3 id="About">About</h3>
	<p>A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.</p>

	<h3 id="Example">Example</h3>
	<Demo Type="typeof(HxCard_Demo_Basic)" />

	<h3 id="ContentTypes">Content types</h3>
	<p>Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
	<h4>Body</h4>
	<Demo Type="typeof(HxCard_Demo_Body)" />
	<h4>Titles, text and links</h4>
	<Demo Type="typeof(HxCard_Demo_TitlesTextLinks)" />
	<h4>Header and footer</h4>
	<Demo Type="typeof(HxCard_Demo_Header)" />
	<Demo Type="typeof(HxCard_Demo_HeaderFooter)" />

	<h3 id="Navigation">Navigation</h3>
	<Demo Type="typeof(HxCard_Demo_NavigationTabs)" />
	<Demo Type="typeof(HxCard_Demo_NavigationPills)" />

	<h3 id="Images">Images</h3>
	<Demo Type="typeof(HxCard_Demo_ImageTop)" />
	<Demo Type="typeof(HxCard_Demo_ImageBottom)" />

	<h4 id="ImageOverlay">Image overlay</h4>
	<Demo Type="typeof(HxCard_Demo_ImageOverlay)" />
	<DocAlert>
		Note that content should not be larger than the height of the image.
		If content is larger than the image the content will be displayed outside the image.
	</DocAlert>

	<h4 id="ListGroups">List groups</h4>
	<p>Create lists of content in a card with a flush list group.</p>
	<Demo Type="typeof(HxCard_Demo_ListGroup)" />

	<h3 id="Variants">Variants</h3>
	<Demo Type="typeof(HxCard_Demo_Variants)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxCardText)" />
<ComponentApiDoc Type="typeof(HxCardTitle)" />
<ComponentApiDoc Type="typeof(HxCardSubtitle)" />
