<HxCard style="width: 18rem;">
    <BodyTemplate>
        <HxCardTitle>Card title</HxCardTitle>
        <HxCardSubtitle CssClass="mb-2 text-muted">Card subtitle</HxCardSubtitle>
        <HxCardText>Some quick example text to build on the card title and make up the bulk of the card's content.</HxCardText>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </BodyTemplate>
</HxCard>