<HxCard CssClass="bg-primary text-white mb-2">
    <HeaderTemplate>Header - Primary card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard CssClass="bg-secondary text-white mb-2">
    <HeaderTemplate>Header - Secondary card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard CssClass="bg-success text-white mb-2">
    <HeaderTemplate>Header - Success card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard CssClass="bg-danger text-white mb-2">
    <HeaderTemplate>Header - Danger card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard CssClass="bg-warning mb-2">
    <HeaderTemplate>Header - Warning card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard CssClass="bg-info mb-2">
    <HeaderTemplate>Header - Info card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard CssClass="bg-light mb-2">
    <HeaderTemplate>Header - Light card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard CssClass="bg-dark text-white mb-2">
    <HeaderTemplate>Header - Dark card</HeaderTemplate>
    <BodyTemplate>
        <h5 class="card-title">Card title</h5>
        Card with custom CSS (and default skin)
    </BodyTemplate>
    <FooterTemplate>Foofoofoo</FooterTemplate>
</HxCard>

<HxCard Skin="CardSkin.None" CssClass="text-danger">
    <HeaderTemplate>Skin="CardSkin.None" CssClass="text-danger"</HeaderTemplate>
    <BodyTemplate>In some rare cases you might need to disable the default skin completely (text-danger would not override text-white from Default skin).</BodyTemplate>
    <FooterTemplate>Plain CssClass override should be enough in most cases.</FooterTemplate>
</HxCard>
