@page "/components/hxrepeater"

<ComponentApiDoc Type="typeof(HxRepeater<>)" DisplayBootstrapLink="false">
    <p class="lead">
        Component to display repeated items. Analogous to ASP.NET WebForms Repater control.
    </p>

    <Demo Type="typeof(HxRepeater_Demo)" />
</ComponentApiDoc>
