@page "/components/hxrepeater"

<h1>HxRepeater</h1>
<p class="lead">
	Component to display repeated items. Analogous to ASP.NET WebForms Repater control.
</p>

<Demo Type="typeof(HxRepeater_Demo)" />
