@attribute [Route("/components/" + nameof(HxOffcanvas))]

<ComponentApiDoc Type="typeof(HxOffcanvas)">
    <MainContent>
        <HxAlert Color="ThemeColor.Warning">
            Similar to modals, only one offcanvas can be shown at a time.<br />
            (We hide the current offcanvas if you open a new one.)
        </HxAlert>

        <h3>Usage</h3>
        <Demo Type="typeof(HxOffcanvas_Demo)" />

        <h3>Custom close-button icon</h3>
        <Demo Type="typeof(HxOffcanvas_Demo_CustomCloseButtonIcon)" />

        <h3>Placement</h3>
        <p>Choose the placement of the Offcanvas by setting the <code>Placement</code> parameter.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_Placement)" />
        <Demo Type="typeof(HxOffcanvas_Demo_PlacementStart)" />

        <h3>Backdrop</h3>
        <p>By default backdrop is enabled, you can disable it using the <code>BackdropEnabled</code> parameter.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_Backdrop)" />

        <h3>Size</h3>
        <p>Set the size of the <code>HxOffcanvas</code> with the <code>Size</code> parameter. The default value is <code>OffcanvasSize.Regular</code>.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_Size)" />
        <Demo Type="typeof(HxOffcanvas_Demo_SizeSmall)" />
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-offcanvas-close-icon-font-size" Default="2rem">
            Offcanvas close icon font size.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>
