<HxButton OnClick="HandleOpen" Text="Open" Color="ThemeColor.Primary" CssClass="d-lg-none" />

<HxOffcanvas @ref="offcanvasComponent" Title="Title" ResponsiveBreakpoint="OffcanvasResponsiveBreakpoint.Large">
    <BodyTemplate>
        <p class="mb-0">
            This is offcanvas body.<br />
            It is displayed using the offcanvas when below the selected breakpoint (otherwise in-place).<br />
            Resize your browser to see the responsive offcanvas behavior.<br />
        </p>
    </BodyTemplate>
</HxOffcanvas>

@code
{
    private HxOffcanvas offcanvasComponent;

    private async Task HandleOpen()
    {
        await offcanvasComponent.ShowAsync();
    }

    private async Task HandleHide()
    {
        await offcanvasComponent.HideAsync();
    }
}
