@page "/components/HxOffcanvas"

<ComponentApiDoc Type="typeof(HxOffcanvas)">
    <div class="alert alert-warning" role="alert">
        Similar to modals, only one offcanvas can be shown at a time.<br/>
	    (We hide the current offcanvas if you open a new one.)
    </div>

    <Demo Title="Default behavior" Type="typeof(HxOffcanvas_Demo)" />
</ComponentApiDoc>
