@attribute [Route("/components/" + nameof(HxOffcanvas))]

<ComponentApiDoc Type="typeof(HxOffcanvas)">
    <MainContent>
        <DocAlert Type="DocAlertType.Warning">
            Similar to modals, only one offcanvas can be shown at a time.<br />
            (We hide the current offcanvas if you open a new one.)
        </DocAlert>

        <DocHeading Title="Basic usage" />
        <Demo Type="typeof(HxOffcanvas_Demo)" Tabs="false" />

        <DocHeading Title="Custom close-button icon" />
        <Demo Type="typeof(HxOffcanvas_Demo_CustomCloseButtonIcon)" />

        <DocHeading Title="Placement" />
        <p>Choose the placement of the Offcanvas by setting the <code>Placement</code> parameter.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_Placement)" />

        <DocHeading Title="Backdrop" />
        <p>By default the backdrop is enabled (<code>OffcanvasBackdrop.True</code>), you can disable it with <code>Backdrop="OffcanvasBackdrop.False"</code>.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_Backdrop)" />

        <DocHeading Title="Static backdrop" />
        <p>When backdrop is set to <code>OffcanvasBackdrop.Static</code>, the offcanvas will not close when clicking outside of it.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_StaticBackdrop)" />

        <DocHeading Title="Responsive" />
        <p>When a value is supplied to the <code>ResponsiveBreakpoint</code> parameter, then content is displayed using the offcanvas when below the selected breakpoint.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_Responsive)" />

        <DocHeading Title="Size" />
        <p>Set the size of the <code>HxOffcanvas</code> with the <code>Size</code> parameter. The default value is <code>OffcanvasSize.Regular</code>.</p>
        <Demo Type="typeof(HxOffcanvas_Demo_Size)" />
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-offcanvas-close-icon-font-size" Default="2rem">
            Offcanvas close icon font size.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-offcanvas-footer-padding-x" Default="1rem">
            Horizontal padding of the footer.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-offcanvas-footer-padding-y" Default="1rem">
            Vertical padding of the footer.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-offcanvas-horizontal-width-sm" Default="400px">
            Horizontal width on a small screen size.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-offcanvas-horizontal-width-lg" Default="600px">
            Horizontal width on a large screen size.
        </ComponentApiDocCssVariable>

    </CssVariables>
</ComponentApiDoc>
