@attribute [Route("/components/" + nameof(HxPaginationContext))]

<ComponentApiDoc Type="typeof(HxPaginationContext)">
    <MainContent>
        <DocHeading Title="Basic usage" />
        <p><code>HxPaginationContext</code> is used to provide page status information to custom pagination implementations for <code>HxGrid</code> via its <code>PaginationTemplate</code>.</p>
    </MainContent>
</ComponentApiDoc>
