<div class="d-flex border rounded-3 mb-3 overflow-hidden">
	<HxSidebar @bind-Collapsed="Collapsed">
		<HeaderTemplate>
			<HxSidebarBrand BrandName="Brand name" BrandNameShort="BN"/>
		</HeaderTemplate>

		<ItemsTemplate>
			<HxSidebarItem Text="Dashboard" Icon="BootstrapIcon.Columns" TooltipText="Dashboard" Href="/components/HxSidebar/dashboard" />
			<HxSidebarItem Text="Employees" Icon="BootstrapIcon.People">
				<HxSidebarItem Text="Overview" Href="/components/HxSidebar/employees" />
				<HxSidebarItem Text="Absences" Href="/components/HxSidebar/absences" />
			</HxSidebarItem>
			<HxSidebarItem Text="Mine (with icons)" Icon="BootstrapIcon.Person">
				<HxSidebarItem Text="Overview" Icon="BootstrapIcon.Wallet2" Href="/components/HxSidebar/mine" Match="NavLinkMatch.All" />
				<HxSidebarItem Text="Timesheets" Icon="BootstrapIcon.Clock" Href="/components/HxSidebar/mine/timesheets" />
				<HxSidebarItem Text="Absences" Icon="BootstrapIcon.Exclamation" Href="/components/HxSidebar/mine/absences" />
			</HxSidebarItem>
			<HxSidebarItem Text="Administration" Icon="BootstrapIcon.Gear" Href="/components/HxSidebar/admin" />
		</ItemsTemplate>

		<FooterTemplate>
			<HxSidebarFooter Icon="BootstrapIcon.PersonCircle" TextCssClass="@(context.SidebarCollapsed ? "d-md-none" : null)" Text="Login" Href="/components/HxSidebar/login" />
		</FooterTemplate>
	</HxSidebar>
</div>

<HxButton Color="ThemeColor.Primary" OnClick="() => Collapsed = !Collapsed" IconPlacement="ButtonIconPlacement.End" Icon="BootstrapIcon.ArrowLeftRight">Toggle sidebar</HxButton>

@code {
	public bool Collapsed { get; set; }
}
