<HxSidebar>
	<HeaderTemplate>
        <HxSidebarBrand BrandName="Brand name" BrandNameShort="BN"/>
    </HeaderTemplate>

    <ItemsTemplate>
        <HxSidebarItem Text="Dashboard" Href="TEST" Icon="BootstrapIcon.Columns"/>
        <HxSidebarItem Text="Employees (plain)" Icon="BootstrapIcon.People">
            <HxSidebarItem Text="Overview" Href="/HxSidebarTest#x1" Match="NavLinkMatch.All"/>
            <HxSidebarItem Text="Absences" Href="TEST"/>
        </HxSidebarItem>
        <HxSidebarItem Text="Mine (with icons)" Href="TEST" Icon="BootstrapIcon.Person">
            <HxSidebarItem Text="Overview" Icon="BootstrapIcon.Wallet2" Href="#"/>
            <HxSidebarItem Text="Timesheets" Icon="BootstrapIcon.Clock"Href="TEST"/>
            <HxSidebarItem Text="Absences" Icon="BootstrapIcon.Exclamation" Href="TEST"/>
        </HxSidebarItem>
        <HxSidebarItem Text="Administration" Href="TEST" Icon="BootstrapIcon.Gear"/>
    </ItemsTemplate>

    <TogglerTemplate>
		<div class="d-flex">
			@if (context.SidebarCollapsed)
			{
				<span style="transform: translateX(15px) rotate(-90deg); font-size: 0.5rem;">
					OPEN
				</span>
				<HxIcon Icon="BootstrapIcon.CaretRight" />
			}
			else
			{
				<HxIcon CssClass="ms-2" Icon="BootstrapIcon.CaretLeft" />
				<span style="transform: translateX(-15px) rotate(90deg); font-size: 0.5rem;">
					CLOSE
				</span>
			}
		</div>
	</TogglerTemplate>
	<FooterTemplate>
        <HxSidebarFooter Href="/login" Icon="BootstrapIcon.Person" Text="@(context.SidebarCollapsed ? null : "Login")"/>
    </FooterTemplate>
</HxSidebar>

