@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

@* Add .container-xxl or similar, if you want to limit page width as this documentation does. *@
<div class="md:d-flex min-vh-100">

	@* The sidebar does not implement mobile navigation - hide it below your breakpoint of choice
	   and provide mobile navigation via HxNavbar (its HxNavbarDrawer opens as a drawer). *@
	<HxSidebar CssClass="sticky-top d-none md:d-flex">
		...
	</HxSidebar>

	<div class="main p-4 flex-grow-1 overflow-hidden">
		@Body
	</div>

</div>