@attribute [Route("/components/" + nameof(HxRadioButtonList<object, object>))]

<ComponentApiDoc Type="typeof(HxRadioButtonList<object, object>)">
	
	<h3>Usage</h3>
	<Demo Type="typeof(HxRadioButtonList_Demo)" />

</ComponentApiDoc>