@attribute [Route("/components/" + nameof(HxRadioButtonList<object, object>))]
@attribute [Route("/components/" + nameof(HxRadioButtonListBase<object, object>))]

<ComponentApiDoc Type="typeof(HxRadioButtonList<object, object>)">

    <h3 id="Usage">Usage</h3>
    <Demo Type="typeof(HxRadioButtonList_Demo)" />

    <h3 id="Inline">Inline</h3>
    <p>Group radios on the same horizontal row by adding <code>Inline="true"</code>.</p>
    <Demo Type="typeof(HxRadioButtonList_Demo_Inline)" />

</ComponentApiDoc>