@attribute [Route("/components/" + nameof(HxAutosuggest))]

<ComponentApiDoc Type="typeof(HxAutosuggest<TItem, TValue>)">
    <MainContent>
            <DocAlert Type="DocAlertType.Warning">
                Although <code>HxAutosuggest</code> supports <a href="/components/Inputs#InputGroups">input groups</a>, ending input groups conflict with the search icon, therefore, when <code>InputGroupEndText</code> or <code>InputGroupEndTemplate</code> are set, the search icon is not displayed.
            </DocAlert>

        <Demo Type="typeof(HxAutosuggest_Demo_Basic)" />
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-autosuggest-input-close-icon-opacity" Default=".25">
            Opacity of the close icon.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-autosuggest-item-highlighted-background-color" Default="var(--bs-gray-200)">
            When <code>HxAutosuggest.HighlightFirstSuggestion</code> is <code>true</code>, then the first item receives this background color.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>
