@namespace Havit.Blazor.Components.Web.Bootstrap

<button type="@GetButtonType()"
		class="@CssClassHelper.Combine("btn", GetColorCssClass(), GetSizeCssClass(), this.Skin?.CssClass, this.CssClass)"
		@onclick="HandleClick"
		@onclick:stopPropagation="this.OnClickStopPropagation"
		disabled="@(!CascadeEnabledComponent.EnabledEffective(this))"
		@attributes="InputAttributes">

	@if ((this.Icon ?? this.Skin?.Icon) is not null)
	{
		<HxIcon Icon="this.Icon ?? this.Skin?.Icon" />
		<text>&nbsp;</text>
	}

	@GetText()

	@ChildContent
</button>