@namespace Havit.Blazor.Components.Web.Bootstrap

@{
	string text = GetText();
}
<button type="@GetButtonType()"
		class="@CssClassHelper.Combine("hx-button", GetColorCssClass(), GetSizeCssClass(), this.Skin?.CssClass, this.CssClass)"
		@onclick="HandleClick" @onclick:stopPropagation="this.OnClickStopPropagation"
		disabled="@(!CascadeEnabledComponent.EnabledEffective(this))" form="@FormId">

	@if ((this.IconEffective is not null) || (this.SpinnerEffective && clickInProgress))
	{
		if (this.SpinnerEffective && clickInProgress)
		{
			<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
		}
		else if (this.IconEffective is not null)
		{
			<HxIcon Icon="this.Icon ?? this.Skin?.Icon" />
		}

		@if (!String.IsNullOrEmpty(text) || (ChildContent != null))
		{
			<span>&nbsp;</span>
		}
	}

	@text

	@ChildContent
</button>