<span class="@CssClassHelper.Combine("my-custom-icon", this.CssClass)"
      @attributes="this.AdditionalAttributes">@this.Icon.IconCharacter</span>

@code {
    /// <summary>
    /// Icon to render.
    /// </summary>
    [Parameter] public MyCustomIcon Icon { get; set; }

    /// <summary>
    /// CSS Class to combine with basic icon CSS class.
    /// </summary>
    [Parameter] public string CssClass { get; set; }

    /// <summary>
    /// Additional attributes to be splatted onto an underlying HTML element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; }
}