@page "/HxInputDateRange_EditForm"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<EditForm Model="model">
	<HxInputDateRange @bind-Value="model.Range"
					  Label="TestLabel"
					  DateOrderErrorMessage="TestDateOrderErrorMessage" />
</EditForm>

<p data-testid="value" class="pt-4">@model.Range</p>

@code {
	private FormModel model { get; set; } = new FormModel();
	public record class FormModel
	{
		public DateTimeRange Range { get; set; }
	}
}
