@attribute [Route(NavigationRoutes.BlazorApplicationInsightsStriptTests.InteractiveWebAssemblyPrerendering)]

<h1>Test Interactive WASM (with prerendering)</h1>

<BlazorApplicationInsightsScript @rendermode="InteractiveWebAssembly" />
