@attribute [Route(NavigationRoutes.BlazorApplicationInsightsStriptTests.InteractiveWebAssembly)]

<h1>Test Interactive WASM (no prerendering)</h1>

<BlazorApplicationInsightsScript @rendermode="InteractiveWebAssemblyWithoutPrerendering" />

