@attribute [Route(NavigationRoutes.BlazorApplicationInsightsScriptTests.InteractiveWebAssemblyPrerendering)]

<h1>Test Interactive WASM (with prerendering)</h1>

<BlazorApplicationInsightsScript @rendermode="InteractiveWebAssembly" />
