<EditForm Model="@model" OnValidSubmit="() => SetValidationStatus(true)" OnInvalidSubmit="() => SetValidationStatus(false)">
    <DataAnnotationsValidator />

    <div>@validationMessage</div>

    <HxInputText @bind-Value="@model.Text" Placeholder="Text" />
    <HxSubmit Color="ThemeColor.Primary" Text="Submit" />

    <HxValidationMessage For="() => model.Text" />
</EditForm>

@code {
    private DemoModel model = new();
    private string validationMessage = string.Empty;

    private void SetValidationStatus(bool validationStatus)
    {
        if (validationStatus)
        {
            validationMessage = "Validation passed!";
            return;
        }

        validationMessage = string.Empty;
    }

    protected class DemoModel
    {
        [Required(ErrorMessage = "A text has to be written.")]
        public string Text { get; set; }
    }
}