@page "/HxToast_StaticSSR_NoEnhanceNav"

<h3>HxToast_StaticSSR</h3>

<HxToastContainer Position="ToastContainerPosition.MiddleCenter">
	<HxToast HeaderText="HeaderText" ContentText="ContentText" AutohideDelay="2000" />
</HxToastContainer>