@attribute [Route("/components/" + nameof(HxNavbar))]
@attribute [Route("/components/" + nameof(HxNavbarBrand))]
@attribute [Route("/components/" + nameof(HxNavbarToggler))]
@attribute [Route("/components/" + nameof(HxNavbarCollapse))]
@attribute [Route("/components/" + nameof(HxNavbarText))]

<ComponentApiDoc Type="typeof(HxNavbar)">

	<h3>Example</h3>
	<Demo Type="typeof(HxNavbar_Demo_Basic)" />

	<h3>Brand</h3>
	<h4>Text brand</h4>
	<Demo Type="typeof(HxNavbar_Demo_BrandText)" />
	<h4>Image/icon brand</h4>
	<Demo Type="typeof(HxNavbar_Demo_BrandImage)" />

	<h3>Text</h3>
	<p>Navbars may contain bits of text with the help of <code>&lt;HxNavbarText /&gt;</code> component.</p>
	<Demo Type="typeof(HxNavbar_Demo_Text)" />

	<h3>Color schemes</h3>
	<p>Colors can be set with <code>Color</code> and <code>ColorScheme</code> parameters.</p>
	<Demo Type="typeof(HxNavbar_Demo_ColorSchemes)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxNavbarBrand)" />
<ComponentApiDoc Type="typeof(HxNavbarToggler)" />
<ComponentApiDoc Type="typeof(HxNavbarCollapse)" />
<ComponentApiDoc Type="typeof(HxNavbarText)" />
