@attribute [Route("/components/" + nameof(HxNavbar))]
@attribute [Route("/components/" + nameof(HxNavbarBrand))]
@attribute [Route("/components/" + nameof(HxNavbarToggler))]
@attribute [Route("/components/" + nameof(HxNavbarCollapse))]
@attribute [Route("/components/" + nameof(HxNavbarText))]

<ComponentApiDoc Type="typeof(HxNavbar)">

    <DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxNavbar_Demo_Basic)" Tabs="false" />

    <DocHeading Title="Brand" />
    <DocHeading Title="Text brand" Level="3" />
	<Demo Type="typeof(HxNavbar_Demo_BrandText)" />
    <DocHeading Title="Image/icon brand" Level="3" />
	<Demo Type="typeof(HxNavbar_Demo_BrandImage)" />

    <DocHeading Title="Text" />
	<p>Navbars may contain bits of text with the help of <code>&lt;HxNavbarText /&gt;</code> component.</p>
	<Demo Type="typeof(HxNavbar_Demo_Text)" />

    <DocHeading Title="Color schemes" />
	<p>Colors can be set with <code>Color</code> and <code>Theme</code> parameters. Additional colors can be achieved with <code>CssClass</code> parameter.</p>
	<Demo Type="typeof(HxNavbar_Demo_ColorSchemes)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxNavbarBrand)" />
<ComponentApiDoc Type="typeof(HxNavbarToggler)" />
<ComponentApiDoc Type="typeof(HxNavbarCollapse)" />
<ComponentApiDoc Type="typeof(HxNavbarText)" />
