@attribute [Route("/components/" + nameof(HxNavbar))]
@attribute [Route("/components/" + nameof(HxNavbarBrand))]
@attribute [Route("/components/" + nameof(HxNavbarToggler))]
@attribute [Route("/components/" + nameof(HxNavbarCollapse))]
@attribute [Route("/components/" + nameof(HxNavbarText))]

<ComponentApiDoc Type="typeof(HxNavbar)">

	<SectionTitle Id="Example" />
	<Demo Type="typeof(HxNavbar_Demo_Basic)" />

	<SectionTitle Id="Brand" />
	<h4 id="TextBrand">Text brand</h4>
	<Demo Type="typeof(HxNavbar_Demo_BrandText)" />
	<h4 id="ImageBrand">Image/icon brand</h4>
	<Demo Type="typeof(HxNavbar_Demo_BrandImage)" />

	<SectionTitle Id="Text" />
	<p>Navbars may contain bits of text with the help of <code>&lt;HxNavbarText /&gt;</code> component.</p>
	<Demo Type="typeof(HxNavbar_Demo_Text)" />

	<SectionTitle Id="ColorSchemes" />
	<p>Colors can be set with <code>Color</code> and <code>ColorScheme</code> parameters.</p>
	<Demo Type="typeof(HxNavbar_Demo_ColorSchemes)" />
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxNavbarBrand)" />
<ComponentApiDoc Type="typeof(HxNavbarToggler)" />
<ComponentApiDoc Type="typeof(HxNavbarCollapse)" />
<ComponentApiDoc Type="typeof(HxNavbarText)" />
