@using Havit.Blazor.Documentation.Pages.Components.HxTabPanelDoc
@attribute [Route("/components/" + nameof(HxCard))]
@attribute [Route("/components/" + nameof(HxCardText))]
@attribute [Route("/components/" + nameof(HxCardTitle))]
@attribute [Route("/components/" + nameof(HxCardSubtitle))]

<ComponentApiDoc Type="typeof(HxCard)">

	<DocHeading Title="About" />
	<p>A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.</p>

	<DocHeading Title="Basic usage" />
	<Demo Type="typeof(HxCard_Demo_Basic)" />

    <DocHeading Title="Content types" />
	<p>Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
    
    <DocHeading Title="Body" Level="3" />
	<Demo Type="typeof(HxCard_Demo_Body)" />

    <DocHeading Title="Titles, text and links" Level="3" />
	<Demo Type="typeof(HxCard_Demo_TitlesTextLinks)" />

    <DocHeading Title="Header and footer" Level="3" />
	<Demo Type="typeof(HxCard_Demo_Header)" />
	<Demo Type="typeof(HxCard_Demo_HeaderFooter)" />

    <DocHeading Title="Navigation" />
	<Demo Type="typeof(HxCard_Demo_NavigationTabs)" />
	<Demo Type="typeof(HxCard_Demo_NavigationPills)" />

    <DocHeading Title="Navigation with HxTabPanel" Id="tab-panel" Level="3" />
    <p>With <code>&lt;HxTabPanel Variant="TabPanelVariant.Card"&gt;</code>, the tab navigation is placed in the card header and tab contents go into the card body.</p>
    <Demo Type="typeof(HxTabPanel_Demo_CardMode)" />

    <DocHeading Title="Images" />
	<Demo Type="typeof(HxCard_Demo_ImageTop)" />
	<Demo Type="typeof(HxCard_Demo_ImageBottom)" />

    <DocHeading Title="Image overlays" Level="3" />
	<Demo Type="typeof(HxCard_Demo_ImageOverlay)" />
	<DocAlert>
		Note that content should not be larger than the height of the image.
		If content is larger than the image the content will be displayed outside the image.
	</DocAlert>

    <DocHeading Title="List groups" />
	<p>Create lists of content in a card with a flush list group.</p>
	<Demo Type="typeof(HxCard_Demo_ListGroup)" />

    <DocHeading Title="Variants" />
	<Demo Type="typeof(HxCard_Demo_Variants)" />

</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxCardText)" />
<ComponentApiDoc Type="typeof(HxCardTitle)" />
<ComponentApiDoc Type="typeof(HxCardSubtitle)" />
