@page "/premium/access-content"
@layout HomeLayout

<PageTitle>Access Premium Content | HAVIT Blazor Bootstrap - Free components for ASP.NET Core Blazor</PageTitle>
<DocHeadContent CanonicalRelativeUrl="/premium/access-content" />

<div class="d-flex w-100 h-100 justify-content-center align-items-center my-5">
	<HxCard CssClass="rounded-4 border-0 bg-body-secondary" BodyCssClass="d-flex flex-column align-items-center p-4">
		<BodyTemplate>
			<h4 class="fw-bold">HAVIT Blazor Premium</h4>
			<p class="opacity-75 text-center my-4">
				You are accessing content for Premium subscribers.<br />
				<br />
				To access the content, you must be logged in to a GitHub account with an active Premium sponsorship.<br />
				Without this, the content will not be accessible, and you may see a 404 error indicating it doesn't exist.<br />
				<br />
				<a class="link-body-emphasis" href="/premium">How to get Premium?</a>
			</p>
			<HxButton Text="Continue"
					  Size="ButtonSize.Large"
					  Color="ThemeColor.Dark"
					  CssClass="gap-3 px-3 rounded-pill w-100 mb-3"
					  IconPlacement="ButtonIconPlacement.End"
					  Icon="BootstrapIcon.ArrowRightCircleFill"
					  OnClick="ContinueToPremiumContent" />
			<HxCheckbox @bind-Value="_skipGatewayPage" Text="Skip this page for 24 hours" CssClass="mt-1" TextCssClass="small" />
		</BodyTemplate>
	</HxCard>
</div>


