@page "/premium"
@layout HomeLayout

<PageTitle>Get Premium | HAVIT Blazor Bootstrap - Free components for ASP.NET Core Blazor</PageTitle>
<DocHeadContent CanonicalRelativeUrl="/premium" />

<div style="height: 400px;" class="hero d-flex flex-column align-items-center justify-content-center">
	<h1 class="fw-bold text-center display-3">Upgrade to Premium</h1>
	<div style="max-width: 800px;" class="lead text-center">
		Enjoy access to a carefully selected collection of <a href="https://blocks.havit.blazor.eu">prebuilt UI blocks</a>, complete with Blazor, C# and CSS source code,
		priority support, and enterprise project source code for your inspiration.
	</div>
</div>

<div class="container">
	<div class="mb-5">
		<div class="row g-4">
			<div class="col-12 col-lg-4" data-bs-theme="dark">
				<HxCard CssClass="h-100 rounded-4" BodyCssClass="p-4 d-flex flex-column">
					<BodyTemplate>
						<h5 class="fw-bold text-white">Free forever</h5>
						<p class="fw-medium text-white">$0 Free for everyone</p>
						<div class="d-flex flex-column gap-2 opacity-75 mb-5 mt-2 small">
							<PlanItem Text="Full component library" />
							<PlanItem Text="Documentation" />
							<PlanItem Text="Community support" />
							<PlanItem Text="For commercial use" />
						</div>
						<a href="/getting-started" class="btn btn-light w-100 rounded-pill mt-auto">
							Get free content
						</a>
					</BodyTemplate>
				</HxCard>
			</div>
			<div class="col-12 col-lg-4">
				<HxCard CssClass="h-100 rounded-4 bg-body-secondary border-0" BodyCssClass="p-4 d-flex flex-column">
					<BodyTemplate>
						<h5 class="fw-bold">Premium</h5>
						<p class="fw-medium">$19 per user/month</p>
						<div class="d-flex flex-column gap-2 opacity-75 mb-5 mt-2 small">
							@* <strong>Everything from Free, plus</strong> *@
							<PlanItem Text="Pre-built UI blocks" />
							<PlanItem Text="Code samples" />
							<PlanItem Text="Priority support" />
							<PlanItem Text="Access to showcase enteprise project source-code" />
						</div>
						<a href="https://github.com/sponsors/havit/sponsorships?tier_id=437336" class="btn btn-dark w-100 rounded-pill mt-auto">
							Get Premium
						</a>
					</BodyTemplate>
				</HxCard>
			</div>
			<div class="col-12 col-lg-4">
				<HxCard CssClass="h-100 rounded-4" BodyCssClass="p-4 d-flex flex-column">
					<BodyTemplate>
						<h5 class="fw-bold">Custom</h5>
						<p class="fw-medium">Contact sales</p>
						<div class="d-flex flex-column gap-2 opacity-75 mb-5 mt-2 small">
							<strong>Tailor-made support for your team</strong>
							<PlanItem Text="Regular team consultations (mentorship)" />
							<PlanItem Text="Custom components development" />
							<PlanItem Text="Enterprise support" />
							<PlanItem Text="Custom themes implementation" />
						</div>
						<a href="mailto:blazor@havit.eu" class="btn btn-dark w-100 rounded-pill mt-auto">
							Contact us
						</a>
					</BodyTemplate>
				</HxCard>
			</div>
		</div>
	</div>
	<div class="footer text-center my-5 py-5">
		The Premium subscription is billed monthly via <a href="https://github.com/sponsors" target="_blank" rel="noopener noreferrer">GitHub sponsorship</a> and can be cancelled anytime.
	</div>
	<div class="row mb-5 g-5">
		<div class="col-lg-4 d-flex">
			<h2 class="mx-auto fw-bold display-6">Frequently<br> asked<br> questions.</h2>
		</div>
		<div class="col-lg-8">
			<HxAccordion>
				<HxAccordionItem>
					<HeaderTemplate>Can I use Free plan for commercial development?</HeaderTemplate>
					<BodyTemplate>
						Yes, our commitment is to keep the core component library free forever for everyone. You can use it in commercial projects without any restrictions.
					</BodyTemplate>
				</HxAccordionItem>
				<HxAccordionItem>
					<HeaderTemplate>How does the priority support work?</HeaderTemplate>
					<BodyTemplate>
						We actively monitor <a href="https://github.com/havit/Havit.Blazor/issues">GitHub issues</a> and <a href="https://github.com/havit/Havit.Blazor/discussions">discussions</a>,
						and any tickets from Premium sponsors/subscribers are flagged for faster attention.
						When you raise an issue or start a discussion with a linked GitHub account associated
						with your Premium subscription, we prioritize our responses and aim to provide more dedicated support,
						ensuring your feedback and questions are addressed promptly.
					</BodyTemplate>
				</HxAccordionItem>
				<HxAccordionItem>
					<HeaderTemplate>What happens if I cancel the subscription?</HeaderTemplate>
					<BodyTemplate>
						You can cancel your subscription at any time. If you cancel your subscription, you will lose access to the Premium content.
						This means your access to the Havit.Blazor.Premium repository, you’ll lose access to all premium features, updates, and support, as well as any new content added to the repository.
						You’ll still be able to use any code you’ve integrated into your own projects, as allowed under our license. However, you must delete all copies of the repository itself
						(including any forks or local clones).
					</BodyTemplate>
				</HxAccordionItem>
				<HxAccordionItem>
					<HeaderTemplate>Can I purchase Premium through a GitHub organization account?</HeaderTemplate>
					<BodyTemplate>
						Yes, you can purchase Premium using a GitHub organization account.
						However, after completing the sponsorship,
						please email <a href="mailto:blazor@havit.eu">blazor@havit.eu</a>
						with the personal (individual) GitHub account
						to which the Premium benefits should be activated.
					</BodyTemplate>
				</HxAccordionItem>
				<HxAccordionItem>
					<HeaderTemplate>Can I purchase Premium for multiple users in my organization?</HeaderTemplate>
					<BodyTemplate>
						Yes, Premium can be purchased for multiple users in your organization.
						Simply multiply the number of users by the subscription cost
						and after completing the sponsorship, email <a href="mailto:blazor@havit.eu">blazor@havit.eu</a>
						with a list of the personal (individual) GitHub accounts
						to which the benefits should be activated.
					</BodyTemplate>
				</HxAccordionItem>
				<HxAccordionItem>
					<HeaderTemplate>What if I need an invoice?</HeaderTemplate>
					<BodyTemplate>
						If you need an invoice for your Premium subscription,
						please email <a href="mailto:blazor@havit.eu">blazor@havit.eu</a>.
						We’ll be happy to assist you with the necessary documentation.
					</BodyTemplate>
				</HxAccordionItem>
				<HxAccordionItem>
					<HeaderTemplate>Is there any other purchase option than GitHub Sponsorship?</HeaderTemplate>
					<BodyTemplate>
						Currently, we've chosen GitHub Sponsorship as the simplest option.
						If GitHub Sponsorship isn’t suitable for you, please email
						us at <a href="mailto:blazor@havit.eu">blazor@havit.eu</a>,
						and we can arrange an alternative solution, such as an invoice and wire transfer.
					</BodyTemplate>
				</HxAccordionItem>
			</HxAccordion>
		</div>
	</div>
</div>

<script>
	gtag("event", "view_item", {
		value: 19,
		currency: "USD",
		items: [
		 {
		  item_id: "GitHubPremium19",
		  item_name: "GitHub Premium Sponsorship $19",
		}]
	});
</script>