@page "/components/hxprogressindicator"

<ComponentApiDoc Type="typeof(HxProgressIndicator)" DisplayBootstrapLink="false">
    <p class="lead">
        Displays the content of the component as "in progress".
    </p>

    <Demo Type="typeof(HxProgressIndicator_Demo)" />
</ComponentApiDoc>
