@attribute [Route("/components/" + nameof(HxProgressIndicator))]

<ComponentApiDoc Type="typeof(HxProgressIndicator)">

    <h3>Usage</h3>
    <Demo Type="typeof(HxProgressIndicator_Demo)" />
</ComponentApiDoc>
