@attribute [Route("/components/" + nameof(HxAlert))]

<ComponentApiDoc Type="typeof(HxAlert)">
    <Demo Type="typeof(HxAlert_Demo_Basic)" Tabs="false" />

    <h2>Icons</h2>
    <Demo Type="typeof(HxAlert_Demo_Icons)" Tabs="false" />

    <h2>Additional content</h2>
    <Demo Type="typeof(HxAlert_Demo_AdditionalContent)" Tabs="false" />

    <h2>Dissmissible</h2>
    <Demo Type="typeof(HxAlert_Demo_Dismissible)" Tabs="false" />
</ComponentApiDoc>
