@page "/components/HxAlert"

<h1>@nameof(HxAlert)</h1>
<p class="lead">
	Bootstrap Alert.
	<a href="https://getbootstrap.com/docs/5.0/components/alert/">https://getbootstrap.com/docs/5.0/components/alert/</a>
</p>

<h3>Properties</h3>
<ul>
	<li>
		<strong>@nameof(HxAlert.Color)</strong><br />
		Alert color (background). Required.
	</li>
	<li>
		<strong>@nameof(HxAlert.Dismissible)</strong><br />
		Shows the Close button and allows dissmissing of the alert.
	</li>
	<li>
		<strong>@nameof(HxAlert.CssClass)</strong><br />
		Any additional CSS class to apply.
	</li>
</ul>

<Demo Type="typeof(HxAlert_Demo)" />