@attribute [Route("/components/" + nameof(HxContextMenu))]

<ComponentApiDoc Type="typeof(HxContextMenu)">
    <MainContent>
        <Demo Type="typeof(HxContextMenu_Demo)" Tabs="false" />

        <SectionTitle Id="icons">Items with icons</SectionTitle>
        <p>You can set <code>Icon</code> parameter for some of the menu items.</p>
        <Demo Type="typeof(HxContextMenu_Demo_WithIcons)" />
    </MainContent>
    <CssVariables>
        <ComponentApiDocCssVariable Name="--hx-context-menu-button-border-radius" Default=".325rem">
            Border radius.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-context-menu-button-hover-background" Default="var(--bs-gray-300)">
            Background of the context menu button on hover.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-context-menu-button-padding" Default="0 .25rem">
            Padding of the context menu button.
        </ComponentApiDocCssVariable>
        <ComponentApiDocCssVariable Name="--hx-context-menu-item-icon-margin-right" Default="0.5rem">
            Margin of the item icon.
        </ComponentApiDocCssVariable>
    </CssVariables>
</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxContextMenuItem)" />
