name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -p:TreatWarningsAsErrors=true
    - name: Install Playwright browsers
      run: pwsh Havit.Blazor.E2ETests/bin/Debug/net10.0/playwright.ps1 install --with-deps
    - name: Test
      run: dotnet test --no-build --verbosity normal
