<div class="d-flex flex-wrap gap-3">
	<HxMenu>
		<Toggle>
			<HxMenuToggleButton Color="ThemeColor.Secondary">Default (bottom-start)</HxMenuToggleButton>
		</Toggle>
		<Content>
			<HxMenuItemNavLink Href="#">Item 1</HxMenuItemNavLink>
			<HxMenuItemNavLink Href="#">Some item 2</HxMenuItemNavLink>
			<HxMenuDivider />
			<HxMenuItemNavLink Href="#">Something else here</HxMenuItemNavLink>
		</Content>
	</HxMenu>

	<HxMenu Placement="MenuPlacement.Top">
		<Toggle>
			<HxMenuToggleButton Color="ThemeColor.Secondary">Top</HxMenuToggleButton>
		</Toggle>
		<Content>
			<HxMenuItemNavLink Href="#">Item 1</HxMenuItemNavLink>
			<HxMenuItemNavLink Href="#">Some item 2</HxMenuItemNavLink>
			<HxMenuDivider />
			<HxMenuItemNavLink Href="#">Something else here</HxMenuItemNavLink>
		</Content>
	</HxMenu>

	<HxMenu Placement="MenuPlacement.End">
		<Toggle>
			<HxMenuToggleButton Color="ThemeColor.Secondary">End</HxMenuToggleButton>
		</Toggle>
		<Content>
			<HxMenuItemNavLink Href="#">Item 1</HxMenuItemNavLink>
			<HxMenuItemNavLink Href="#">Some item 2</HxMenuItemNavLink>
			<HxMenuDivider />
			<HxMenuItemNavLink Href="#">Something else here</HxMenuItemNavLink>
		</Content>
	</HxMenu>

	<HxMenu Placement="MenuPlacement.BottomEnd">
		<Toggle>
			<HxMenuToggleButton Color="ThemeColor.Secondary">Bottom-end</HxMenuToggleButton>
		</Toggle>
		<Content>
			<HxMenuItemNavLink Href="#">Item 1</HxMenuItemNavLink>
			<HxMenuItemNavLink Href="#">Some item 2</HxMenuItemNavLink>
			<HxMenuDivider />
			<HxMenuItemNavLink Href="#">Something else here</HxMenuItemNavLink>
		</Content>
	</HxMenu>
</div>
