<HxButtonGroup>
	<HxButton Color="ThemeColor.Secondary">Split</HxButton>
	<HxMenu>
		<Toggle>
			<HxMenuToggleButton Color="ThemeColor.Secondary" Icon="BootstrapIcon.ChevronExpand">
				<span class="visually-hidden">Toggle menu</span>@* OPTIONAL (for accessibility) *@
			</HxMenuToggleButton>
		</Toggle>
		<Content>
			<HxMenuItemNavLink Href="#">Action</HxMenuItemNavLink>
			<HxMenuItemNavLink Href="#">Another action</HxMenuItemNavLink>
		</Content>
	</HxMenu>
</HxButtonGroup>
