@attribute [Route("/components/" + nameof(HxInputDate))]
@attribute [Route("/components/" + nameof(HxInputDateRange))]

<ComponentApiDoc Type="typeof(HxInputDate<DateTime>)">
	<h2>Examples</h2>
	<p>See <a href="/components/forminputs">Inputs demos</a>.</p>

</ComponentApiDoc>

<ComponentApiDoc Type="typeof(HxInputDateRange)" />