@attribute [Route("/components/" + nameof(HxDialogBase<object>))]

<ComponentApiDoc Type="typeof(HxDialogBase<object>)">

	<h3>Imlementation</h3>
	Use <a href="/components/@nameof(HxModal)">@nameof(HxModal)</a> with <code>@@ref="@nameof(HxDialogBase<object>.modal)"</code> inside of the dialog. See demo.

	<h3>How to use a custom dialog</h3>
	<Demo Type="typeof(HxDialogBase_Demo)" />

	<h3>How to implement a custom dialog</h3>
	<Demo Type="typeof(CustomDialog)" />

</ComponentApiDoc>
