@attribute [Route("/components/HxDialog")]
@attribute [Route("/components/" + nameof(HxDialogBase<TResult>))]

<ComponentApiDoc Type="typeof(HxDialogBase<TResult>)">

	<DocHeading Title="Implementation" />
	<p>Use <a href="/components/@nameof(HxModal)">@nameof(HxModal)</a> with <code>@@ref="@nameof(HxDialogBase<object>.modal)"</code> inside of the dialog. See demo.</p>

    <DocHeading Title="How to use a custom dialog" Id="custom-dialog-usage" />
	<Demo Type="typeof(HxDialogBase_Demo)" />

    <DocHeading Title="How to implement a custom dialog" Id="custom-dialog-implementation" />
	<Demo Type="typeof(CustomDialog)" Tabs="false" />

</ComponentApiDoc>
