@attribute [Route("/components/HxDialog")]
@attribute [Route("/components/" + nameof(HxDialogBase<object>))]

<ComponentApiDoc Type="typeof(HxDialogBase<object>)">

	<SectionTitle Id="Implementation" />
	<p>Use <a href="/components/@nameof(HxModal)">@nameof(HxModal)</a> with <code>@@ref="@nameof(HxDialogBase<object>.modal)"</code> inside of the dialog. See demo.</p>

	<SectionTitle Id="UsageOfCustomDialog">How to use a custom dialog</SectionTitle>
	<Demo Type="typeof(HxDialogBase_Demo)" />

	<SectionTitle Id="ImplementationOfCustomDialog">How to implement a custom dialog</SectionTitle>
	<Demo Type="typeof(CustomDialog)" Tabs="false" />

</ComponentApiDoc>
