<div class="border rounded p-2" style="resize: horizontal; overflow: hidden; min-width: 250px; max-width: 100%;">
	<HxNavOverflow Variant="NavVariant.Pills">
		<HxNavLink Href="#" Text="Home" CssClass="@HxNavOverflow.KeepVisibleCssClass" />
		<HxNavLink Href="#" Text="Products" />
		<HxNavLink Href="#" Text="Services" />
		<HxNavLink Href="#" Text="About" />
		<HxNavLink Href="#" Text="Blog" />
		<HxNavLink Href="#" Text="Careers" />
		<HxNavLink Href="#" Text="Contact" CssClass="@HxNavOverflow.KeepVisibleCssClass" />
	</HxNavOverflow>
</div>
