@page "/migrating"
@page "/migrating-to-v3"

<h1>Migrating to v4</h1>
<p class="lead">Migrating your projects to version 4 is pretty easy.</p>

<DocHeading Title="1. NuGet package" />
<p>Update the <a href="https://www.nuget.org/packages/Havit.Blazor.Components.Web.Bootstrap/">Havit.Blazor.Components.Web.Bootstrap</a> package through NuGet Package Manager or with the following command:</p>
<CodeSnippet Language="none">dotnet add package Havit.Blazor.Components.Web.Bootstrap</CodeSnippet>

<DocHeading Title="2. Bootstrap CSS and JS" />
<DocHeading Title="CSS" Level="3" />
<p>If you are using Bootstrap CSS from CDN, update the following line in your HTML head section. It's either <code>index.html</code> or <code>_Host.cshtml</code>/<code>_Layout.cshtml</code> depending on whether you're running WebAssembly or Server:</p>
<CodeSnippet Language="razor">
@@HxSetup.RenderBootstrapCssReference(BootstrapFlavor.PlainBootstrap)
or
@HxSetup.RenderBootstrapCssReference(BootstrapFlavor.PlainBootstrap)
</CodeSnippet>
<p>
    If you are referencing our Bootstrap CSS build <code>_content/Havit.Blazor.Components.Web.Bootstrap/bootstrap.css</code>, it is updated automatically.
    If you are referencing your custom Bootstrap build/theme, upgrade it to Bootstrap 5.3.
</p>

<DocHeading Title="Bootstrap JavaScript" Id="javascript" Level="3" />
<p>At the end of the HTML <code>&lt;body&gt;</code> section of either <code>index.html</code> or <code>_Host.cshtml</code>/<code>_Layout.cshtml</code>, update this line referencing Bootstrap JavaScript Bundle (with Popper) from CDN:</p>
<CodeSnippet Language="razor">
@@HxSetup.RenderBootstrapJavaScriptReference()
or
@HxSetup.RenderBootstrapJavaScriptReference()
</CodeSnippet>

<DocHeading Title="3. Breaking changes ⚠️" Id="breaking-changes" />

<DocHeading Title="Dropped obsolete components" Level="3" />
<p>
	We replaced <code>HxInputCheckbox</code> with the new <code>HxCheckbox</code> and <code>HxInputSwitch</code> with the new <code>HxSwitch</code>.<br />
	The original <code>Label</code> parameter is now <code>Text</code> (the <code>Label</code> parameter of new components has a different purpose, see <a href="/components/HxCheckbox"><code>HxCheckbox</code> documentation</a>).
</p>
<CodeSnippet Language="razor" File="~\Pages\Migrations\Migrating_HxCheckbox_HxSwitch.CodeSnippet.razor" />

<DocHeading Title="HxNavbar colors" Level="3" />
<p>
	As <a href="https://getbootstrap.com/docs/5.3/components/navbar/#color-schemes">Bootstrap 5.3 deprecated the original color schemes</a>, the <code>ColorScheme</code> parameter was removed.<br />
	Use the new parameter <code>ColorMode="ColorMode.Dark"</code> if needed (Light is the default).
</p>
<p>
	<strong>UPDATE v4.0.1:</strong> As Bootstrap 5.3 now expects you to use <a href="https://getbootstrap.com/docs/5.3/components/navbar/#color-schemes">text and background color CSS utilities</a> to customize the navbar with the <code>CssClass</code> parameter,
	we changed the default value of the <code>Color</code> parameter to <code>ThemeColor.None</code> to not interfere with your CSS classes. You can still use <code>Color="ThemeColor.Light"</code> to get the original navbar default color.
</p>

<DocHeading Title="HxGrid ContextMenu" Level="3" />
<p>
    The <code>ContextMenu</code> parameter was removed from <code>HxGrid</code> as it was replaced by <code>HxContextMenuGridColumn</code> a while ago and was already marked as [Obsolete].<br />
</p>
<CodeSnippet Language="razor" File="~\Pages\Migrations\Migrating_HxGrid_ContextMenu.CodeSnippet.razor" />


<DocHeading Title="4. Verify CSS customizations" />
<p>Check your CSS customizations and adjust them according to the new Bootstrap 5.3 and Havit.Blazor setup. Focus on these areas where there were some changes that might affect your visual:</p>
<ul>
    <li>Check the <a href="https://getbootstrap.com/docs/5.3/migration/#v530">Bootstrap 5.3 migration guide</a>.</li>
    <li>Check your chip-lists (<code>HxListLayout</code> filters).</li>
    <li>Check the <code>HxMultiSelect</code>.</li>
</ul>

<DocHeading Title="5. Enjoy the new dark color mode" />
<p>
	Bootstrap 5.3 introduced the <a href="https://getbootstrap.com/docs/5.3/customize/color/#color-scheme">dark color scheme</a> and we have added support for it in all our components.<br />
	Use the <code>data-bs-theme="dark"</code> attribute on the <code>&lt;html&gt;</code> element to enable it.<br />
	Please refer to the <a href="https://blog.getbootstrap.com/2023/05/30/bootstrap-5-3-0/#dark-mode">Bootstrap Dark mode documentation</a> for more details.
</p>


<DocHeading Title="5. Troubles?" />
<p>
    If you encounter any issues while migrating your project to v3, please feel free to use the  <a href="https://github.com/havit/Havit.Blazor/discussions">GitHub Discussions</a> to ask your questions.<br />
    If you find anything that appears to be a bug, please report it on our <a href="https://github.com/havit/Havit.Blazor/issues">GitHub Issues</a>.
</p>